engines/engine-i-lead-deduplication.json
{
  "name": "engine-i-lead-deduplication",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keeper-query",
        "options": {}
      },
      "id": "keeper-webhook",
      "name": "Knowledge Query Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "keeper-query"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\nreturn [{json: {query: input.query || 'No query provided', timestamp: new Date().toISOString()}}];"
      },
      "id": "keeper-parse",
      "name": "Parse Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Knowledge_Base",
          "mode": "list",
          "cachedResultName": "Knowledge_Base"
        },
        "options": {}
      },
      "id": "keeper-kb",
      "name": "Fetch Knowledge Base",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "FAQ",
          "mode": "list",
          "cachedResultName": "FAQ"
        },
        "options": {}
      },
      "id": "keeper-faq",
      "name": "Fetch FAQ",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Query_Log",
          "mode": "list",
          "cachedResultName": "Query_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$json.timestamp}}",
            "query": "={{$json.query}}",
            "confidence": "pending",
            "sources_used": "pending"
          }
        },
        "options": {}
      },
      "id": "keeper-log",
      "name": "Log Query",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        608,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Knowledge Query Webhook": {
      "main": [
        [
          {
            "node": "Parse Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query": {
      "main": [
        [
          {
            "node": "Fetch Knowledge Base",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Knowledge Base": {
      "main": [
        [
          {
            "node": "Log Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e0b9b040-3d1c-4670-8022-670b1a3fec2f",
  "meta": {
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "JKa0hnZl2V869hlf",
  "tags": []
}