engines/engine-a-campaign-optimizer.json
{
  "name": "engine-a-campaign-optimizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 3"
            }
          ]
        }
      },
      "id": "4e8f7f7f-7078-4f29-9bca-f9a1987a377b",
      "name": "Every Wednesday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Sheet rows into client configuration objects\n// This node receives data from 'Get Client Configs (Monday)' Google Sheets node\n\nconst configRows = $input.all().map(i => i.json);\n\nconst activeClients = configRows\n  .filter(row => String(row['Status'] || '').toLowerCase() === 'active')\n  .map(row => ({\n    id: row['Client ID'],\n    name: row['Client Name'],\n    industry: row['Industry'],\n    google_sheets: {\n      workspace_id: row['Workspace Sheet ID'],\n      master_library_id: row['Master Library Sheet ID'],\n      lead_intelligence_id: row['Lead Intelligence Sheet ID']\n    },\n    instantly: {\n      api_key: row['Instantly API Key'],\n      account_id: row['Instantly Account ID']\n    },\n    telegram: {\n      chat_id: row['Telegram Chat ID']\n    },\n    settings: {\n      optimization_threshold: parseFloat(row['Optimization Threshold'] || 8.0),\n      min_sent_count: parseInt(row['Min Sent Count'] || 50),\n      status: row['Status']\n    },\n    icp: {\n      titles: JSON.parse(row['ICP Titles JSON'] || '[]'),\n      industries: JSON.parse(row['ICP Industries JSON'] || '[]'),\n      employee_min: parseInt(row['ICP Employee Min'] || 50),\n      employee_max: parseInt(row['ICP Employee Max'] || 5000)\n    },\n    high_intent_pages: JSON.parse(row['High Intent Pages JSON'] || '[]')\n  }));\n\nif (activeClients.length === 0) {\n  throw new Error('No active clients found in Client-Configs sheet');\n}\n\nreturn [{\n  json: {\n    clients: activeClients,\n    totalClients: activeClients.length,\n    flow: 'monday_optimization',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "276da86e-99f0-4425-802c-48a301a55ea7",
      "name": "Get All Clients (Monday)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Sheet rows into client configuration objects\n// This node receives data from 'Get Client Configs (Wednesday)' Google Sheets node\n\nconst configRows = $input.all().map(i => i.json);\n\nconst activeClients = configRows\n  .filter(row => String(row['Status'] || '').toLowerCase() === 'active')\n  .map(row => ({\n    id: row['Client ID'],\n    name: row['Client Name'],\n    industry: row['Industry'],\n    google_sheets: {\n      workspace_id: row['Workspace Sheet ID'],\n      master_library_id: row['Master Library Sheet ID'],\n      lead_intelligence_id: row['Lead Intelligence Sheet ID']\n    },\n    instantly: {\n      api_key: row['Instantly API Key'],\n      account_id: row['Instantly Account ID']\n    },\n    telegram: {\n      chat_id: row['Telegram Chat ID']\n    },\n    settings: {\n      optimization_threshold: parseFloat(row['Optimization Threshold'] || 8.0),\n      min_sent_count: parseInt(row['Min Sent Count'] || 50),\n      status: row['Status']\n    },\n    icp: {\n      titles: JSON.parse(row['ICP Titles JSON'] || '[]'),\n      industries: JSON.parse(row['ICP Industries JSON'] || '[]'),\n      employee_min: parseInt(row['ICP Employee Min'] || 50),\n      employee_max: parseInt(row['ICP Employee Max'] || 5000)\n    },\n    high_intent_pages: JSON.parse(row['High Intent Pages JSON'] || '[]')\n  }));\n\nif (activeClients.length === 0) {\n  throw new Error('No active clients found in Client-Configs sheet');\n}\n\nreturn [{\n  json: {\n    clients: activeClients,\n    totalClients: activeClients.length,\n    flow: 'wednesday_deployment',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "a16c983b-c6d8-404a-b07d-0f33ece464f5",
      "name": "Get All Clients (Wednesday)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6877ec6e-4860-4d2e-9152-0da874e7b5b2",
      "name": "Loop Clients (Monday)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c82b8517-77f0-4780-930b-fdd44aef29c1",
      "name": "Loop Clients (Wednesday)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract current client from loop\nconst allClients = $('Get All Clients (Monday)').first().json.clients;\nconst currentIndex = $input.context.noItemsLeft ? allClients.length - 1 : $input.context.currentRunIndex;\nconst currentClient = allClients[currentIndex];\n\nreturn [{\n  json: {\n    currentClient: currentClient,\n    clientIndex: currentIndex,\n    totalClients: allClients.length\n  }\n}];"
      },
      "id": "4d4e5ac0-d942-469f-8eff-ed030d7fff4c",
      "name": "Get Current Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check deliverability health for this client\nconst client = $('Get Current Client').first().json.currentClient;\nconst campaignsData = $input.item.json;\nconst campaigns = campaignsData.campaigns || [];\n\nconst alerts = [];\nconst deliverabilityLogs = [];\n\nfor (const campaign of campaigns) {\n  if (campaign.status !== 'active') continue;\n  \n  const sent = parseInt(campaign.total_sent || 0);\n  const bounces = parseInt(campaign.total_bounced || 0);\n  const complaints = parseInt(campaign.spam_complaints || 0);\n  const opens = parseInt(campaign.total_opens || 0);\n  \n  if (sent === 0) continue;\n  \n  const bounceRate = (bounces / sent) * 100;\n  const complaintRate = (complaints / sent) * 100;\n  const openRate = (opens / sent) * 100;\n  \n  // Determine status\n  let status = 'healthy';\n  let actionTaken = 'none';\n  \n  if (bounceRate > 5) {\n    status = 'critical';\n    actionTaken = 'alert_sent';\n    alerts.push({\n      severity: 'critical',\n      campaign: campaign.name,\n      issue: `Bounce rate ${bounceRate.toFixed(2)}% exceeds 5% threshold`,\n      recommendation: 'Review list quality, pause sender if continues'\n    });\n  } else if (bounceRate > 2) {\n    status = 'warning';\n    actionTaken = 'monitoring';\n  }\n  \n  if (complaintRate > 0.1) {\n    status = 'critical';\n    actionTaken = 'alert_sent';\n    alerts.push({\n      severity: 'critical',\n      campaign: campaign.name,\n      issue: `Complaint rate ${complaintRate.toFixed(2)}% exceeds 0.1% threshold`,\n      recommendation: 'PAUSE SENDER IMMEDIATELY - Review content'\n    });\n  }\n  \n  // Log to deliverability\n  deliverabilityLogs.push({\n    date: new Date().toISOString().split('T')[0],\n    clientId: client.id,\n    clientName: client.name,\n    campaignId: campaign.id,\n    campaignName: campaign.name,\n    totalSent: sent,\n    totalBounces: bounces,\n    bounceRate: bounceRate.toFixed(2),\n    totalComplaints: complaints,\n    complaintRate: complaintRate.toFixed(2),\n    totalOpens: opens,\n    openRate: openRate.toFixed(2),\n    status: status,\n    actionTaken: actionTaken\n  });\n}\n\nreturn [{\n  json: {\n    client: client,\n    campaignsData: campaignsData,\n    campaigns: campaigns,\n    deliverabilityAlerts: alerts,\n    deliverabilityLogs: deliverabilityLogs,\n    alertCount: alerts.length\n  }\n}];"
      },
      "id": "34f07e99-128e-4aa1-9989-9ce38875a1e0",
      "name": "Check Deliverability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.alertCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e7b11a3-2639-4178-aa5c-45e30509f52c",
      "name": "IF Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1376,
        176
      ]
    },
    {
      "parameters": {
        "sendTo": "marcosmvm1515@gmail.com",
        "subject": "=[QI ALERT] Deliverability Issue - {{ $json.client.name }}",
        "emailType": "html",
        "message": "=<h2>Deliverability Alert</h2><p><strong>Client:</strong> {{ $json.client.name }}<br><strong>Alerts:</strong> {{ $json.alertCount }}</p><h3>Alert Details</h3>{{ $json.deliverabilityAlerts.map(a => '<div style=\"margin-bottom:15px;padding:10px;border-left:4px solid ' + (a.severity === 'critical' ? 'red' : 'orange') + ';\"><strong>' + a.severity.toUpperCase() + '</strong><br>Campaign: ' + a.campaign + '<br>Issue: ' + a.issue + '<br>Recommendation: ' + a.recommendation + '</div>').join('') }}<p><small>Time: {{ $now.format('yyyy-MM-dd HH:mm') }}</small></p>",
        "options": {}
      },
      "id": "21446c80-a38c-4e30-ba5e-9326ee72ee6f",
      "name": "Notify Deliverability Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1584,
        48
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-optimization",
              "leftValue": "={{ $json.status }}",
              "rightValue": "needs_optimization",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ce27265c-16fe-4217-af32-a1c1f4406653",
      "name": "IF Needs Optimization?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2256,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert email performance analyst. Analyze why this email variant is underperforming and identify specific problems.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": `Analyze this underperforming email variant:\\n\\nCampaign: ${$json.campaignName}\\nCurrent Reply Rate: ${$json.currentReplyRate}% (threshold: ${$json.threshold}%)\\nEmails Sent: ${$json.sentCount}\\n\\nSubject: ${$json.currentSubject}\\nBody: ${$json.currentBody}\\n\\nWhy is this underperforming? List 3-5 specific problems in JSON format:\\n{\\\"problems\\\": [\\\"problem 1\\\", \\\"problem 2\\\", ...], \\\"reasoning\\\": \\\"why these are issues\\\"}`\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500\n} }}",
        "options": {}
      },
      "id": "6c9fcb96-0914-4bcf-929d-2581908a3eef",
      "name": "AI - Analyze Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        48
      ],
      "credentials": {
        "openAiApi": {
          "id": "hUtcJD3545Z7HllT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert at analyzing high-performing email patterns. Search the Master Library for relevant successful patterns.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": `Master Library (top performers):\\n${JSON.stringify($json.masterLibrary, null, 2)}\\n\\nProblems identified: ${JSON.parse($('AI - Analyze Performance').item.json.choices[0].message.content).problems.join(', ')}\\n\\nFind 2-3 relevant patterns from the library that could fix these problems. Respond in JSON:\\n{\\\"patterns\\\": [{\\\"name\\\": \\\"pattern name\\\", \\\"why_relevant\\\": \\\"reason\\\", \\\"how_to_apply\\\": \\\"specific adaptation\\\"}], \\\"recommendations\\\": \\\"overall strategy\\\"}`\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 700\n} }}",
        "options": {}
      },
      "id": "d51d1be5-e497-44c4-ba54-89af6bcda752",
      "name": "AI - Search Library Patterns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        48
      ],
      "credentials": {
        "openAiApi": {
          "id": "hUtcJD3545Z7HllT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert email copywriter. Rewrite the underperforming variant using proven patterns from the Master Library.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": `Original (underperforming):\\nSubject: ${$json.currentSubject}\\nBody: ${$json.currentBody}\\n\\nProblems: ${JSON.parse($('AI - Analyze Performance').item.json.choices[0].message.content).problems.join(', ')}\\n\\nRecommendations: ${JSON.parse($('AI - Search Library Patterns').item.json.choices[0].message.content).recommendations}\\n\\nRewrite this email applying the proven patterns. Maintain {{firstName}}, {{company}} tokens. Keep under 125 words. Respond in JSON:\\n{\\\"newSubject\\\": \\\"improved subject\\\", \\\"newBody\\\": \\\"improved body\\\", \\\"keyChanges\\\": [\\\"change 1\\\", \\\"change 2\\\"], \\\"expectedImpact\\\": \\\"why this will perform better\\\"}`\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1000\n} }}",
        "options": {}
      },
      "id": "a2a3ae02-4e08-4470-baf3-462cd486a42b",
      "name": "AI - Rewrite Variant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        48
      ],
      "credentials": {
        "openAiApi": {
          "id": "hUtcJD3545Z7HllT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "marcosmvm1515@gmail.com",
        "subject": "=[QI] Optimization Staged - {{ $json.campaignName }}",
        "emailType": "html",
        "message": "=<h2>Optimization Staged</h2><p><strong>Client:</strong> {{ $json.client.name }}<br><strong>Campaign:</strong> {{ $json.campaignName }}<br><strong>Variant:</strong> Step {{ $json.stepNumber }}</p><h3>Current Performance</h3><ul><li>Reply Rate: {{ $json.lpvReplyRate }}%</li><li>Emails Sent: {{ $json.sentCount }}</li></ul><h3>Problems Identified</h3><p>{{ $json.problemsIdentified }}</p><h3>Changes Made</h3><p>{{ $json.keyChanges }}</p><h3>Expected Impact</h3><p>{{ $json.expectedImpact }}</p><p><strong>Deployment:</strong> Wednesday 9am</p><p><em>Review staged update in Google Sheets if needed</em></p>",
        "options": {}
      },
      "id": "8b692eba-4d9a-4083-b4b0-4ad7c86bec0f",
      "name": "Notify Staged (Email)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3792,
        48
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract current client for Wednesday flow\nconst allClients = $('Get All Clients (Wednesday)').first().json.clients;\nconst currentIndex = $input.context.noItemsLeft ? allClients.length - 1 : $input.context.currentRunIndex;\nconst currentClient = allClients[currentIndex];\n\nreturn [{\n  json: {\n    currentClient: currentClient,\n    clientIndex: currentIndex,\n    totalClients: allClients.length\n  }\n}];"
      },
      "id": "b0b9d1ff-de28-4ab8-827f-11d2b40ca2b1",
      "name": "Get Current Client (Wed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-updates",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready_to_deploy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "498bfc5d-e5d7-4ba1-a828-02f2758df7fe",
      "name": "IF Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1376,
        576
      ]
    },
    {
      "parameters": {
        "sendTo": "marcosmvm1515@gmail.com",
        "subject": "=[QI] Campaign Updates Deployed - {{ $json.campaignId }}",
        "emailType": "html",
        "message": "=<h2>Optimization Deployed</h2><p><strong>Client:</strong> {{ $json.client.name }}<br><strong>Campaign:</strong> {{ $json.campaignId }}<br><strong>Variant:</strong> {{ $json.variantId }}</p><h3>Changes Live</h3><p>New subject and body deployed to Instantly</p><h3>Next Steps</h3><p>Monitor for improved reply rates over next 7-14 days</p><p><small>Time: {{ $now.format('yyyy-MM-dd HH:mm') }}</small></p>",
        "options": {}
      },
      "id": "d3aae956-8bb8-4860-a962-a6b7ce79d022",
      "name": "Notify Deployed (Email)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        448
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "f4c88012-e727-4a18-b664-433f15200f64",
      "name": "Every Monday 9am1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://api.instantly.ai/api/v2/campaigns",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.currentClient.instantly.api_key }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7787344d-0356-46c1-9adf-2d1db6d6eeb2",
      "name": "Get Active Campaigns1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        },
        "instantlyApi": {
          "id": "1dzcLJUFfODJwSe4",
          "name": "Instantly account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.client.google_sheets.master_library_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Library"
        },
        "options": {}
      },
      "id": "cf2145f2-658c-4310-8ca8-b0d669df08e1",
      "name": "Get Master Library1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find low performing variants (LPVs)\nconst client = $('Check Deliverability').first().json.client;\nconst campaigns = $('Check Deliverability').first().json.campaigns;\nconst masterLibrary = $input.all().map(i => i.json);\n\n// Filter valid library entries\nconst validLib = masterLibrary.filter(row => {\n  const rate = String(row['Reply Rate (%)'] || row['Reply Rate'] || '').replace('%', '').trim();\n  return rate && rate !== 'TBD' && parseFloat(rate) > 0;\n});\n\nconst threshold = client.settings.optimization_threshold || 8.0;\nconst minSent = client.settings.min_sent_count || 50;\n\nconst needsOptimization = [];\n\nfor (const campaign of campaigns) {\n  if (campaign.status !== 'active') continue;\n  \n  const sequences = campaign.sequences || [];\n  \n  for (const sequence of sequences) {\n    const steps = sequence.steps || [];\n    \n    for (const step of steps) {\n      const variants = step.variants || [];\n      \n      for (const variant of variants) {\n        const replyRate = parseFloat(variant.reply_rate || 0);\n        const sentCount = parseInt(variant.sent_count || 0);\n        \n        // LPV criteria\n        if (replyRate < threshold && sentCount > minSent) {\n          needsOptimization.push({\n            client: client,\n            campaignId: campaign.id,\n            campaignName: campaign.name,\n            variantId: variant.id,\n            stepNumber: step.step_number,\n            currentSubject: variant.subject,\n            currentBody: variant.body,\n            currentReplyRate: replyRate,\n            currentOpenRate: parseFloat(variant.open_rate || 0),\n            sentCount: sentCount,\n            threshold: threshold,\n            fullCampaign: campaign\n          });\n        }\n      }\n    }\n  }\n}\n\nif (needsOptimization.length === 0) {\n  return [{\n    json: {\n      client: client,\n      status: 'no_optimization_needed',\n      message: `No LPVs found for ${client.name} (all performing above ${threshold}% or insufficient data)`,\n      campaignsChecked: campaigns.length\n    }\n  }];\n}\n\n// Take first LPV\nconst lpv = needsOptimization[0];\n\nreturn [{\n  json: {\n    ...lpv,\n    masterLibrary: validLib.slice(0, 10),\n    totalLPVs: needsOptimization.length,\n    status: 'needs_optimization'\n  }\n}];"
      },
      "id": "083ebfd4-55a4-4cc4-94f9-3bcf1d4e2ce4",
      "name": "Find Low Performers1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI responses and prepare for staging\nconst lpvData = $('Find Low Performers1').first().json;\nconst analysisRaw = $('AI - Analyze Performance').item.json.choices[0].message.content;\nconst patternsRaw = $('AI - Search Library Patterns').item.json.choices[0].message.content;\nconst rewriteRaw = $input.item.json.choices[0].message.content;\n\n// Clean and parse JSON responses\nconst cleanJSON = (str) => str.replace(/```json\\n?|```\\n?/g, '').trim();\n\nlet analysis, patterns, rewrite;\ntry {\n  analysis = JSON.parse(cleanJSON(analysisRaw));\n  patterns = JSON.parse(cleanJSON(patternsRaw));\n  rewrite = JSON.parse(cleanJSON(rewriteRaw));\n} catch (e) {\n  throw new Error(`Failed to parse AI responses: ${e.message}`);\n}\n\nreturn [{\n  json: {\n    client: lpvData.client,\n    campaignId: lpvData.campaignId,\n    campaignName: lpvData.campaignName,\n    variantId: lpvData.variantId,\n    stepNumber: lpvData.stepNumber,\n    originalSubject: lpvData.currentSubject,\n    originalBody: lpvData.currentBody,\n    newSubject: rewrite.newSubject,\n    newBody: rewrite.newBody,\n    problemsIdentified: analysis.problems.join('; '),\n    keyChanges: rewrite.keyChanges.join('; '),\n    expectedImpact: rewrite.expectedImpact,\n    lpvReplyRate: lpvData.currentReplyRate,\n    sentCount: lpvData.sentCount,\n    status: 'staged',\n    scheduledPush: 'Wednesday 9am',\n    createdDate: new Date().toISOString(),\n    createdBy: 'Engine A V2'\n  }\n}];"
      },
      "id": "06a88fb7-70a2-49a1-bb9e-4978c9d45d14",
      "name": "Prepare for Staging1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        48
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.client.google_sheets.workspace_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Staged Updates"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign ID": "={{ $json.campaignId }}",
            "Campaign Name": "={{ $json.campaignName }}",
            "Variant ID": "={{ $json.variantId }}",
            "Step Number": "={{ $json.stepNumber }}",
            "Original Subject": "={{ $json.originalSubject }}",
            "New Subject": "={{ $json.newSubject }}",
            "Original Body": "={{ $json.originalBody }}",
            "New Body": "={{ $json.newBody }}",
            "Problems Identified": "={{ $json.problemsIdentified }}",
            "Key Changes": "={{ $json.keyChanges }}",
            "Expected Impact": "={{ $json.expectedImpact }}",
            "LPV Reply Rate (%)": "={{ $json.lpvReplyRate }}",
            "Status": "={{ $json.status }}",
            "Scheduled Push": "={{ $json.scheduledPush }}",
            "Created Date": "={{ $json.createdDate }}",
            "Created By": "={{ $json.createdBy }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "5c7ea16f-280d-4ac2-8ce6-57dac04bc1a5",
      "name": "Stage in Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3344,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.client.google_sheets.workspace_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Optimization Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Timestamp": "={{ $now.toISO() }}",
            "Campaign ID": "={{ $json.campaignId }}",
            "Campaign Name": "={{ $json.campaignName }}",
            "Variant ID": "={{ $json.variantId }}",
            "Status": "={{ $json.status }}",
            "LPV Reply Rate (%)": "={{ $json.lpvReplyRate }}",
            "Expected Improvement": "={{ $json.expectedImpact }}",
            "Problems Identified": "={{ $json.problemsIdentified }}",
            "Key Changes": "={{ $json.keyChanges }}",
            "Scheduled Push": "={{ $json.scheduledPush }}",
            "Optimized By": "Engine A V2"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "80659099-dc6a-4419-8ad5-5cdd80c492e6",
      "name": "Log to Optimization Log1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3568,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.currentClient.google_sheets.workspace_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Staged Updates"
        },
        "options": {}
      },
      "id": "3409e1ae-6d03-4021-9a44-fee1ba63f677",
      "name": "Get Staged Updates1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter for updates ready to deploy\nconst client = $('Get Current Client (Wed)').first().json.currentClient;\nconst allUpdates = $input.all().map(i => i.json);\n\n// Filter for staged updates scheduled for today\nconst readyUpdates = allUpdates.filter(row => {\n  const status = String(row.Status || '').toLowerCase();\n  const scheduled = String(row['Scheduled Push'] || '').toLowerCase();\n  return status === 'staged' && scheduled.includes('wednesday');\n});\n\nif (readyUpdates.length === 0) {\n  return [{\n    json: {\n      client: client,\n      status: 'no_updates',\n      message: `No staged updates ready for deployment for ${client.name}`\n    }\n  }];\n}\n\n// Take first update\nconst update = readyUpdates[0];\n\nreturn [{\n  json: {\n    client: client,\n    campaignId: update['Campaign ID'],\n    variantId: update['Variant ID'],\n    newSubject: update['New Subject'],\n    newBody: update['New Body'],\n    status: 'ready_to_deploy',\n    totalReady: readyUpdates.length\n  }\n}];"
      },
      "id": "b9c19c27-accf-4c03-8095-3abeede55623",
      "name": "Filter Ready Updates1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        576
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.instantly.ai/api/v1/campaign/{{ $json.campaignId }}/variant/{{ $json.variantId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.client.instantly.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"subject\": $json.newSubject,\n  \"body\": $json.newBody\n} }}",
        "options": {}
      },
      "id": "caa60d92-4faa-4e88-8e25-9bd057e16354",
      "name": "Push Update to Instantly1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1584,
        448
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "Engine A\nCampaign Optimizer / Multi-Client\n002",
        "height": 832,
        "width": 4128,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        0
      ],
      "typeVersion": 1,
      "id": "de4b3a36-325a-4a6c-bd19-fda70e7b8950",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "10-14 days\nJan 13",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        16
      ],
      "id": "9760bf00-0b12-4549-bfbf-4cd8bf43b6ac",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {
    "Every Wednesday 9am": [
      {
        "json": {
          "timestamp": "2025-12-09T19:19:37.427-08:00",
          "Readable date": "December 9th 2025, 7:19:37 pm",
          "Readable time": "7:19:37 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "09",
          "Hour": "19",
          "Minute": "19",
          "Second": "37",
          "Timezone": "America/Los_Angeles (UTC-08:00)"
        }
      }
    ],
    "Get All Clients (Monday)": [
      {
        "json": {
          "clients": [
            {
              "id": "abc_insurance_001",
              "name": "ABC Insurance Agency",
              "industry": "insurance-life",
              "google_sheets": {
                "workspace_id": "YOUR_ABC_INSURANCE_SHEET_ID",
                "master_library_id": "YOUR_INSURANCE_MASTER_LIBRARY_SHEET_ID"
              },
              "instantly": {
                "api_key": "YOUR_ABC_INSTANTLY_API_KEY",
                "account_id": "YOUR_ABC_ACCOUNT_ID"
              },
              "telegram": {
                "chat_id": "-123456789"
              },
              "settings": {
                "optimization_threshold": 8,
                "min_sent_count": 50,
                "status": "active"
              }
            },
            {
              "id": "xyz_saas_002",
              "name": "XYZ SaaS Company",
              "industry": "saas-b2b",
              "google_sheets": {
                "workspace_id": "YOUR_XYZ_SAAS_SHEET_ID",
                "master_library_id": "YOUR_SAAS_MASTER_LIBRARY_SHEET_ID"
              },
              "instantly": {
                "api_key": "YOUR_XYZ_INSTANTLY_API_KEY",
                "account_id": "YOUR_XYZ_ACCOUNT_ID"
              },
              "telegram": {
                "chat_id": "-987654321"
              },
              "settings": {
                "optimization_threshold": 8,
                "min_sent_count": 50,
                "status": "active"
              }
            }
          ],
          "totalClients": 2,
          "flow": "monday_optimization",
          "timestamp": "2025-12-10T03:20:36.117Z"
        }
      }
    ],
    "Get All Clients (Wednesday)": [
      {
        "json": {
          "clients": [
            {
              "id": "abc_insurance_001",
              "name": "ABC Insurance Agency",
              "industry": "insurance-life",
              "google_sheets": {
                "workspace_id": "YOUR_ABC_INSURANCE_SHEET_ID",
                "master_library_id": "YOUR_INSURANCE_MASTER_LIBRARY_SHEET_ID"
              },
              "instantly": {
                "api_key": "YOUR_ABC_INSTANTLY_API_KEY",
                "account_id": "YOUR_ABC_ACCOUNT_ID"
              },
              "telegram": {
                "chat_id": "-123456789"
              },
              "settings": {
                "optimization_threshold": 8,
                "min_sent_count": 50,
                "status": "active"
              }
            },
            {
              "id": "xyz_saas_002",
              "name": "XYZ SaaS Company",
              "industry": "saas-b2b",
              "google_sheets": {
                "workspace_id": "YOUR_XYZ_SAAS_SHEET_ID",
                "master_library_id": "YOUR_SAAS_MASTER_LIBRARY_SHEET_ID"
              },
              "instantly": {
                "api_key": "YOUR_XYZ_INSTANTLY_API_KEY",
                "account_id": "YOUR_XYZ_ACCOUNT_ID"
              },
              "telegram": {
                "chat_id": "-987654321"
              },
              "settings": {
                "optimization_threshold": 8,
                "min_sent_count": 50,
                "status": "active"
              }
            }
          ],
          "totalClients": 2,
          "flow": "wednesday_deployment",
          "timestamp": "2025-12-10T03:19:39.100Z"
        }
      }
    ],
    "Every Monday 9am1": [
      {
        "json": {
          "timestamp": "2025-12-09T19:20:34.451-08:00",
          "Readable date": "December 9th 2025, 7:20:34 pm",
          "Readable time": "7:20:34 pm",
          "Day of week": "Tuesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "09",
          "Hour": "19",
          "Minute": "20",
          "Second": "34",
          "Timezone": "America/Los_Angeles (UTC-08:00)"
        }
      }
    ]
  },
  "connections": {
    "Every Wednesday 9am": {
      "main": [
        [
          {
            "node": "Get All Clients (Wednesday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Clients (Monday)": {
      "main": [
        [
          {
            "node": "Loop Clients (Monday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Clients (Wednesday)": {
      "main": [
        [
          {
            "node": "Loop Clients (Wednesday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Clients (Monday)": {
      "main": [
        [
          {
            "node": "Get Current Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Clients (Wednesday)": {
      "main": [
        [
          {
            "node": "Get Current Client (Wed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Client": {
      "main": [
        [
          {
            "node": "Get Active Campaigns1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deliverability": {
      "main": [
        [
          {
            "node": "IF Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Alerts?": {
      "main": [
        [
          {
            "node": "Notify Deliverability Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Master Library1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Deliverability Alert": {
      "main": [
        [
          {
            "node": "Get Master Library1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Needs Optimization?": {
      "main": [
        [
          {
            "node": "AI - Analyze Performance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Clients (Monday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Analyze Performance": {
      "main": [
        [
          {
            "node": "AI - Search Library Patterns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Search Library Patterns": {
      "main": [
        [
          {
            "node": "AI - Rewrite Variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Rewrite Variant": {
      "main": [
        [
          {
            "node": "Prepare for Staging1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Staged (Email)": {
      "main": [
        [
          {
            "node": "Loop Clients (Monday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Client (Wed)": {
      "main": [
        [
          {
            "node": "Get Staged Updates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Updates?": {
      "main": [
        [
          {
            "node": "Push Update to Instantly1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Clients (Wednesday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Deployed (Email)": {
      "main": [
        [
          {
            "node": "Loop Clients (Wednesday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Monday 9am1": {
      "main": [
        [
          {
            "node": "Get All Clients (Monday)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Campaigns1": {
      "main": [
        [
          {
            "node": "Check Deliverability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Master Library1": {
      "main": [
        [
          {
            "node": "Find Low Performers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Low Performers1": {
      "main": [
        [
          {
            "node": "IF Needs Optimization?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Staging1": {
      "main": [
        [
          {
            "node": "Stage in Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage in Google Sheets1": {
      "main": [
        [
          {
            "node": "Log to Optimization Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Optimization Log1": {
      "main": [
        [
          {
            "node": "Notify Staged (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Staged Updates1": {
      "main": [
        [
          {
            "node": "Filter Ready Updates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Updates1": {
      "main": [
        [
          {
            "node": "IF Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Update to Instantly1": {
      "main": [
        [
          {
            "node": "Notify Deployed (Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ed5c210-e2eb-462f-8af4-42fb9bae9d6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "G8Km2iVCwTzWFfFZ",
  "tags": []
}