engines/engine-h-the-sentinel.json
{
  "name": "Engine H - The Sentinel (Website Visitor Intelligence)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "visitor-identified",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "h-001-webhook",
      "name": "Visitor Identification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "visitor-identified-webhook",
      "notes": "Receives visitor identification data from RB2B, Clearbit Reveal, or similar tools. Configure webhook URL in your visitor tracking tool."
    },
    {
      "parameters": {
        "jsCode": "// Parse and normalize visitor identification data\n// Supports RB2B, Clearbit Reveal, Warmly, and generic formats\nconst body = $input.item.json.body || $input.item.json;\n\n// Detect source and extract data accordingly\nlet visitor = {\n  // Identification\n  visitorId: body.visitor_id || body.visitorId || body.id || `vis_${Date.now()}`,\n  sessionId: body.session_id || body.sessionId || '',\n  \n  // Person data (if individual identification available)\n  email: (body.email || body.person?.email || '').toLowerCase().trim(),\n  firstName: body.first_name || body.firstName || body.person?.first_name || '',\n  lastName: body.last_name || body.lastName || body.person?.last_name || '',\n  fullName: body.name || body.person?.name || '',\n  title: body.title || body.job_title || body.person?.title || '',\n  linkedinUrl: body.linkedin_url || body.linkedinUrl || body.person?.linkedin_url || '',\n  \n  // Company data\n  company: body.company || body.company_name || body.organization?.name || '',\n  domain: body.domain || body.company_domain || body.organization?.domain || '',\n  industry: body.industry || body.organization?.industry || '',\n  employeeCount: parseInt(body.employee_count || body.organization?.employee_count || 0),\n  \n  // Visit data\n  pageUrl: body.page_url || body.pageUrl || body.url || '',\n  pagePath: body.page_path || body.pagePath || '',\n  pageTitle: body.page_title || body.pageTitle || '',\n  referrer: body.referrer || body.referrer_url || '',\n  utmSource: body.utm_source || body.utmSource || '',\n  utmMedium: body.utm_medium || body.utmMedium || '',\n  utmCampaign: body.utm_campaign || body.utmCampaign || '',\n  \n  // Geo data\n  city: body.city || body.geo?.city || '',\n  state: body.state || body.region || body.geo?.region || '',\n  country: body.country || body.geo?.country || '',\n  ip: body.ip || body.ip_address || '',\n  \n  // Metadata\n  source: body.source || 'unknown',\n  timestamp: body.timestamp || new Date().toISOString(),\n  userAgent: body.user_agent || body.userAgent || '',\n  deviceType: body.device_type || body.deviceType || 'unknown'\n};\n\n// Extract domain from email if not provided\nif (!visitor.domain && visitor.email && visitor.email.includes('@')) {\n  visitor.domain = visitor.email.split('@')[1];\n}\n\n// Validate - need at least company domain or email\nconst isIdentified = !!(visitor.domain || visitor.email || visitor.company);\n\nif (!isIdentified) {\n  return [{\n    json: {\n      ...visitor,\n      identificationStatus: 'anonymous',\n      shouldProcess: false,\n      reason: 'No identifying information (company, domain, or email)'\n    }\n  }];\n}\n\nvisitor.identificationStatus = visitor.email ? 'individual' : 'company';\nvisitor.shouldProcess = true;\nvisitor.receivedAt = new Date().toISOString();\n\nreturn [{ json: visitor }];"
      },
      "id": "h-002-parse-visitor",
      "name": "Parse Visitor Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400],
      "notes": "Normalizes data from various visitor identification sources (RB2B, Clearbit, Warmly)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "should-process",
              "leftValue": "={{ $json.shouldProcess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h-003-identified-check",
      "name": "Visitor Identified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 400],
      "notes": "Routes identified visitors for processing, anonymous visitors to skip"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"skipped\",\n  \"reason\": $json.reason || \"Anonymous visitor - no identification data\",\n  \"visitorId\": $json.visitorId,\n  \"processedAt\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "h-004-response-anonymous",
      "name": "Response - Anonymous",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 560]
    },
    {
      "parameters": {
        "jsCode": "// Calculate intent score based on pages visited and behavior\n// Intent patterns can be configured in Client-Configs sheet 'High Intent Pages JSON' column\nconst visitor = $input.item.json;\nconst pageUrl = (visitor.pageUrl || '').toLowerCase();\nconst pagePath = (visitor.pagePath || '').toLowerCase();\n\nlet intentScore = 0;\nlet intentLevel = 'LOW';\nlet intentSignals = [];\n\n// Try to get custom high-intent pages from config, fallback to defaults\n// Client-Configs 'High Intent Pages JSON' can contain: [\"/pricing\", \"/demo\", \"/contact\"]\nlet customHighIntentPages = [];\ntry {\n  // Check if client config is available with custom high intent pages\n  const clientConfig = visitor.clientConfig || {};\n  if (clientConfig.high_intent_pages) {\n    customHighIntentPages = Array.isArray(clientConfig.high_intent_pages) \n      ? clientConfig.high_intent_pages \n      : JSON.parse(clientConfig.high_intent_pages);\n  }\n} catch (e) {\n  // Use defaults if parsing fails\n}\n\n// High-intent pages (30+ points each)\n// These can be overridden via Client-Configs 'High Intent Pages JSON'\nconst defaultHighIntentPatterns = ['pricing', 'demo', 'contact', 'book', 'schedule', 'get-started', 'trial', 'signup', 'quote', 'request-demo', 'book-call'];\nconst highIntentPatterns = customHighIntentPages.length > 0 \n  ? customHighIntentPages.map(p => p.replace(/^\\//,'').toLowerCase())\n  : defaultHighIntentPatterns;\n\nconst highIntentPages = highIntentPatterns.map(pattern => ({\n  pattern: pattern,\n  points: 35,\n  signal: `Visited ${pattern} page`\n}));\n\n// Medium-intent pages (15-25 points each)\nconst mediumIntentPages = [\n  { pattern: 'case-stud', points: 25, signal: 'Read case study' },\n  { pattern: 'customer', points: 20, signal: 'Viewed customers page' },\n  { pattern: 'testimonial', points: 20, signal: 'Viewed testimonials' },\n  { pattern: 'feature', points: 20, signal: 'Explored features' },\n  { pattern: 'solution', points: 20, signal: 'Viewed solutions' },\n  { pattern: 'how-it-works', points: 20, signal: 'Checked how it works' },\n  { pattern: 'integration', points: 15, signal: 'Viewed integrations' },\n  { pattern: 'comparison', points: 25, signal: 'Viewed comparison' },\n  { pattern: 'vs', points: 20, signal: 'Viewed competitor comparison' }\n];\n\n// Low-intent pages (5-10 points each)\nconst lowIntentPages = [\n  { pattern: 'about', points: 10, signal: 'Visited about page' },\n  { pattern: 'blog', points: 5, signal: 'Read blog' },\n  { pattern: 'resource', points: 10, signal: 'Accessed resources' },\n  { pattern: 'faq', points: 10, signal: 'Checked FAQ' },\n  { pattern: 'career', points: 0, signal: 'Viewed careers (likely not a prospect)' },\n  { pattern: 'job', points: 0, signal: 'Viewed jobs (likely not a prospect)' }\n];\n\n// Check high-intent\nfor (const page of highIntentPages) {\n  if (pageUrl.includes(page.pattern) || pagePath.includes(page.pattern)) {\n    intentScore += page.points;\n    intentSignals.push({ type: 'high', signal: page.signal, points: page.points });\n  }\n}\n\n// Check medium-intent\nfor (const page of mediumIntentPages) {\n  if (pageUrl.includes(page.pattern) || pagePath.includes(page.pattern)) {\n    intentScore += page.points;\n    intentSignals.push({ type: 'medium', signal: page.signal, points: page.points });\n  }\n}\n\n// Check low-intent\nfor (const page of lowIntentPages) {\n  if (pageUrl.includes(page.pattern) || pagePath.includes(page.pattern)) {\n    intentScore += page.points;\n    intentSignals.push({ type: 'low', signal: page.signal, points: page.points });\n  }\n}\n\n// Bonus points for specific behaviors\n// UTM tracking suggests paid ad click\nif (visitor.utmSource || visitor.utmMedium || visitor.utmCampaign) {\n  intentScore += 10;\n  intentSignals.push({ type: 'bonus', signal: 'Came from tracked campaign', points: 10 });\n}\n\n// Individual identification (has email) is stronger signal\nif (visitor.email) {\n  intentScore += 15;\n  intentSignals.push({ type: 'bonus', signal: 'Individual identified', points: 15 });\n}\n\n// Negative signals\nif (pagePath.includes('career') || pagePath.includes('job') || pagePath.includes('privacy') || pagePath.includes('terms')) {\n  intentScore -= 20;\n  intentSignals.push({ type: 'negative', signal: 'Non-prospect page', points: -20 });\n}\n\n// Determine intent level (thresholds can be made configurable)\nconst highThreshold = 40;\nconst mediumThreshold = 20;\nconst lowThreshold = 5;\n\nif (intentScore >= highThreshold) {\n  intentLevel = 'HIGH';\n} else if (intentScore >= mediumThreshold) {\n  intentLevel = 'MEDIUM';\n} else if (intentScore >= lowThreshold) {\n  intentLevel = 'LOW';\n} else {\n  intentLevel = 'MINIMAL';\n}\n\n// Should we pursue this visitor?\nconst shouldPursue = intentLevel === 'HIGH' || intentLevel === 'MEDIUM';\n\nreturn [{\n  json: {\n    ...visitor,\n    intentScore: intentScore,\n    intentLevel: intentLevel,\n    intentSignals: intentSignals,\n    shouldPursue: shouldPursue,\n    usingCustomIntentPages: customHighIntentPages.length > 0,\n    scoredAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "h-005-score-intent",
      "name": "Score Visitor Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 280],
      "notes": "Calculates intent score based on pages visited. Pricing/demo = high intent, blog = low intent."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "should-pursue",
              "leftValue": "={{ $json.shouldPursue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h-006-intent-check",
      "name": "High/Medium Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 280],
      "notes": "Only pursue HIGH and MEDIUM intent visitors"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Low-Intent-Visitors",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Visitor ID": "={{ $json.visitorId }}",
            "Company": "={{ $json.company }}",
            "Domain": "={{ $json.domain }}",
            "Page URL": "={{ $json.pageUrl }}",
            "Intent Score": "={{ $json.intentScore }}",
            "Intent Level": "={{ $json.intentLevel }}",
            "Signals": "={{ $json.intentSignals.map(s => s.signal).join('; ') }}",
            "City": "={{ $json.city }}",
            "Country": "={{ $json.country }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "h-007-log-low-intent",
      "name": "Log Low Intent Visitor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1300, 440],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Logs low-intent visitors for potential future retargeting"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"logged\",\n  \"intentLevel\": $json.intentLevel,\n  \"intentScore\": $json.intentScore,\n  \"message\": \"Low intent visitor logged for future reference\",\n  \"processedAt\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "h-008-response-low-intent",
      "name": "Response - Low Intent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/organizations/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"domain\": $json.domain\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "h-009-enrich-company",
      "name": "Apollo - Enrich Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      },
      "notes": "Enriches company data with Apollo.io for detailed firmographics"
    },
    {
      "parameters": {
        "jsCode": "// Combine visitor data with enriched company data\n// ICP criteria can be configured via Client-Configs sheet:\n// - ICP Employee Min / ICP Employee Max\n// - ICP Industries JSON\nconst visitor = $('Score Visitor Intent').item.json;\nconst companyData = $input.item.json.organization || {};\n\nconst enrichedVisitor = {\n  ...visitor,\n  \n  // Enhanced company data\n  enrichedCompany: {\n    id: companyData.id || null,\n    name: companyData.name || visitor.company,\n    domain: companyData.primary_domain || visitor.domain,\n    industry: companyData.industry || visitor.industry,\n    subIndustry: companyData.sub_industry || '',\n    employeeCount: companyData.estimated_num_employees || visitor.employeeCount,\n    annualRevenue: companyData.annual_revenue || 0,\n    annualRevenueFormatted: companyData.annual_revenue_printed || '',\n    foundedYear: companyData.founded_year || null,\n    linkedinUrl: companyData.linkedin_url || '',\n    websiteUrl: companyData.website_url || '',\n    headquarters: {\n      city: companyData.city || visitor.city,\n      state: companyData.state || visitor.state,\n      country: companyData.country || visitor.country\n    },\n    techStack: companyData.technologies || [],\n    keywords: companyData.keywords || [],\n    shortDescription: companyData.short_description || ''\n  },\n  \n  // Enrichment metadata\n  enrichmentStatus: companyData.id ? 'success' : 'partial',\n  apolloCompanyId: companyData.id || null,\n  enrichedAt: new Date().toISOString()\n};\n\n// Get ICP criteria from client config or use defaults\n// Client-Configs fields: ICP Employee Min, ICP Employee Max, ICP Industries JSON\nconst clientConfig = visitor.clientConfig || {};\n\n// Employee count range (configurable via Client-Configs)\nconst icpEmployeeMin = parseInt(clientConfig.icp_employee_min || clientConfig.ICP_Employee_Min || 50);\nconst icpEmployeeMax = parseInt(clientConfig.icp_employee_max || clientConfig.ICP_Employee_Max || 5000);\n\n// Target industries (configurable via Client-Configs 'ICP Industries JSON')\nlet icpIndustries = ['software', 'technology', 'saas', 'marketing', 'sales', 'financial'];\ntry {\n  if (clientConfig.icp_industries || clientConfig.ICP_Industries_JSON) {\n    const customIndustries = clientConfig.icp_industries || clientConfig.ICP_Industries_JSON;\n    icpIndustries = Array.isArray(customIndustries) \n      ? customIndustries.map(i => i.toLowerCase())\n      : JSON.parse(customIndustries).map(i => i.toLowerCase());\n  }\n} catch (e) {\n  // Keep defaults if parsing fails\n}\n\n// Determine ICP fit\nconst empCount = enrichedVisitor.enrichedCompany.employeeCount || 0;\nconst industry = (enrichedVisitor.enrichedCompany.industry || '').toLowerCase();\n\nlet icpFit = 'UNKNOWN';\nlet icpScore = 0;\nlet icpReasons = [];\n\n// Employee count scoring (configurable range)\nif (empCount >= icpEmployeeMin && empCount <= icpEmployeeMax) {\n  icpScore += 30;\n  icpReasons.push(`Employee count (${empCount}) in target range ${icpEmployeeMin}-${icpEmployeeMax}`);\n} else if (empCount > icpEmployeeMax && empCount <= icpEmployeeMax * 2) {\n  icpScore += 15;\n  icpReasons.push(`Employee count (${empCount}) slightly above target`);\n} else if (empCount < icpEmployeeMin && empCount >= icpEmployeeMin / 2) {\n  icpScore += 10;\n  icpReasons.push(`Employee count (${empCount}) slightly below target`);\n}\n\n// Industry scoring (configurable industries)\nfor (const targetIndustry of icpIndustries) {\n  if (industry.includes(targetIndustry)) {\n    icpScore += 25;\n    icpReasons.push(`Industry match: ${targetIndustry}`);\n    break; // Only count once\n  }\n}\n\n// Determine ICP fit level\nif (icpScore >= 50) {\n  icpFit = 'STRONG';\n} else if (icpScore >= 25) {\n  icpFit = 'MODERATE';\n} else {\n  icpFit = 'WEAK';\n}\n\nenrichedVisitor.icpFit = icpFit;\nenrichedVisitor.icpScore = icpScore;\nenrichedVisitor.icpReasons = icpReasons;\nenrichedVisitor.icpCriteria = {\n  employeeRange: `${icpEmployeeMin}-${icpEmployeeMax}`,\n  targetIndustries: icpIndustries,\n  usingCustomConfig: !!(clientConfig.icp_employee_min || clientConfig.icp_industries)\n};\n\nreturn [{ json: enrichedVisitor }];"
      },
      "id": "h-010-combine-data",
      "name": "Combine & Assess ICP Fit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 160],
      "notes": "Merges visitor and company data, assesses ICP fit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"q_organization_domains\": $json.enrichedCompany.domain,\n  \"person_titles\": [\"CEO\", \"CTO\", \"CFO\", \"COO\", \"CMO\", \"VP Sales\", \"VP Marketing\", \"VP Operations\", \"Director of Sales\", \"Director of Marketing\", \"Head of Growth\", \"Revenue Operations\", \"Chief Revenue Officer\", \"Founder\", \"Co-Founder\", \"Owner\"],\n  \"person_seniorities\": [\"owner\", \"founder\", \"c_suite\", \"vp\", \"director\", \"manager\"],\n  \"page\": 1,\n  \"per_page\": 25\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "h-011-find-decision-makers",
      "name": "Apollo - Find Decision Makers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      },
      "notes": "Searches for decision-makers at the visiting company"
    },
    {
      "parameters": {
        "jsCode": "// Process decision-makers into leads\nconst enrichedVisitor = $('Combine & Assess ICP Fit').item.json;\nconst peopleResponse = $input.item.json;\nconst people = peopleResponse.people || [];\n\n// If visitor was individually identified, prioritize them\nlet leads = [];\nlet visitorMatched = false;\n\n// Format each person as a lead\nfor (const person of people) {\n  // Check if this person matches the visitor\n  const isVisitor = enrichedVisitor.email && \n    person.email?.toLowerCase() === enrichedVisitor.email.toLowerCase();\n  \n  if (isVisitor) {\n    visitorMatched = true;\n  }\n  \n  leads.push({\n    // Lead identification\n    leadType: 'website_visitor',\n    sourceType: 'visitor_intelligence',\n    isActualVisitor: isVisitor,\n    \n    // Person data\n    email: person.email || '',\n    firstName: person.first_name || '',\n    lastName: person.last_name || '',\n    fullName: person.name || '',\n    title: person.title || '',\n    seniority: person.seniority || '',\n    department: person.departments?.[0] || '',\n    linkedinUrl: person.linkedin_url || '',\n    phoneNumber: person.phone_number || '',\n    \n    // Company data\n    company: enrichedVisitor.enrichedCompany.name,\n    domain: enrichedVisitor.enrichedCompany.domain,\n    industry: enrichedVisitor.enrichedCompany.industry,\n    employeeCount: enrichedVisitor.enrichedCompany.employeeCount,\n    annualRevenue: enrichedVisitor.enrichedCompany.annualRevenueFormatted,\n    \n    // Visit context\n    visitedPage: enrichedVisitor.pageUrl,\n    intentScore: enrichedVisitor.intentScore,\n    intentLevel: enrichedVisitor.intentLevel,\n    intentSignals: enrichedVisitor.intentSignals.map(s => s.signal).join('; '),\n    \n    // ICP fit\n    icpFit: enrichedVisitor.icpFit,\n    icpScore: enrichedVisitor.icpScore,\n    \n    // Source tracking\n    visitorId: enrichedVisitor.visitorId,\n    sessionId: enrichedVisitor.sessionId,\n    utmSource: enrichedVisitor.utmSource,\n    utmMedium: enrichedVisitor.utmMedium,\n    utmCampaign: enrichedVisitor.utmCampaign,\n    referrer: enrichedVisitor.referrer,\n    \n    // Personalization context\n    personalizationHook: isVisitor \n      ? `You recently visited our ${enrichedVisitor.pagePath || 'website'}...`\n      : `Someone from ${enrichedVisitor.enrichedCompany.name} was researching AI lead generation...`,\n    \n    // Metadata\n    apolloPersonId: person.id || null,\n    discoveredAt: new Date().toISOString(),\n    status: 'pending_compliance'\n  });\n}\n\n// Sort: actual visitor first, then by seniority\nconst seniorityOrder = ['owner', 'founder', 'c_suite', 'vp', 'director', 'manager'];\nleads.sort((a, b) => {\n  if (a.isActualVisitor && !b.isActualVisitor) return -1;\n  if (!a.isActualVisitor && b.isActualVisitor) return 1;\n  \n  const aIndex = seniorityOrder.indexOf(a.seniority) !== -1 ? seniorityOrder.indexOf(a.seniority) : 99;\n  const bIndex = seniorityOrder.indexOf(b.seniority) !== -1 ? seniorityOrder.indexOf(b.seniority) : 99;\n  return aIndex - bIndex;\n});\n\n// Summary\nconst summary = {\n  visitorCompany: enrichedVisitor.enrichedCompany.name,\n  visitorDomain: enrichedVisitor.enrichedCompany.domain,\n  visitedPage: enrichedVisitor.pageUrl,\n  intentLevel: enrichedVisitor.intentLevel,\n  intentScore: enrichedVisitor.intentScore,\n  icpFit: enrichedVisitor.icpFit,\n  totalDecisionMakers: leads.length,\n  visitorIdentified: visitorMatched,\n  processedAt: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    enrichedVisitor: enrichedVisitor,\n    leads: leads,\n    summary: summary\n  }\n}];"
      },
      "id": "h-012-format-leads",
      "name": "Format Intent Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 160],
      "notes": "Formats decision-makers as leads with full visit context and personalization hooks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{ $json.leads.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h-013-has-leads",
      "name": "Found Decision Makers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2180, 160],
      "notes": "Checks if any decision-makers were found at the visiting company"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Engine-H-Run-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Company": "={{ $json.enrichedVisitor.enrichedCompany.name }}",
            "Domain": "={{ $json.enrichedVisitor.enrichedCompany.domain }}",
            "Page Visited": "={{ $json.enrichedVisitor.pageUrl }}",
            "Intent Level": "={{ $json.enrichedVisitor.intentLevel }}",
            "Intent Score": "={{ $json.enrichedVisitor.intentScore }}",
            "ICP Fit": "={{ $json.enrichedVisitor.icpFit }}",
            "Decision Makers Found": "0",
            "Leads Queued": "0",
            "Status": "no_contacts_found",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "h-014-log-no-contacts",
      "name": "Log No Contacts Found",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [2400, 320],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Logs when company is identified but no contacts found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"company_identified\",\n  \"company\": $json.enrichedVisitor.enrichedCompany.name,\n  \"intentLevel\": $json.enrichedVisitor.intentLevel,\n  \"message\": \"Company identified but no decision-maker contacts found\",\n  \"processedAt\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "h-015-response-no-contacts",
      "name": "Response - No Contacts",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2620, 320]
    },
    {
      "parameters": {
        "jsCode": "// Split leads into individual items for compliance checking\nconst data = $input.item.json;\nconst leads = data.leads || [];\nconst enrichedVisitor = data.enrichedVisitor;\nconst summary = data.summary;\n\n// Return each lead as a separate item\nreturn leads.map(lead => ({\n  json: {\n    lead: lead,\n    enrichedVisitor: enrichedVisitor,\n    batchSummary: summary\n  }\n}));"
      },
      "id": "h-016-split-leads",
      "name": "Split Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 40],
      "notes": "Splits leads for individual compliance processing"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": true
        }
      },
      "id": "h-017-batch-leads",
      "name": "Batch Process",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2620, 40],
      "notes": "Processes leads in batches of 10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://marcosmatthews.app.n8n.cloud/webhook/check-dnc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"email\": $json.lead.email,\n  \"domain\": $json.lead.domain,\n  \"companyName\": $json.lead.company,\n  \"firstName\": $json.lead.firstName,\n  \"lastName\": $json.lead.lastName,\n  \"clientId\": \"quantum-insights\"\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "h-018-compliance-check",
      "name": "Guardian - Compliance Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 40],
      "notes": "Calls Guardian Engine for DNC and domain health check"
    },
    {
      "parameters": {
        "jsCode": "// Evaluate compliance result\nconst lead = $('Batch Process').item.json.lead;\nconst complianceResult = $input.item.json;\n\nconst isApproved = complianceResult.eligible === true && complianceResult.blocked !== true;\n\nreturn [{\n  json: {\n    lead: lead,\n    complianceResult: complianceResult,\n    isApproved: isApproved,\n    rejectionReason: isApproved ? null : (complianceResult.reason || complianceResult.recommendation || 'Failed compliance')\n  }\n}];"
      },
      "id": "h-019-evaluate-compliance",
      "name": "Evaluate Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3060, 40],
      "notes": "Determines compliance pass/fail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-approved",
              "leftValue": "={{ $json.isApproved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "h-020-compliance-approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3280, 40]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Intent-Lead-Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Priority": "={{ $json.lead.isActualVisitor ? 'HIGH - Actual Visitor' : $json.lead.intentLevel }}",
            "Email": "={{ $json.lead.email }}",
            "First Name": "={{ $json.lead.firstName }}",
            "Last Name": "={{ $json.lead.lastName }}",
            "Title": "={{ $json.lead.title }}",
            "Seniority": "={{ $json.lead.seniority }}",
            "Company": "={{ $json.lead.company }}",
            "Domain": "={{ $json.lead.domain }}",
            "Industry": "={{ $json.lead.industry }}",
            "Employee Count": "={{ $json.lead.employeeCount }}",
            "Annual Revenue": "={{ $json.lead.annualRevenue }}",
            "LinkedIn URL": "={{ $json.lead.linkedinUrl }}",
            "Visited Page": "={{ $json.lead.visitedPage }}",
            "Intent Level": "={{ $json.lead.intentLevel }}",
            "Intent Score": "={{ $json.lead.intentScore }}",
            "Intent Signals": "={{ $json.lead.intentSignals }}",
            "ICP Fit": "={{ $json.lead.icpFit }}",
            "Personalization Hook": "={{ $json.lead.personalizationHook }}",
            "UTM Source": "={{ $json.lead.utmSource }}",
            "UTM Campaign": "={{ $json.lead.utmCampaign }}",
            "Status": "queued",
            "Discovered At": "={{ $json.lead.discoveredAt }}",
            "Compliance Checked At": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "h-021-queue-lead",
      "name": "Queue Intent Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3500, -80],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Adds approved lead to intent queue with personalization context"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rejected-Leads-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Email": "={{ $json.lead.email }}",
            "First Name": "={{ $json.lead.firstName }}",
            "Last Name": "={{ $json.lead.lastName }}",
            "Company": "={{ $json.lead.company }}",
            "Domain": "={{ $json.lead.domain }}",
            "Visited Page": "={{ $json.lead.visitedPage }}",
            "Rejection Reason": "={{ $json.rejectionReason }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "h-022-log-rejected",
      "name": "Log Rejected",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3500, 160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Logs rejected leads for audit"
    },
    {
      "parameters": {},
      "id": "h-023-continue",
      "name": "Continue",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3720, 40]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate final results\nconst allItems = $input.all();\n\nlet queuedCount = allItems.filter(i => i.json.isApproved === true).length;\nlet rejectedCount = allItems.filter(i => i.json.isApproved === false).length;\n\nconst firstItem = allItems[0]?.json || {};\nconst batchSummary = firstItem.batchSummary || {};\n\nreturn [{\n  json: {\n    status: 'complete',\n    summary: {\n      ...batchSummary,\n      queuedForOutreach: queuedCount,\n      rejectedByCompliance: rejectedCount,\n      completedAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "h-024-aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, 40]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Engine-H-Run-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Company": "={{ $json.summary.visitorCompany }}",
            "Domain": "={{ $json.summary.visitorDomain }}",
            "Page Visited": "={{ $json.summary.visitedPage }}",
            "Intent Level": "={{ $json.summary.intentLevel }}",
            "Intent Score": "={{ $json.summary.intentScore }}",
            "ICP Fit": "={{ $json.summary.icpFit }}",
            "Decision Makers Found": "={{ $json.summary.totalDecisionMakers }}",
            "Leads Queued": "={{ $json.summary.queuedForOutreach }}",
            "Leads Rejected": "={{ $json.summary.rejectedByCompliance }}",
            "Visitor Identified": "={{ $json.summary.visitorIdentified ? 'Yes' : 'No' }}",
            "Status": "complete",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "h-025-log-run",
      "name": "Log Engine H Run",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [4160, 40],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "marcosmvm1515@gmail.com",
        "subject": "=Engine H - Website Visitor Detected | {{ $json.summary.visitorCompany }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #0A1628 0%, #1A2D4A 100%); padding: 20px; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #7B61FF; margin: 0; font-size: 24px;\">Engine H - The Sentinel</h1>\n    <p style=\"color: #E8EDF5; margin: 5px 0 0 0;\">Website Visitor Intelligence</p>\n  </div>\n  \n  <div style=\"background: #1A2D4A; padding: 20px; border-left: 3px solid #7B61FF;\">\n    <h3 style=\"color: #00D4FF; margin: 0 0 15px 0;\">Visitor Details</h3>\n    <table style=\"color: #E8EDF5; font-size: 14px;\">\n      <tr><td style=\"padding: 5px 15px 5px 0; color: #94A3B8;\">Company:</td><td style=\"font-weight: bold;\">{{ $json.summary.visitorCompany }}</td></tr>\n      <tr><td style=\"padding: 5px 15px 5px 0; color: #94A3B8;\">Domain:</td><td>{{ $json.summary.visitorDomain }}</td></tr>\n      <tr><td style=\"padding: 5px 15px 5px 0; color: #94A3B8;\">Page Visited:</td><td>{{ $json.summary.visitedPage }}</td></tr>\n    </table>\n  </div>\n  \n  <div style=\"background: #111827; padding: 20px;\">\n    <h3 style=\"color: #00FFB2; margin: 0 0 15px 0;\">Intent Analysis</h3>\n    <table style=\"color: #E8EDF5; font-size: 14px; width: 100%;\">\n      <tr>\n        <td style=\"padding: 10px; background: #1A2D4A; border-radius: 4px; text-align: center; width: 33%;\">\n          <div style=\"color: #94A3B8; font-size: 11px; margin-bottom: 5px;\">INTENT LEVEL</div>\n          <div style=\"font-size: 18px; font-weight: bold; color: {{ $json.summary.intentLevel === 'HIGH' ? '#00FFB2' : $json.summary.intentLevel === 'MEDIUM' ? '#F59E0B' : '#94A3B8' }};\">{{ $json.summary.intentLevel }}</div>\n        </td>\n        <td style=\"width: 5px;\"></td>\n        <td style=\"padding: 10px; background: #1A2D4A; border-radius: 4px; text-align: center; width: 33%;\">\n          <div style=\"color: #94A3B8; font-size: 11px; margin-bottom: 5px;\">INTENT SCORE</div>\n          <div style=\"font-size: 18px; font-weight: bold; color: #00D4FF;\">{{ $json.summary.intentScore }}</div>\n        </td>\n        <td style=\"width: 5px;\"></td>\n        <td style=\"padding: 10px; background: #1A2D4A; border-radius: 4px; text-align: center; width: 33%;\">\n          <div style=\"color: #94A3B8; font-size: 11px; margin-bottom: 5px;\">ICP FIT</div>\n          <div style=\"font-size: 18px; font-weight: bold; color: {{ $json.summary.icpFit === 'STRONG' ? '#00FFB2' : $json.summary.icpFit === 'MODERATE' ? '#F59E0B' : '#94A3B8' }};\">{{ $json.summary.icpFit }}</div>\n        </td>\n      </tr>\n    </table>\n  </div>\n  \n  <div style=\"background: #1A2D4A; padding: 20px;\">\n    <h3 style=\"color: #00D4FF; margin: 0 0 15px 0;\">Pipeline Status</h3>\n    <table style=\"color: #E8EDF5; font-size: 14px;\">\n      <tr><td style=\"padding: 5px 15px 5px 0;\">Decision Makers Found:</td><td style=\"color: #00D4FF; font-weight: bold;\">{{ $json.summary.totalDecisionMakers }}</td></tr>\n      <tr><td style=\"padding: 5px 15px 5px 0;\">Queued for Outreach:</td><td style=\"color: #00FFB2; font-weight: bold;\">{{ $json.summary.queuedForOutreach }}</td></tr>\n      <tr><td style=\"padding: 5px 15px 5px 0;\">Rejected by Compliance:</td><td style=\"color: #FF6B35;\">{{ $json.summary.rejectedByCompliance }}</td></tr>\n    </table>\n  </div>\n  \n  <div style=\"background: #0A1628; padding: 15px; border-radius: 0 0 8px 8px; text-align: center;\">\n    <p style=\"color: #94A3B8; margin: 0; font-size: 12px;\">Quantum Insights | {{ $now.format('yyyy-MM-dd HH:mm:ss') }}</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "h-026-gmail",
      "name": "Gmail - Visitor Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [4380, 40],
      "credentials": {
        "gmailOAuth2": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Sends professional email notification for website visitors"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"company\": $json.summary.visitorCompany,\n  \"intentLevel\": $json.summary.intentLevel,\n  \"decisionMakersFound\": $json.summary.totalDecisionMakers,\n  \"leadsQueued\": $json.summary.queuedForOutreach,\n  \"message\": \"Visitor processed successfully\"\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "h-027-response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4600, 40]
    }
  ],
  "connections": {
    "Visitor Identification Webhook": {
      "main": [
        [
          {
            "node": "Parse Visitor Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Visitor Data": {
      "main": [
        [
          {
            "node": "Visitor Identified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visitor Identified?": {
      "main": [
        [
          {
            "node": "Score Visitor Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Anonymous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Visitor Intent": {
      "main": [
        [
          {
            "node": "High/Medium Intent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High/Medium Intent?": {
      "main": [
        [
          {
            "node": "Apollo - Enrich Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Low Intent Visitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Low Intent Visitor": {
      "main": [
        [
          {
            "node": "Response - Low Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo - Enrich Company": {
      "main": [
        [
          {
            "node": "Combine & Assess ICP Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Assess ICP Fit": {
      "main": [
        [
          {
            "node": "Apollo - Find Decision Makers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo - Find Decision Makers": {
      "main": [
        [
          {
            "node": "Format Intent Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Intent Leads": {
      "main": [
        [
          {
            "node": "Found Decision Makers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found Decision Makers?": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Contacts Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log No Contacts Found": {
      "main": [
        [
          {
            "node": "Response - No Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Batch Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Process": {
      "main": [
        [
          {
            "node": "Guardian - Compliance Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardian - Compliance Check": {
      "main": [
        [
          {
            "node": "Evaluate Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Compliance": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Queue Intent Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Intent Lead": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rejected": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue": {
      "main": [
        [
          {
            "node": "Batch Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Log Engine H Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Engine H Run": {
      "main": [
        [
          {
            "node": "Gmail - Visitor Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Visitor Alert": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "engine-h-v1-sentinel",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "quantum-insights-engine-h"
  },
  "id": "engine-h-sentinel",
  "tags": [
    {
      "name": "visitor-intelligence"
    },
    {
      "name": "intent-scoring"
    },
    {
      "name": "website-tracking"
    },
    {
      "name": "apollo"
    },
    {
      "name": "engine-h"
    }
  ]
}
