engines/engine-c-dnc-checker.json
{
  "name": "engine-c-dnc-checker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-dnc",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3cf3852e-0bfc-43b4-a279-88637ec3454b",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        96,
        128
      ],
      "webhookId": "check-dnc-webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "list",
          "cachedResultName": "Cold Email Compliance System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Global-DNC-List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit#gid=0"
        },
        "options": {}
      },
      "id": "8028bfc9-0b53-4a30-b0e9-301ce8ea52bc",
      "name": "Get DNC List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if email or domain is on DNC list\nconst input = $('Prepare Input1').item.json;\nconst dncList = $input.all().map(i => i.json);\n\nconst email = input.email;\nconst domain = input.domain;\nconst clientId = input.clientId;\n\n// Check for exact email match\nconst emailMatch = dncList.find(row => \n  row.Email && row.Email.toLowerCase() === email\n);\n\n// Check for domain match\nconst domainMatch = dncList.find(row => \n  row.Domain && row.Domain.toLowerCase() === domain\n);\n\n// Check for global blocks (applies to all clients)\nconst globalBlock = dncList.find(row =>\n  (row.Email && row.Email.toLowerCase() === email || \n   row.Domain && row.Domain.toLowerCase() === domain) &&\n  row['Client ID'] === 'GLOBAL'\n);\n\n// Check for client-specific blocks\nconst clientBlock = dncList.find(row =>\n  (row.Email && row.Email.toLowerCase() === email || \n   row.Domain && row.Domain.toLowerCase() === domain) &&\n  row['Client ID'] === clientId\n);\n\nconst isBlocked = !!(emailMatch || domainMatch || globalBlock || clientBlock);\nconst blockReason = emailMatch || domainMatch || globalBlock || clientBlock;\n\nlet reason = '';\nlet blockType = '';\nlet dateAdded = '';\nlet addedBy = '';\n\nif (isBlocked) {\n  reason = blockReason.Reason || 'Unknown';\n  blockType = blockReason.Email ? 'Email' : 'Domain';\n  dateAdded = blockReason['Date Added'] || '';\n  addedBy = blockReason['Added By'] || '';\n}\n\nreturn [{\n  json: {\n    email: email,\n    domain: domain,\n    eligible: !isBlocked,\n    blocked: isBlocked,\n    blockType: blockType,\n    reason: reason,\n    dateAdded: dateAdded,\n    addedBy: addedBy,\n    clientId: clientId,\n    checkType: input.checkType,\n    checkedAt: new Date().toISOString(),\n    recommendation: isBlocked ? 'DO NOT CONTACT' : 'Safe to contact'\n  }\n}];"
      },
      "id": "b751b7cd-7fa6-4f37-8ac3-f86ea2fd6b44",
      "name": "Check DNC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-blocked",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a9b91c7-0811-4260-a731-c5f415f6a756",
      "name": "Is Blocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        976,
        128
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"blocked\",\n  \"eligible\": false,\n  \"email\": $json.email,\n  \"domain\": $json.domain,\n  \"blocked\": true,\n  \"blockType\": $json.blockType,\n  \"reason\": $json.reason,\n  \"dateAdded\": $json.dateAdded,\n  \"addedBy\": $json.addedBy,\n  \"recommendation\": \"DO NOT CONTACT - On DNC list\",\n  \"checkedAt\": $json.checkedAt\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "dda9bbed-5dda-4f90-9e99-842e3f80954c",
      "name": "Response - Blocked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1184,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"approved\",\n  \"eligible\": true,\n  \"email\": $json.email,\n  \"domain\": $json.domain,\n  \"blocked\": false,\n  \"recommendation\": \"Safe to contact - Not on DNC list\",\n  \"checkedAt\": $json.checkedAt\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "879dba29-e445-4e58-b2c2-127bbcd9742f",
      "name": "Response - Approved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1184,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract email and domain from webhook input\nconst body = $input.item.json.body;\n\nconst email = (body.email || '').toLowerCase().trim();\nconst domain = body.domain || email.split('@')[1] || '';\n\nif (!email && !domain) {\n  throw new Error('Must provide either email or domain');\n}\n\nreturn [{\n  json: {\n    email: email,\n    domain: domain,\n    companyName: body.companyName || '',\n    firstName: body.firstName || '',\n    lastName: body.lastName || '',\n    clientId: body.clientId || 'GLOBAL',\n    checkType: email ? 'email' : 'domain'\n  }\n}];"
      },
      "id": "ed4db63d-bd01-441e-a23b-a79d6840d356",
      "name": "Prepare Input1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        128
      ]
    },
    {
      "parameters": {
        "content": "Engine C\nDNC Checker\n000",
        "height": 368,
        "width": 1488,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7656d4d3-5de4-4cbf-a9cf-a80f7fdc8dea",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "1 -2 days\nJan 29",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "90ac2471-ec05-474a-8a8b-617693dbfe1a",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DNC List": {
      "main": [
        [
          {
            "node": "Check DNC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DNC": {
      "main": [
        [
          {
            "node": "Is Blocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Blocked?": {
      "main": [
        [
          {
            "node": "Response - Blocked",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input1": {
      "main": [
        [
          {
            "node": "Get DNC List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d06e19be-b1b8-4905-abd6-ce743f13a90f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "Qq41UuZubXoxPpZB",
  "tags": [
    {
      "name": "QI",
      "id": "5DedrhmIxfC3cWQG",
      "updatedAt": "2026-01-19T23:20:45.608Z",
      "createdAt": "2026-01-19T23:20:45.608Z"
    }
  ]
}