engines/engine-f-update-client-dashboards.json
{
  "name": "engine-f-update-client-dashboards",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "0db0af53-2b57-4161-8c58-383fca214a3e",
      "name": "Every Day 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Sheet rows into client configuration objects\n// This node receives data from 'Get Client Configs' Google Sheets node\n\nconst configRows = $input.all().map(i => i.json);\n\nconst activeClients = configRows\n  .filter(row => String(row['Status'] || '').toLowerCase() === 'active')\n  .map(row => ({\n    id: row['Client ID'],\n    name: row['Client Name'],\n    industry: row['Industry'],\n    google_sheets: {\n      workspace_id: row['Workspace Sheet ID'],\n      master_library_id: row['Master Library Sheet ID'],\n      lead_intelligence_id: row['Lead Intelligence Sheet ID']\n    },\n    instantly: {\n      api_key: row['Instantly API Key'],\n      account_id: row['Instantly Account ID']\n    },\n    telegram: {\n      chat_id: row['Telegram Chat ID']\n    },\n    settings: {\n      optimization_threshold: parseFloat(row['Optimization Threshold'] || 8.0),\n      min_sent_count: parseInt(row['Min Sent Count'] || 50),\n      status: row['Status']\n    }\n  }));\n\nif (activeClients.length === 0) {\n  throw new Error('No active clients found in Client-Configs sheet');\n}\n\nreturn activeClients.map(client => ({\n  json: {\n    clientConfig: client,\n    runDate: new Date().toISOString().split('T')[0],\n    runTimestamp: new Date().toISOString()\n  }\n}));"
      },
      "id": "d7068ef0-d29f-426b-8aa0-54e789bc8aea",
      "name": "Get All Active Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1bee9c9a-a0ab-4fc0-8075-68d1422bcaf9",
      "name": "Loop Through Clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        512,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://api.instantly.ai/api/v2/campaigns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "active"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "62d5118c-0367-4273-8f72-4b2d4068a6f9",
      "name": "Get Instantly Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process campaign data from Instantly\nconst clientConfig = $('Loop Through Clients').item.json.clientConfig;\nconst runDate = $('Loop Through Clients').item.json.runDate;\nconst instantlyData = $input.item.json;\n\nconst campaigns = instantlyData.campaigns || instantlyData.data || [];\n\n// Calculate aggregate stats\nlet totals = {\n  activeCampaigns: 0,\n  totalSent: 0,\n  totalOpened: 0,\n  totalClicked: 0,\n  totalReplied: 0,\n  totalBounced: 0,\n  totalUnsubscribed: 0\n};\n\nconst campaignDetails = [];\n\nfor (const campaign of campaigns) {\n  if (campaign.status !== 'active') continue;\n  \n  totals.activeCampaigns++;\n  \n  const stats = campaign.stats || {};\n  totals.totalSent += parseInt(stats.emails_sent || stats.total_sent || 0);\n  totals.totalOpened += parseInt(stats.emails_opened || stats.total_opened || 0);\n  totals.totalClicked += parseInt(stats.emails_clicked || stats.total_clicked || 0);\n  totals.totalReplied += parseInt(stats.emails_replied || stats.total_replied || 0);\n  totals.totalBounced += parseInt(stats.emails_bounced || stats.total_bounced || 0);\n  totals.totalUnsubscribed += parseInt(stats.emails_unsubscribed || stats.total_unsubscribed || 0);\n  \n  campaignDetails.push({\n    id: campaign.id,\n    name: campaign.name,\n    status: campaign.status,\n    sent: stats.emails_sent || stats.total_sent || 0,\n    opened: stats.emails_opened || stats.total_opened || 0,\n    replied: stats.emails_replied || stats.total_replied || 0,\n    bounced: stats.emails_bounced || stats.total_bounced || 0\n  });\n}\n\n// Calculate rates\nconst rates = {\n  openRate: totals.totalSent > 0 ? ((totals.totalOpened / totals.totalSent) * 100).toFixed(2) : '0.00',\n  clickRate: totals.totalSent > 0 ? ((totals.totalClicked / totals.totalSent) * 100).toFixed(2) : '0.00',\n  replyRate: totals.totalSent > 0 ? ((totals.totalReplied / totals.totalSent) * 100).toFixed(2) : '0.00',\n  bounceRate: totals.totalSent > 0 ? ((totals.totalBounced / totals.totalSent) * 100).toFixed(2) : '0.00',\n  unsubscribeRate: totals.totalSent > 0 ? ((totals.totalUnsubscribed / totals.totalSent) * 100).toFixed(2) : '0.00'\n};\n\n// Determine health status\nlet healthStatus = 'healthy';\nlet alerts = [];\n\nif (parseFloat(rates.bounceRate) > 5) {\n  healthStatus = 'critical';\n  alerts.push(`High bounce rate: ${rates.bounceRate}%`);\n} else if (parseFloat(rates.bounceRate) > 2) {\n  healthStatus = 'warning';\n  alerts.push(`Elevated bounce rate: ${rates.bounceRate}%`);\n}\n\nif (parseFloat(rates.unsubscribeRate) > 0.5) {\n  healthStatus = 'critical';\n  alerts.push(`High unsubscribe rate: ${rates.unsubscribeRate}%`);\n}\n\nif (parseFloat(rates.openRate) < 20 && totals.totalSent > 100) {\n  if (healthStatus !== 'critical') healthStatus = 'warning';\n  alerts.push(`Low open rate: ${rates.openRate}%`);\n}\n\nreturn [{\n  json: {\n    clientConfig: clientConfig,\n    runDate: runDate,\n    totals: totals,\n    rates: rates,\n    healthStatus: healthStatus,\n    alerts: alerts,\n    campaignDetails: campaignDetails,\n    dashboardRow: {\n      date: runDate,\n      clientId: clientConfig.id,\n      clientName: clientConfig.name,\n      activeCampaigns: totals.activeCampaigns,\n      totalSent: totals.totalSent,\n      totalOpened: totals.totalOpened,\n      openRate: rates.openRate,\n      totalReplied: totals.totalReplied,\n      replyRate: rates.replyRate,\n      totalBounced: totals.totalBounced,\n      bounceRate: rates.bounceRate,\n      healthStatus: healthStatus,\n      alerts: alerts.join('; ') || 'None'\n    }\n  }\n}];"
      },
      "id": "d150dc36-ceac-4392-bb38-669fcb1b5210",
      "name": "Process Campaign Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        128
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.clientConfig.google_sheets.workspace_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Deliverability-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.runDate }}",
            "Campaign ID": "=ALL_CAMPAIGNS",
            "Campaign Name": "=Daily Aggregate",
            "Sender Email": "=N/A",
            "Total Sent": "={{ $json.totals.totalSent }}",
            "Total Bounces": "={{ $json.totals.totalBounced }}",
            "Bounce Rate (%)": "={{ $json.rates.bounceRate }}",
            "Total Complaints": "=0",
            "Complaint Rate (%)": "=0",
            "Total Opens": "={{ $json.totals.totalOpened }}",
            "Open Rate (%)": "={{ $json.rates.openRate }}",
            "Total Replies": "={{ $json.totals.totalReplied }}",
            "Reply Rate (%)": "={{ $json.rates.replyRate }}",
            "Status": "={{ $json.healthStatus }}",
            "Action Taken": "=Daily sync",
            "Notes": "={{ $json.alerts.join('; ') || 'No issues' }}",
            "Timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "5dd339aa-a55e-45af-8d17-9606eec1df5f",
      "name": "Update Client Deliverability Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZbHvgaZL_kn6XEgf88rSLq1O5jiq_Gf1dCWtjdC-zdE",
          "mode": "list",
          "cachedResultName": "Platform-Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZbHvgaZL_kn6XEgf88rSLq1O5jiq_Gf1dCWtjdC-zdE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "All-Clients-Overview",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client ID": "={{ $json.dashboardRow.clientId }}",
            "Client Name": "={{ $json.dashboardRow.clientName }}",
            "Active Campaigns": "={{ $json.dashboardRow.activeCampaigns }}",
            "Avg Reply Rate (%)": "={{ $json.dashboardRow.replyRate }}",
            "Health Score": "={{ $json.healthStatus === 'healthy' ? 90 : ($json.healthStatus === 'warning' ? 70 : 50) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client ID",
              "displayName": "Client ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Active Campaigns",
              "displayName": "Active Campaigns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Leads Submitted",
              "displayName": "Total Leads Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Compliance Pass Rate (%)",
              "displayName": "Compliance Pass Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Avg Reply Rate (%)",
              "displayName": "Avg Reply Rate (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Optimizations This Month",
              "displayName": "Optimizations This Month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Campaign Created",
              "displayName": "Last Campaign Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Optimization",
              "displayName": "Last Optimization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Monthly Spend ($)",
              "displayName": "Monthly Spend ($)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Health Score",
              "displayName": "Health Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b0902cb2-d3bc-4c2e-b35b-e7cc5dac985c",
      "name": "Update Platform Dashboard",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.alerts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ec6e90c-ad91-456c-908c-5acc7c593758",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1312,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "marcosmvm1515@gmail.com",
        "subject": "=[QI ALERT] Dashboard Health Issue - {{ $json.clientConfig.name }}",
        "emailType": "html",
        "message": "=<h2>Dashboard Alert for {{ $json.clientConfig.name }}</h2><h3>Daily Stats ({{ $json.runDate }})</h3><ul><li>Active Campaigns: {{ $json.totals.activeCampaigns }}</li><li>Emails Sent: {{ $json.totals.totalSent }}</li><li>Reply Rate: {{ $json.rates.replyRate }}%</li><li>Bounce Rate: {{ $json.rates.bounceRate }}%</li></ul><h3>Alerts</h3><ul>{{ $json.alerts.map(a => '<li>' + a + '</li>').join('') }}</ul><p><strong>Status:</strong> {{ $json.healthStatus.toUpperCase() }}</p>",
        "options": {}
      },
      "id": "901e0779-e554-4fb6-9422-6027fdd87d24",
      "name": "Send Alert to Admin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        16
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Continue to next client in loop\nreturn [{ json: { continue: true } }];"
      },
      "id": "ef62d03d-cd35-4cf3-8f3f-058e7d543e12",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Daily dashboard update complete\nconst clientsProcessed = $input.all().length;\n\nreturn [{\n  json: {\n    success: true,\n    message: `Daily dashboard update complete`,\n    clientsProcessed: clientsProcessed,\n    completedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "97e45424-8168-4bc8-b482-b7d7c0d56ab3",
      "name": "Update Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        128
      ]
    },
    {
      "parameters": {
        "content": "Engine F\nUpdate Client Dashboards\n000",
        "height": 400,
        "width": 2112,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b490c1b7-1635-4398-b0f2-9471c4228ccc",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "1 -2 days\nJan 29",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        16
      ],
      "id": "8838a426-fe48-4884-a687-495b6def9baa",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day 6am": {
      "main": [
        [
          {
            "node": "Get All Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Active Clients": {
      "main": [
        [
          {
            "node": "Loop Through Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Clients": {
      "main": [
        [
          {
            "node": "Get Instantly Campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instantly Campaigns": {
      "main": [
        [
          {
            "node": "Process Campaign Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Campaign Stats": {
      "main": [
        [
          {
            "node": "Update Client Deliverability Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Platform Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client Deliverability Log": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Platform Dashboard": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Send Alert to Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert to Admin": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          {
            "node": "Loop Through Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1e8e580-0ec5-4f38-a7c0-698e1b21178e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "pb2PmxEaQLaW8i9v",
  "tags": [
    {
      "name": "QI",
      "id": "5DedrhmIxfC3cWQG",
      "updatedAt": "2026-01-19T23:20:45.608Z",
      "createdAt": "2026-01-19T23:20:45.608Z"
    }
  ]
}