engines/engine-e-lead-deduplication.json
{
  "name": "engine-e-lead-deduplication",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-duplicates",
        "options": {}
      },
      "id": "1f64d0cd-b46d-4d8a-a77d-d4256ca40561",
      "name": "Webhook - Check Duplicates",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16,
        32
      ],
      "webhookId": "dedup-check"
    },
    {
      "parameters": {
        "jsCode": "// Extract input data\nconst input = $input.item.json;\nconst leads = input.leads || [];\nconst clientId = input.clientId;\nconst campaignId = input.campaignId || 'new_campaign';\n\nif (!leads.length) {\n  return [{\n    json: {\n      success: false,\n      error: 'No leads provided',\n      clientId: clientId\n    }\n  }];\n}\n\n// Extract emails and domains for checking\nconst emailsToCheck = leads.map(l => l.email.toLowerCase());\nconst domainsToCheck = [...new Set(emailsToCheck.map(e => e.split('@')[1]))];\n\nreturn [{\n  json: {\n    leads: leads,\n    emailsToCheck: emailsToCheck,\n    domainsToCheck: domainsToCheck,\n    clientId: clientId,\n    campaignId: campaignId,\n    totalLeads: leads.length\n  }\n}];"
      },
      "id": "e3b2ce5f-a74d-40b0-b644-ffaff2af4015",
      "name": "Prepare Dedup Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        32
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "list",
          "cachedResultName": "Compliace-Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "DNC_LIST",
          "mode": "name"
        },
        "options": {}
      },
      "id": "29c9b410-6b6e-4516-a26b-65e8a070c6eb",
      "name": "Get Global DNC List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J-o1hPAXo41bOaVr5AIcOhUgA-wZR0H1dGJe0N_49Ig",
          "mode": "list",
          "cachedResultName": "Client-[COMPANY_NAME]-Workspace",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J-o1hPAXo41bOaVr5AIcOhUgA-wZR0H1dGJe0N_49Ig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Active-Campaigns",
          "mode": "name"
        },
        "options": {}
      },
      "id": "5e783aac-dc72-418f-8d94-1598a7e855d5",
      "name": "Get Client's Existing Campaigns",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "5730c845-a577-46dd-9f00-3af732391573",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        624,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get all inputs\nconst items = $input.all();\n\n// Find our data sources\nlet preparedData = null;\nlet dncList = [];\nlet existingCampaigns = [];\n\nfor (const item of items) {\n  if (item.json.leads && item.json.emailsToCheck) {\n    preparedData = item.json;\n  } else if (item.json.Email) {\n    dncList.push(item.json);\n  } else if (item.json['Campaign ID']) {\n    existingCampaigns.push(item.json);\n  }\n}\n\nif (!preparedData) {\n  return [{ json: { error: 'No prepared data found' } }];\n}\n\n// Build lookup sets\nconst dncEmails = new Set(dncList.map(d => d.Email?.toLowerCase()).filter(Boolean));\nconst dncDomains = new Set(dncList.map(d => d.Domain?.toLowerCase()).filter(Boolean));\n\n// Track leads we've seen in this batch (internal dedup)\nconst seenEmails = new Set();\nconst seenDomains = new Map(); // domain -> count (for domain concentration)\n\n// Process each lead\nconst results = [];\nconst approved = [];\nconst rejected = [];\n\nfor (const lead of preparedData.leads) {\n  const email = lead.email.toLowerCase();\n  const domain = email.split('@')[1];\n  \n  let status = 'approved';\n  let rejectionReasons = [];\n  \n  // Check 1: DNC list - email match\n  if (dncEmails.has(email)) {\n    status = 'rejected';\n    rejectionReasons.push('Email on DNC list');\n  }\n  \n  // Check 2: DNC list - domain match\n  if (dncDomains.has(domain)) {\n    status = 'rejected';\n    rejectionReasons.push('Domain on DNC list');\n  }\n  \n  // Check 3: Duplicate within this batch\n  if (seenEmails.has(email)) {\n    status = 'rejected';\n    rejectionReasons.push('Duplicate within batch');\n  }\n  \n  // Check 4: Domain concentration (max 3 leads per domain per campaign)\n  const domainCount = seenDomains.get(domain) || 0;\n  if (domainCount >= 3) {\n    status = 'rejected';\n    rejectionReasons.push('Domain concentration limit (max 3 per domain)');\n  }\n  \n  // Check 5: Generic emails (optional - can be toggled)\n  const genericPatterns = ['info@', 'contact@', 'hello@', 'support@', 'sales@', 'admin@', 'noreply@', 'no-reply@'];\n  if (genericPatterns.some(p => email.startsWith(p))) {\n    status = 'rejected';\n    rejectionReasons.push('Generic email address');\n  }\n  \n  // Track this email/domain\n  seenEmails.add(email);\n  seenDomains.set(domain, domainCount + 1);\n  \n  // Build result\n  const result = {\n    ...lead,\n    dedupStatus: status,\n    rejectionReasons: rejectionReasons.length > 0 ? rejectionReasons.join('; ') : null,\n    checkedAt: new Date().toISOString()\n  };\n  \n  results.push(result);\n  \n  if (status === 'approved') {\n    approved.push(result);\n  } else {\n    rejected.push(result);\n  }\n}\n\n// Calculate stats\nconst stats = {\n  totalChecked: preparedData.leads.length,\n  approved: approved.length,\n  rejected: rejected.length,\n  passRate: ((approved.length / preparedData.leads.length) * 100).toFixed(1) + '%',\n  rejectionBreakdown: {\n    dncEmail: rejected.filter(r => r.rejectionReasons?.includes('Email on DNC')).length,\n    dncDomain: rejected.filter(r => r.rejectionReasons?.includes('Domain on DNC')).length,\n    batchDuplicate: rejected.filter(r => r.rejectionReasons?.includes('Duplicate within batch')).length,\n    domainConcentration: rejected.filter(r => r.rejectionReasons?.includes('concentration')).length,\n    genericEmail: rejected.filter(r => r.rejectionReasons?.includes('Generic')).length\n  }\n};\n\nreturn [{\n  json: {\n    success: true,\n    clientId: preparedData.clientId,\n    campaignId: preparedData.campaignId,\n    stats: stats,\n    approvedLeads: approved,\n    rejectedLeads: rejected,\n    allResults: results\n  }\n}];"
      },
      "id": "98e484c9-550d-40b2-92e0-a7bc1b1cab33",
      "name": "Run Deduplication Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-rejected",
              "leftValue": "={{ $json.rejectedLeads.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "281b44c2-41b5-4a20-8bb9-2e2540565046",
      "name": "Has Rejected Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1024,
        32
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "list",
          "cachedResultName": "Compliace-Central",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rejected-Leads-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Client ID": "={{ $json.clientId }}",
            "Email": "={{ $json.rejectedLeads.map(l => l.email).join(', ').substring(0, 500) }}",
            "Rejection Reason": "=Deduplication check",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client ID",
              "displayName": "Client ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rejection Reason",
              "displayName": "Rejection Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DNC Check Result",
              "displayName": "DNC Check Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Domain Health Score",
              "displayName": "Domain Health Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Domain Age",
              "displayName": "Domain Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Has MX Records",
              "displayName": "Has MX Records",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Has SPF",
              "displayName": "Has SPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Final Decision",
              "displayName": "Final Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a5fd4e8a-3bc0-48e1-93fb-caa9da4f3c4b",
      "name": "Log Rejected to Compliance Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: $json.success,\n  clientId: $json.clientId,\n  campaignId: $json.campaignId,\n  stats: $json.stats,\n  approvedLeads: $json.approvedLeads,\n  rejectedCount: $json.rejectedLeads.length,\n  message: `Deduplication complete: ${$json.stats.approved} approved, ${$json.stats.rejected} rejected (${$json.stats.passRate} pass rate)`\n}) }}",
        "options": {}
      },
      "id": "cfb3f21a-66b0-480b-9716-9c372f9ddb99",
      "name": "Respond with Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1424,
        32
      ]
    },
    {
      "parameters": {
        "content": "Engine E\nLead Deduplication \n000",
        "height": 400,
        "width": 1760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -96
      ],
      "typeVersion": 1,
      "id": "a1095504-1aad-4a5f-a8af-d63911c9751c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "1 -2 days\nJan 29",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -80
      ],
      "id": "0f021a95-a828-4b2f-a1be-6bf01d83c20e",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Check Duplicates": {
      "main": [
        [
          {
            "node": "Prepare Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Dedup Check": {
      "main": [
        [
          {
            "node": "Get Global DNC List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Client's Existing Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Global DNC List": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client's Existing Campaigns": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Run Deduplication Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Deduplication Logic": {
      "main": [
        [
          {
            "node": "Has Rejected Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Rejected Leads?": {
      "main": [
        [
          {
            "node": "Log Rejected to Compliance Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rejected to Compliance Sheet": {
      "main": [
        [
          {
            "node": "Respond with Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a334884-273d-469b-b1a8-7e71598f68f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "MlsdLR4glauuyg6B",
  "tags": [
    {
      "name": "QI",
      "id": "5DedrhmIxfC3cWQG",
      "updatedAt": "2026-01-19T23:20:45.608Z",
      "createdAt": "2026-01-19T23:20:45.608Z"
    }
  ]
}