engines/engine-b-self-learning.json
{
  "name": "engine-b-self-learning",
  "nodes": [
    {
      "parameters": {
        "content": "Engine B\nSelf-Learning / Multi-client support / Compliance \n002\n",
        "height": 496,
        "width": 6416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -64
      ],
      "typeVersion": 1,
      "id": "3e3fa319-613a-4c94-8a78-1a1bf5387343",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields from webhook input\nconst body = $input.item.json.body || $input.item.json;\n\nconst required = ['clientId', 'industry', 'icp', 'offer', 'goals', 'leads'];\nconst missing = required.filter(field => !body[field]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\nif (!Array.isArray(body.leads) || body.leads.length === 0) {\n  throw new Error('leads must be a non-empty array');\n}\n\n// Validate each lead\nfor (let i = 0; i < body.leads.length; i++) {\n  const lead = body.leads[i];\n  if (!lead.email || !lead.firstName) {\n    throw new Error(`Lead ${i}: email and firstName are required`);\n  }\n  // Basic email validation\n  if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(lead.email)) {\n    throw new Error(`Lead ${i}: invalid email format: ${lead.email}`);\n  }\n}\n\nreturn [{\n  json: {\n    clientId: body.clientId,\n    industry: body.industry,\n    icp: body.icp,\n    offer: body.offer,\n    goals: body.goals,\n    tone: body.tone,\n    dailyLimit: body.dailyLimit || 100,\n    leads: body.leads,\n    campaignName: body.campaignName || null,\n    context: body.context || '',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "69827aba-3420-4e55-bed9-1f2dd8fb60f8",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Find client configuration from Client-Configs sheet data\n// This node receives data from 'Get Client Configs' Google Sheets node\nconst clientId = $input.item.json.clientId;\nconst configRows = $('Get Client Configs').all().map(i => i.json);\n\n// Find the matching client\nconst clientRow = configRows.find(row => row['Client ID'] === clientId);\n\nif (!clientRow) {\n  const availableClients = configRows.map(r => r['Client ID']).join(', ');\n  throw new Error(`Client '${clientId}' not found in Client-Configs. Available: ${availableClients}`);\n}\n\nif (String(clientRow['Status'] || '').toLowerCase() !== 'active') {\n  throw new Error(`Client '${clientId}' is not active. Status: ${clientRow['Status']}`);\n}\n\n// Transform row to config object\nconst clientConfig = {\n  id: clientRow['Client ID'],\n  name: clientRow['Client Name'],\n  industry: clientRow['Industry'],\n  google_sheets: {\n    workspace_id: clientRow['Workspace Sheet ID'],\n    master_library_id: clientRow['Master Library Sheet ID'],\n    lead_intelligence_id: clientRow['Lead Intelligence Sheet ID']\n  },\n  instantly: {\n    api_key: clientRow['Instantly API Key'],\n    account_id: clientRow['Instantly Account ID']\n  },\n  telegram: {\n    chat_id: clientRow['Telegram Chat ID']\n  },\n  settings: {\n    daily_limit: parseInt(clientRow['Min Sent Count'] || 100),\n    optimization_threshold: parseFloat(clientRow['Optimization Threshold'] || 8.0),\n    status: clientRow['Status']\n  },\n  icp: {\n    titles: JSON.parse(clientRow['ICP Titles JSON'] || '[]'),\n    industries: JSON.parse(clientRow['ICP Industries JSON'] || '[]'),\n    employee_min: parseInt(clientRow['ICP Employee Min'] || 50),\n    employee_max: parseInt(clientRow['ICP Employee Max'] || 5000)\n  }\n};\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    clientConfig: clientConfig\n  }\n}];"
      },
      "id": "3d1b5c8a-6c36-48da-a609-df6d180064f2",
      "name": "Get Client Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare leads for compliance checking\nconst leads = $input.item.json.leads;\nconst clientId = $input.item.json.clientId;\n\nconst leadsToCheck = leads.map((lead, index) => ({\n  ...lead,\n  leadIndex: index,\n  domain: lead.email.split('@')[1],\n  clientId: clientId,\n  complianceStatus: 'pending'\n}));\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    leadsToCheck: leadsToCheck,\n    totalLeadsSubmitted: leads.length\n  }\n}];"
      },
      "id": "1c1405f0-0529-4025-a968-1f04f64e893f",
      "name": "Prepare Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": true
        }
      },
      "id": "012cad4d-9b98-4eae-b757-311428059438",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://marcosmatthews.app.n8n.cloud/webhook/check-domain-health",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"domain\": $json.domain,\n  \"clientId\": $json.clientId\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e52750c3-651a-420e-85a5-d57f833274d8",
      "name": "Check Domain Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        96
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-compliance-results-001",
      "name": "Merge Compliance Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1888,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Evaluate compliance results\nconst lead = $('Loop Over Leads').item.json;\nconst dncResult = $('Check DNC1').item.json;\nconst domainResult = $('Check Domain Health').item.json;\n\n// Determine eligibility\nconst dncBlocked = !dncResult.eligible || dncResult.blocked;\nconst domainBlocked = domainResult.score < 50;\nconst domainCaution = domainResult.score >= 50 && domainResult.score < 80;\n\nconst approved = !dncBlocked && !domainBlocked;\n\n// Determine rejection reason\nlet rejectionReason = null;\nif (!approved) {\n  if (dncBlocked && domainBlocked) {\n    rejectionReason = 'DNC List + Domain Health';\n  } else if (dncBlocked) {\n    rejectionReason = dncResult.reason || 'On DNC List';\n  } else if (domainBlocked) {\n    rejectionReason = `Domain Health Score: ${domainResult.score} (min 50)`;\n  }\n}\n\nreturn [{\n  json: {\n    ...lead,\n    complianceStatus: approved ? 'approved' : 'rejected',\n    eligible: approved,\n    dncCheck: {\n      eligible: dncResult.eligible,\n      blocked: dncBlocked,\n      reason: dncResult.reason || null,\n      checkedAt: dncResult.checkedAt\n    },\n    domainHealthCheck: {\n      score: domainResult.score,\n      blocked: domainBlocked,\n      caution: domainCaution,\n      recommendation: domainResult.recommendation,\n      domainAge: domainResult.domainAge || null,\n      hasMX: domainResult.hasMX || false,\n      hasSPF: domainResult.hasSPF || false,\n      checkedAt: domainResult.checkedAt\n    },\n    rejectionReason: rejectionReason\n  }\n}];"
      },
      "id": "519dfd04-8598-406b-9c66-566ae6dfe07d",
      "name": "Evaluate Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-approved",
              "leftValue": "={{ $json.eligible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac326f78-8d00-4a60-88bb-8642aecdccee",
      "name": "IF Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rejected-Leads-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Client ID": "={{ $json.clientId }}",
            "Email": "={{ $json.email }}",
            "Domain": "={{ $json.domain }}",
            "Company Name": "={{ $json.company || '' }}",
            "First Name": "={{ $json.firstName || '' }}",
            "Last Name": "={{ $json.lastName || '' }}",
            "Rejection Reason": "={{ $json.rejectionReason }}",
            "DNC Check Result": "={{ $json.dncCheck.eligible ? 'PASS' : 'FAIL - ' + $json.dncCheck.reason }}",
            "Domain Health Score": "={{ $json.domainHealthCheck.score }}",
            "Domain Age": "={{ $json.domainHealthCheck.domainAge || 'N/A' }}",
            "Has MX Records": "={{ $json.domainHealthCheck.hasMX ? 'Yes' : 'No' }}",
            "Has SPF": "={{ $json.domainHealthCheck.hasSPF ? 'Yes' : 'No' }}",
            "Final Decision": "BLOCKED",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "2e34ef1e-ccd1-4b79-a72c-b0cc9822cc68",
      "name": "Log Rejected Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wait for loop to complete, then aggregate results\nconst allLeads = $input.all().map(i => i.json);\nconst approvedLeads = allLeads.filter(l => l.eligible);\nconst rejectedLeads = allLeads.filter(l => !l.eligible);\n\n// Count rejection reasons\nconst rejectionCounts = {};\nrejectedLeads.forEach(lead => {\n  const reason = lead.rejectionReason || 'Unknown';\n  rejectionCounts[reason] = (rejectionCounts[reason] || 0) + 1;\n});\n\n// Calculate compliance pass rate\nconst totalLeads = allLeads.length;\nconst approvedCount = approvedLeads.length;\nconst rejectedCount = rejectedLeads.length;\nconst passRate = totalLeads > 0 ? ((approvedCount / totalLeads) * 100).toFixed(1) : 0;\n\n// Get original data from before the loop\nconst originalData = $('Prepare Compliance Check').first().json;\n\nreturn [{\n  json: {\n    ...originalData,\n    leads: approvedLeads,\n    approvedCount: approvedCount,\n    rejectedCount: rejectedCount,\n    totalLeadsSubmitted: totalLeads,\n    rejectionReasons: rejectionCounts,\n    compliancePassRate: passRate,\n    complianceCheckComplete: true\n  }\n}];"
      },
      "id": "4fd1f6b1-faa0-41c4-8ad2-1fbdba204730",
      "name": "Aggregate Approved Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-approved-leads",
              "leftValue": "={{ $json.approvedCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4d0acc6-d65b-46fe-8ae0-5c8399b293ee",
      "name": "IF Has Approved Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.clientConfig.google_sheets.master_library_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master-Library",
          "mode": "name"
        },
        "options": {}
      },
      "id": "1b5d643c-ffce-4965-a335-45f3ab962ace",
      "name": "Get Master Library",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3088,
        -32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for AI campaign design\nconst masterLibrary = $input.all().map(i => i.json);\nconst campaignData = $('Aggregate Approved Leads').first().json;\n\n// Filter library for relevant sequences (by industry)\nconst industry = campaignData.industry;\nconst relevantSequences = masterLibrary.filter(row => {\n  const rowIndustry = row['Industry'] || row['industry'] || '';\n  return rowIndustry.toLowerCase().includes(industry.toLowerCase());\n});\n\n// Sort by reply rate (highest first) and take top 5\nconst sortedSequences = relevantSequences.sort((a, b) => {\n  const rateA = parseFloat(a['Reply Rate (%)'] || a['Reply Rate'] || 0);\n  const rateB = parseFloat(b['Reply Rate (%)'] || b['Reply Rate'] || 0);\n  return rateB - rateA;\n}).slice(0, 5);\n\n// Format for AI prompt\nconst sequenceSummaries = sortedSequences.map(seq => ({\n  name: seq['Sequence Name'],\n  icp: seq['Target ICP'] || seq['ICP'],\n  replyRate: seq['Reply Rate (%)'] || seq['Reply Rate'],\n  hookPattern: seq['Hook Pattern'],\n  valuePattern: seq['Value Prop Pattern'],\n  ctaPattern: seq['CTA Pattern']\n}));\n\nreturn [{\n  json: {\n    ...campaignData,\n    relevantSequences: sequenceSummaries,\n    masterLibrarySize: masterLibrary.length,\n    relevantSequencesFound: sortedSequences.length\n  }\n}];"
      },
      "id": "2828dae0-7582-4f1e-8acd-38ca4904f61f",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        -32
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1500,
          "temperature": 0.7
        }
      },
      "id": "0c89899c-8436-4116-a28e-6b284023d417",
      "name": "AI - Design Strategy",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3456,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "hUtcJD3545Z7HllT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI strategy response\nconst rawResponse = $input.item.json.choices?.[0]?.message?.content || $input.item.json.message?.content || $input.item.json.text || '';\n\n// Remove markdown code fences if present\nconst cleanedResponse = rawResponse.replace(/```json\\n?|```\\n?/g, '').trim();\n\nlet strategy;\ntry {\n  strategy = JSON.parse(cleanedResponse);\n} catch (e) {\n  throw new Error(`Failed to parse AI strategy response: ${e.message}\\n\\nRaw response: ${rawResponse}`);\n}\n\n// Merge with previous data\nconst previousData = $('Prepare AI Context').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    strategy: strategy\n  }\n}];"
      },
      "id": "5d52f422-365b-4cbf-92c2-f0bd9eb447e0",
      "name": "Parse Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        -32
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 300,
          "temperature": 0.8
        }
      },
      "id": "df5980e5-abf5-4e9c-81c4-356d080bf982",
      "name": "AI - Generate Subjects",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3936,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "hUtcJD3545Z7HllT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse subject lines\nconst rawResponse = $input.item.json.choices?.[0]?.message?.content || $input.item.json.message?.content || $input.item.json.text || '';\nconst cleanedResponse = rawResponse.replace(/```json\\n?|```\\n?/g, '').trim();\n\nlet subjects;\ntry {\n  subjects = JSON.parse(cleanedResponse);\n} catch (e) {\n  throw new Error(`Failed to parse subjects: ${e.message}`);\n}\n\nconst previousData = $('Parse Strategy').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    subjects: subjects\n  }\n}];"
      },
      "id": "7aacea77-0fca-45c9-aeb9-5e89fdf7a056",
      "name": "Parse Subjects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        -32
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2500,
          "temperature": 0.8
        }
      },
      "id": "81fe207c-0f6e-487d-9067-d71457f99fad",
      "name": "AI - Write Emails",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4384,
        176
      ],
      "credentials": {
        "openAiApi": {
          "id": "hUtcJD3545Z7HllT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse email sequence\nconst rawResponse = $input.item.json.choices?.[0]?.message?.content || $input.item.json.message?.content || $input.item.json.text || '';\nconst cleanedResponse = rawResponse.replace(/```json\\n?|```\\n?/g, '').trim();\n\nlet emails;\ntry {\n  emails = JSON.parse(cleanedResponse);\n} catch (e) {\n  throw new Error(`Failed to parse emails: ${e.message}`);\n}\n\nconst previousData = $('Parse Subjects').first().json;\n\nreturn [{\n  json: {\n    ...previousData,\n    emails: emails\n  }\n}];"
      },
      "id": "b27d1e23-06ef-4e37-b21f-d5fbdac298c5",
      "name": "Parse Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build campaign JSON for Instantly.ai\nconst data = $input.item.json;\nconst subjects = data.subjects;\nconst emails = data.emails;\n\n// Generate campaign name if not provided\nconst campaignName = data.campaignName || \n  `${data.clientConfig.name} - ${data.industry} - ${new Date().toISOString().split('T')[0]}`;\n\n// Build 3 variants (one per subject line variant)\nconst variants = [\n  {\n    name: \"Variant A\",\n    subject: subjects.variant1,\n    steps: [\n      {\n        subject: emails.email1.subject,\n        body: emails.email1.body,\n        delay: 0\n      },\n      {\n        subject: emails.email2.subject,\n        body: emails.email2.body,\n        delay: 2\n      },\n      {\n        subject: emails.email3.subject,\n        body: emails.email3.body,\n        delay: 5\n      },\n      {\n        subject: emails.email4.subject,\n        body: emails.email4.body,\n        delay: 8\n      }\n    ]\n  },\n  {\n    name: \"Variant B\",\n    subject: subjects.variant2,\n    steps: [\n      {\n        subject: emails.email1.subject,\n        body: emails.email1.body,\n        delay: 0\n      },\n      {\n        subject: emails.email2.subject,\n        body: emails.email2.body,\n        delay: 3\n      },\n      {\n        subject: emails.email3.subject,\n        body: emails.email3.body,\n        delay: 6\n      },\n      {\n        subject: emails.email4.subject,\n        body: emails.email4.body,\n        delay: 9\n      }\n    ]\n  },\n  {\n    name: \"Variant C\",\n    subject: subjects.variant3,\n    steps: [\n      {\n        subject: emails.email1.subject,\n        body: emails.email1.body,\n        delay: 0\n      },\n      {\n        subject: emails.email2.subject,\n        body: emails.email2.body,\n        delay: 2\n      },\n      {\n        subject: emails.email3.subject,\n        body: emails.email3.body,\n        delay: 5\n      },\n      {\n        subject: emails.email4.subject,\n        body: emails.email4.body,\n        delay: 8\n      }\n    ]\n  }\n];\n\n// Instantly.ai campaign structure\nconst instantlyCampaign = {\n  name: campaignName,\n  variants: variants,\n  settings: {\n    dailyLimit: data.dailyLimit,\n    schedule: {\n      timezone: \"recipient\",\n      days: [\"monday\", \"tuesday\", \"wednesday\", \"thursday\", \"friday\"],\n      startTime: \"09:00\",\n      endTime: \"17:00\"\n    },\n    tracking: {\n      opens: true,\n      clicks: true,\n      replies: true\n    }\n  }\n};\n\nreturn [{\n  json: {\n    ...data,\n    campaignName: campaignName,\n    instantlyCampaign: instantlyCampaign,\n    variants: 3,\n    steps: 4\n  }\n}];"
      },
      "id": "24d878d0-f79a-455f-acae-7d7fc12d6fdf",
      "name": "Build Campaign JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare leads for attaching to campaign\nconst previousData = $('Build Campaign JSON').first().json;\nconst instantlyResponse = $input.item.json;\n\n// Extract campaign ID from Instantly response\nconst campaignId = instantlyResponse.id || instantlyResponse.campaignId || instantlyResponse.campaign_id;\n\nif (!campaignId) {\n  throw new Error('Campaign ID not found in Instantly response');\n}\n\n// Format leads for Instantly.ai\nconst leadsForInstantly = previousData.leads.map(lead => ({\n  email: lead.email,\n  firstName: lead.firstName || '',\n  lastName: lead.lastName || '',\n  company: lead.company || '',\n  customFields: lead.customFields || {}\n}));\n\nreturn [{\n  json: {\n    ...previousData,\n    campaignId: campaignId,\n    instantlyResponse: instantlyResponse,\n    leadsForInstantly: leadsForInstantly\n  }\n}];"
      },
      "id": "9c5d16ac-c07b-4587-8f47-d4ac168f5c4b",
      "name": "Prepare Leads for Instantly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5616,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.instantly.ai/api/v1/campaign/{{ $json.campaignId }}/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { leads: $json.leadsForInstantly } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e017afb0-7ea4-4fcc-a6a0-506665d416d0",
      "name": "Attach Leads to Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.clientConfig.google_sheets.workspace_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Active-Campaigns",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign ID": "={{ $json.campaignId }}",
            "Campaign Name": "={{ $json.campaignName }}",
            "Created Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Industry": "={{ $json.industry }}",
            "Total Submitted": "={{ $json.totalLeadsSubmitted }}",
            "Total Approved": "={{ $json.approvedCount }}",
            "Total Rejected": "={{ $json.rejectedCount }}",
            "Compliance Pass Rate": "={{ $json.compliancePassRate }}%",
            "Status": "Active",
            "Variants": "={{ $json.variants }}",
            "Steps": "={{ $json.steps }}",
            "Daily Limit": "={{ $json.dailyLimit }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "7943752c-0c05-423c-94bf-61e6fc8e546d",
      "name": "Log to Active Campaigns",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6048,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"campaignId\": $json.campaignId,\n  \"campaignName\": $json.campaignName,\n  \"client\": {\n    \"id\": $json.clientConfig.id,\n    \"name\": $json.clientConfig.name\n  },\n  \"leads\": {\n    \"submitted\": $json.totalLeadsSubmitted,\n    \"approved\": $json.approvedCount,\n    \"rejected\": $json.rejectedCount,\n    \"passRate\": $json.compliancePassRate + \"%\"\n  },\n  \"rejectionReasons\": $json.rejectionReasons,\n  \"campaign\": {\n    \"variants\": $json.variants,\n    \"steps\": $json.steps,\n    \"dailyLimit\": $json.dailyLimit\n  },\n  \"urls\": {\n    \"instantly\": \"https://app.instantly.ai/app/campaigns/\" + $json.campaignId\n  },\n  \"timestamps\": {\n    \"created\": $json.timestamp\n  },\n  \"cost\": {\n    \"ai_tokens\": 0.19,\n    \"compliance_checks\": ($json.totalLeadsSubmitted * 0.001).toFixed(2),\n    \"total\": (0.19 + $json.totalLeadsSubmitted * 0.001).toFixed(2)\n  }\n} }}",
        "options": {}
      },
      "id": "ca2e8832-40e8-420d-a559-a60af09f2387",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6496,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"error\",\n  \"error\": \"NoApprovedLeads\",\n  \"message\": \"All \" + $json.totalLeadsSubmitted + \" leads were rejected by compliance checks\",\n  \"rejectionReasons\": $json.rejectionReasons,\n  \"details\": {\n    \"submitted\": $json.totalLeadsSubmitted,\n    \"approved\": 0,\n    \"rejected\": $json.rejectedCount,\n    \"recommendation\": \"Review lead list quality, check domain ages, and verify DNC list\"\n  },\n  \"timestamp\": $json.timestamp\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "61944a7d-ed20-4356-bd8b-85ce5dda866c",
      "name": "Response - No Approved Leads",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3088,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f4a1d129-9578-41da-af9e-2abff6d6e4cc",
      "name": "Webhook Trigger2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "webhookId": "build-campaign-v2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://marcosmatthews.app.n8n.cloud/webhook/check-dnc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"email\": $json.email,\n  \"domain\": $json.domain,\n  \"clientId\": $json.clientId,\n  \"companyName\": $json.company || \"\",\n  \"firstName\": $json.firstName || \"\",\n  \"lastName\": $json.lastName || \"\"\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "9e1c68c2-8e92-4d6f-a658-3b2392434487",
      "name": "Check DNC1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        96
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "8iKFHowSI7RCNHc0",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/campaign/create",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.instantlyCampaign }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6e0e9d46-5b1a-4ab5-a3d2-45d0d2ee8673",
      "name": "Push to Instantly1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5392,
        -16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "marcosmvm1515@gmail.com",
        "subject": "=[QI] Campaign Created: {{ $json.campaignName }}",
        "emailType": "html",
        "message": "=<h2>Campaign Created Successfully</h2><p><strong>Client:</strong> {{ $json.clientConfig.name }}<br><strong>Campaign:</strong> {{ $json.campaignName }}</p><h3>Lead Statistics</h3><ul><li>Submitted: {{ $json.totalLeadsSubmitted }}</li><li>Approved: {{ $json.approvedCount }} ({{ $json.compliancePassRate }}%)</li><li>Rejected: {{ $json.rejectedCount }}</li></ul><h3>Rejection Breakdown</h3><p>{{ Object.entries($json.rejectionReasons).map(([reason, count]) => reason + ': ' + count).join(', ') }}</p><h3>Campaign Details</h3><ul><li>Variants: {{ $json.variants }}</li><li>Steps: {{ $json.steps }}</li><li>Daily Limit: {{ $json.dailyLimit }}</li></ul><p><a href='https://app.instantly.ai/app/campaigns/{{ $json.campaignId }}'>View in Instantly</a></p><p><small>Created: {{ $json.timestamp }}</small></p>",
        "options": {}
      },
      "id": "5d6b910b-cb62-4dfd-a48e-758e9c231d6b",
      "name": "Notify Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        6272,
        -16
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ \"Design a cold email campaign strategy for the following:\\n\\nIndustry: \" + $json.industry + \"\\nICP (Ideal Customer Profile): \" + $json.icp + \"\\nOffer: \" + $json.offer + \"\\nGoals: \" + $json.goals + \"\\nTone: \" + ($json.tone || 'professional and conversational') + \"\\n\\nTop performing sequences from our library:\\n\" + JSON.stringify($json.relevantSequences, null, 2) + \"\\n\\nRespond with a JSON object containing:\\n{\\n  \\\"approach\\\": \\\"overall strategy approach\\\",\\n  \\\"hookStyle\\\": \\\"type of opening hook\\\",\\n  \\\"ctaStyle\\\": \\\"call-to-action style\\\",\\n  \\\"toneNotes\\\": \\\"specific tone guidance\\\",\\n  \\\"steps\\\": 4,\\n  \\\"variants\\\": 3\\n}\" }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3504,
        -32
      ],
      "id": "0a4c8441-475b-45cc-83a1-cb9c917de16a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "text": "={{ \"Generate 3 unique subject line variants for a cold email campaign.\\n\\nStrategy: \" + JSON.stringify($json.strategy, null, 2) + \"\\nIndustry: \" + $json.industry + \"\\nICP: \" + $json.icp + \"\\nOffer: \" + $json.offer + \"\\n\\nRequirements:\\n- Keep subjects under 50 characters\\n- Avoid spam trigger words\\n- Make them curiosity-inducing\\n- No emojis\\n\\nRespond with JSON only:\\n{\\n  \\\"variant1\\\": \\\"subject line 1\\\",\\n  \\\"variant2\\\": \\\"subject line 2\\\",\\n  \\\"variant3\\\": \\\"subject line 3\\\"\\n}\" }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3984,
        -32
      ],
      "id": "12ded47d-ffda-4c04-83a8-74357536531d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "text": "={{ \"Write a 4-email cold email sequence for a B2B campaign.\\n\\nStrategy: \" + JSON.stringify($json.strategy, null, 2) + \"\\nSubject Lines: \" + JSON.stringify($json.subjects, null, 2) + \"\\nIndustry: \" + $json.industry + \"\\nICP: \" + $json.icp + \"\\nOffer: \" + $json.offer + \"\\nGoals: \" + $json.goals + \"\\nTone: \" + ($json.tone || 'professional and conversational') + \"\\n\\nRequirements:\\n- Each email under 125 words\\n- Use {{firstName}} and {{company}} merge tags\\n- Progressive urgency across sequence\\n- Clear CTA in each email\\n- Email 1: Introduction and value prop\\n- Email 2: Social proof/case study\\n- Email 3: Address objections\\n- Email 4: Final follow-up/breakup\\n\\nRespond with JSON only:\\n{\\n  \\\"email1\\\": {\\\"subject\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\"},\\n  \\\"email2\\\": {\\\"subject\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\"},\\n  \\\"email3\\\": {\\\"subject\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\"},\\n  \\\"email4\\\": {\\\"subject\\\": \\\"...\\\", \\\"body\\\": \\\"...\\\"}\\n}\" }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4544,
        -32
      ],
      "id": "4e5377a8-898c-401f-989e-22f46d3c8b30",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "content": "10-14 days\nJan. 19",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -48
      ],
      "id": "8cf5fdde-1213-4e0d-ba6c-a4ddab171eac",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Client Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Config": {
      "main": [
        [
          {
            "node": "Prepare Compliance Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Compliance Check": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [
          {
            "node": "Check DNC1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Domain Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Approved Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DNC1": {
      "main": [
        [
          {
            "node": "Merge Compliance Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Domain Health": {
      "main": [
        [
          {
            "node": "Merge Compliance Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Compliance Results": {
      "main": [
        [
          {
            "node": "Evaluate Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Compliance": {
      "main": [
        [
          {
            "node": "IF Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Approved?": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejected Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rejected Lead": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Approved Leads": {
      "main": [
        [
          {
            "node": "IF Has Approved Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Approved Leads?": {
      "main": [
        [
          {
            "node": "Get Master Library",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - No Approved Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Master Library": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Design Strategy": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strategy": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Subjects": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Subjects": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Write Emails": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Emails": {
      "main": [
        [
          {
            "node": "Build Campaign JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Campaign JSON": {
      "main": [
        [
          {
            "node": "Push to Instantly1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Leads for Instantly": {
      "main": [
        [
          {
            "node": "Attach Leads to Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Leads to Campaign": {
      "main": [
        [
          {
            "node": "Log to Active Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Active Campaigns": {
      "main": [
        [
          {
            "node": "Notify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger2": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
        "Push to Instantly1": {
      "main": [
        [
          {
            "node": "Prepare Leads for Instantly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Email": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse Subjects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Parse Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a58c26ee-a13b-4203-9ef5-069901c949db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "FSZoCweRVX8ARqHt",
  "tags": [
    {
      "name": "QI",
      "id": "5DedrhmIxfC3cWQG",
      "updatedAt": "2026-01-19T23:20:45.608Z",
      "createdAt": "2026-01-19T23:20:45.608Z"
    }
  ]
}