engines/engine-g-the-hunter.json
{
  "name": "Engine G - The Hunter (Reply-Based Network Expansion)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instantly-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "g-001-webhook",
      "name": "Instantly Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "instantly-reply-webhook",
      "notes": "Receives reply notifications from Instantly.ai campaigns. Configure this webhook URL in your Instantly account settings under Webhooks."
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming Instantly reply webhook\n// Handle both direct payload and nested body structure\nconst rawData = $input.item.json;\nconst body = rawData.body || rawData;\n\n// Extract reply data\nconst reply = {\n  email: (body.lead_email || body.email || '').toLowerCase().trim(),\n  firstName: body.first_name || body.firstName || '',\n  lastName: body.last_name || body.lastName || '',\n  company: body.company || body.company_name || '',\n  domain: '',\n  campaignId: body.campaign_id || body.campaignId || '',\n  campaignName: body.campaign_name || body.campaignName || '',\n  replyText: body.reply_text || body.message || body.body || '',\n  replyType: body.reply_type || 'unknown',\n  timestamp: body.timestamp || new Date().toISOString(),\n  clientId: body.client_id || body.clientId || 'default'\n};\n\n// Extract domain from email\nif (reply.email && reply.email.includes('@')) {\n  reply.domain = reply.email.split('@')[1];\n}\n\n// Validate required fields\nif (!reply.email) {\n  throw new Error('No email found in reply webhook payload');\n}\n\n// Add metadata\nreply.receivedAt = new Date().toISOString();\nreply.webhookSource = 'instantly';\nreply.processingStatus = 'received';\n\nreturn [{ json: reply }];"
      },
      "id": "g-002-parse-reply",
      "name": "Parse Reply Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400],
      "notes": "Extracts and normalizes reply data from Instantly webhook payload"
    },
    {
      "parameters": {
        "jsCode": "// Classify reply sentiment using keyword analysis\nconst reply = $input.item.json;\nconst replyText = (reply.replyText || '').toLowerCase();\n\n// Positive indicators (interested, wants to learn more)\nconst positiveKeywords = [\n  'interested', 'tell me more', 'sounds good', 'let\\'s talk',\n  'schedule', 'meeting', 'call', 'demo', 'learn more',\n  'pricing', 'cost', 'how much', 'proposal', 'send info',\n  'yes', 'sure', 'absolutely', 'definitely', 'great',\n  'perfect', 'love to', 'would like', 'please send',\n  'calendar', 'availability', 'free time', 'next week'\n];\n\n// Negative indicators (not interested, unsubscribe)\nconst negativeKeywords = [\n  'not interested', 'no thanks', 'remove', 'unsubscribe',\n  'stop', 'don\\'t contact', 'wrong person', 'not relevant',\n  'spam', 'delete', 'no longer', 'please remove',\n  'opt out', 'take me off', 'not the right fit'\n];\n\n// Referral indicators (redirecting to someone else)\nconst referralKeywords = [\n  'reach out to', 'contact', 'speak with', 'talk to',\n  'the right person', 'better suited', 'handles this',\n  'in charge of', 'responsible for', 'cc\\'d', 'forwarding',\n  'colleague', 'team member', 'department'\n];\n\n// Out of office indicators\nconst oooKeywords = [\n  'out of office', 'on vacation', 'away from', 'limited access',\n  'return on', 'back on', 'automatic reply', 'auto-reply'\n];\n\n// Score the reply\nlet sentiment = 'neutral';\nlet score = 0;\nlet matchedKeywords = [];\n\n// Check positive\nfor (const kw of positiveKeywords) {\n  if (replyText.includes(kw)) {\n    score += 1;\n    matchedKeywords.push({ type: 'positive', keyword: kw });\n  }\n}\n\n// Check negative\nfor (const kw of negativeKeywords) {\n  if (replyText.includes(kw)) {\n    score -= 2;\n    matchedKeywords.push({ type: 'negative', keyword: kw });\n  }\n}\n\n// Check referral\nlet hasReferral = false;\nfor (const kw of referralKeywords) {\n  if (replyText.includes(kw)) {\n    hasReferral = true;\n    matchedKeywords.push({ type: 'referral', keyword: kw });\n  }\n}\n\n// Check OOO\nlet isOOO = false;\nfor (const kw of oooKeywords) {\n  if (replyText.includes(kw)) {\n    isOOO = true;\n    matchedKeywords.push({ type: 'ooo', keyword: kw });\n  }\n}\n\n// Determine final sentiment\nif (isOOO) {\n  sentiment = 'ooo';\n} else if (score >= 1) {\n  sentiment = 'positive';\n} else if (score <= -1) {\n  sentiment = 'negative';\n} else if (hasReferral) {\n  sentiment = 'referral';\n}\n\n// Determine if we should enrich (only positive and referral replies)\nconst shouldEnrich = sentiment === 'positive' || sentiment === 'referral';\n\nreturn [{\n  json: {\n    ...reply,\n    sentiment: sentiment,\n    sentimentScore: score,\n    matchedKeywords: matchedKeywords,\n    hasReferral: hasReferral,\n    isOOO: isOOO,\n    shouldEnrich: shouldEnrich,\n    classifiedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "g-003-classify-sentiment",
      "name": "Classify Reply Sentiment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400],
      "notes": "AI-like sentiment classification using keyword matching. Categorizes replies as: positive, negative, referral, ooo, or neutral"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "should-enrich",
              "leftValue": "={{ $json.shouldEnrich }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g-004-filter-positive",
      "name": "Positive/Referral Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [860, 400],
      "notes": "Only proceed with enrichment for positive replies or referral replies. Negative, OOO, and neutral replies are logged but not enriched."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Skipped-Replies",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $json.company }}",
            "Campaign": "={{ $json.campaignName }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Score": "={{ $json.sentimentScore }}",
            "Reply Preview": "={{ $json.replyText.substring(0, 200) }}",
            "Reason Skipped": "={{ $json.sentiment === 'negative' ? 'Negative Reply' : $json.sentiment === 'ooo' ? 'Out of Office' : 'Neutral - No Clear Interest' }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "g-005-log-skipped",
      "name": "Log Skipped Reply",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1080, 560],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Logs negative, OOO, and neutral replies for reference. These are not enriched but tracked for analytics."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"skipped\",\n  \"email\": $json.email,\n  \"sentiment\": $json.sentiment,\n  \"reason\": \"Reply sentiment does not indicate interest\",\n  \"processedAt\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "g-006-response-skipped",
      "name": "Response - Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"email\": $json.email,\n  \"first_name\": $json.firstName,\n  \"last_name\": $json.lastName,\n  \"organization_name\": $json.company,\n  \"domain\": $json.domain\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "g-007-apollo-person-enrich",
      "name": "Apollo - Enrich Person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      },
      "notes": "Enriches the responder with Apollo.io data including title, seniority, company info, LinkedIn, etc."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/organizations/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"domain\": $('Parse Reply Data').item.json.domain\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "g-008-apollo-company-enrich",
      "name": "Apollo - Enrich Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 280],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      },
      "notes": "Gets detailed company information: industry, employee count, revenue, tech stack, location, etc."
    },
    {
      "parameters": {
        "jsCode": "// Combine person and company enrichment data\nconst originalReply = $('Classify Reply Sentiment').item.json;\nconst personData = $('Apollo - Enrich Person').item.json.person || {};\nconst companyData = $('Apollo - Enrich Company').item.json.organization || {};\n\n// Build enriched responder profile\nconst enrichedResponder = {\n  // Original reply data\n  ...originalReply,\n  \n  // Person enrichment\n  enrichedPerson: {\n    id: personData.id || null,\n    firstName: personData.first_name || originalReply.firstName,\n    lastName: personData.last_name || originalReply.lastName,\n    fullName: personData.name || `${originalReply.firstName} ${originalReply.lastName}`.trim(),\n    title: personData.title || '',\n    seniority: personData.seniority || '',\n    department: personData.departments?.[0] || '',\n    linkedinUrl: personData.linkedin_url || '',\n    photoUrl: personData.photo_url || '',\n    city: personData.city || '',\n    state: personData.state || '',\n    country: personData.country || ''\n  },\n  \n  // Company enrichment\n  enrichedCompany: {\n    id: companyData.id || null,\n    name: companyData.name || originalReply.company,\n    domain: companyData.primary_domain || originalReply.domain,\n    industry: companyData.industry || '',\n    subIndustry: companyData.sub_industry || '',\n    employeeCount: companyData.estimated_num_employees || 0,\n    annualRevenue: companyData.annual_revenue || 0,\n    annualRevenueFormatted: companyData.annual_revenue_printed || '',\n    foundedYear: companyData.founded_year || null,\n    linkedinUrl: companyData.linkedin_url || '',\n    websiteUrl: companyData.website_url || '',\n    city: companyData.city || '',\n    state: companyData.state || '',\n    country: companyData.country || '',\n    techStack: companyData.technologies || [],\n    keywords: companyData.keywords || [],\n    shortDescription: companyData.short_description || ''\n  },\n  \n  // Enrichment metadata\n  enrichmentStatus: 'complete',\n  enrichedAt: new Date().toISOString(),\n  apolloPersonId: personData.id || null,\n  apolloCompanyId: companyData.id || null\n};\n\n// Flag if enrichment was successful\nenrichedResponder.enrichmentSuccessful = !!(personData.id || companyData.id);\n\nreturn [{ json: enrichedResponder }];"
      },
      "id": "g-009-combine-enrichment",
      "name": "Combine Enrichment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 280],
      "notes": "Merges person and company enrichment into a unified responder profile"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"q_organization_domains\": $json.enrichedCompany.domain,\n  \"person_titles\": [\"CEO\", \"CTO\", \"CFO\", \"COO\", \"CMO\", \"VP Sales\", \"VP Marketing\", \"VP Operations\", \"Director of Sales\", \"Director of Marketing\", \"Head of Growth\", \"Revenue Operations\", \"Chief Revenue Officer\"],\n  \"person_seniorities\": [\"c_suite\", \"vp\", \"director\", \"manager\"],\n  \"page\": 1,\n  \"per_page\": 25\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "g-010-find-colleagues",
      "name": "Apollo - Find Company Colleagues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 160],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      },
      "notes": "Searches for other decision-makers at the same company as the responder. Targets C-suite, VPs, Directors."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"organization_industry_tag_ids\": $json.enrichedCompany.industry ? [$json.enrichedCompany.industry] : [],\n  \"organization_num_employees_ranges\": [\n    $json.enrichedCompany.employeeCount < 50 ? \"1,50\" :\n    $json.enrichedCompany.employeeCount < 200 ? \"51,200\" :\n    $json.enrichedCompany.employeeCount < 1000 ? \"201,1000\" : \"1001,5000\"\n  ],\n  \"q_organization_keyword_tags\": $json.enrichedCompany.keywords.slice(0, 5),\n  \"page\": 1,\n  \"per_page\": 50\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "g-011-find-similar-companies",
      "name": "Apollo - Find Similar Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      },
      "notes": "Finds lookalike companies based on industry, size, and keywords from the responder's company."
    },
    {
      "parameters": {
        "jsCode": "// Process colleagues from same company\nconst enrichedResponder = $('Combine Enrichment Data').item.json;\nconst colleaguesResponse = $('Apollo - Find Company Colleagues').item.json;\nconst colleagues = colleaguesResponse.people || [];\n\n// Filter out the original responder\nconst filteredColleagues = colleagues.filter(c => \n  c.email?.toLowerCase() !== enrichedResponder.email?.toLowerCase()\n);\n\n// Format colleague leads\nconst colleagueLeads = filteredColleagues.map(person => ({\n  // Lead identification\n  leadType: 'company_colleague',\n  sourceType: 'reply_enrichment',\n  \n  // Person data\n  email: person.email || '',\n  firstName: person.first_name || '',\n  lastName: person.last_name || '',\n  fullName: person.name || '',\n  title: person.title || '',\n  seniority: person.seniority || '',\n  department: person.departments?.[0] || '',\n  linkedinUrl: person.linkedin_url || '',\n  phoneNumber: person.phone_number || '',\n  \n  // Company data (same as responder)\n  company: enrichedResponder.enrichedCompany.name,\n  domain: enrichedResponder.enrichedCompany.domain,\n  industry: enrichedResponder.enrichedCompany.industry,\n  employeeCount: enrichedResponder.enrichedCompany.employeeCount,\n  \n  // Source tracking\n  sourceResponderEmail: enrichedResponder.email,\n  sourceResponderName: enrichedResponder.enrichedPerson.fullName,\n  sourceCampaignId: enrichedResponder.campaignId,\n  sourceCampaignName: enrichedResponder.campaignName,\n  clientId: enrichedResponder.clientId,\n  \n  // Metadata\n  warmLeadReason: `Colleague of ${enrichedResponder.enrichedPerson.fullName} who showed interest`,\n  apolloPersonId: person.id || null,\n  discoveredAt: new Date().toISOString(),\n  status: 'pending_compliance'\n}));\n\nreturn [{\n  json: {\n    enrichedResponder: enrichedResponder,\n    colleagueLeads: colleagueLeads,\n    colleagueCount: colleagueLeads.length\n  }\n}];"
      },
      "id": "g-012-process-colleagues",
      "name": "Process Colleague Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 160],
      "notes": "Formats colleagues as leads with full tracking and source attribution"
    },
    {
      "parameters": {
        "jsCode": "// Process similar companies and find decision-makers\nconst enrichedResponder = $('Combine Enrichment Data').item.json;\nconst similarCompaniesResponse = $('Apollo - Find Similar Companies').item.json;\nconst similarCompanies = similarCompaniesResponse.organizations || [];\n\n// Filter out the responder's own company\nconst filteredCompanies = similarCompanies.filter(c => \n  c.primary_domain?.toLowerCase() !== enrichedResponder.enrichedCompany.domain?.toLowerCase()\n);\n\n// Format lookalike company data (we'll search for people in next step)\nconst lookalikeCompanies = filteredCompanies.slice(0, 20).map(org => ({\n  companyId: org.id,\n  companyName: org.name || '',\n  domain: org.primary_domain || '',\n  industry: org.industry || '',\n  employeeCount: org.estimated_num_employees || 0,\n  annualRevenue: org.annual_revenue_printed || '',\n  city: org.city || '',\n  state: org.state || '',\n  country: org.country || '',\n  linkedinUrl: org.linkedin_url || '',\n  websiteUrl: org.website_url || '',\n  similarityReason: `Same industry (${enrichedResponder.enrichedCompany.industry}), similar size`,\n  sourceResponderCompany: enrichedResponder.enrichedCompany.name\n}));\n\nreturn [{\n  json: {\n    enrichedResponder: enrichedResponder,\n    lookalikeCompanies: lookalikeCompanies,\n    lookalikeCount: lookalikeCompanies.length\n  }\n}];"
      },
      "id": "g-013-process-similar-companies",
      "name": "Process Similar Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 400],
      "notes": "Identifies lookalike companies based on industry and size match"
    },
    {
      "parameters": {
        "jsCode": "// Search for decision-makers at lookalike companies\n// This creates the payload for batch searching\nconst data = $input.item.json;\nconst enrichedResponder = data.enrichedResponder;\nconst lookalikeCompanies = data.lookalikeCompanies;\n\n// Get domains for batch search\nconst domains = lookalikeCompanies.map(c => c.domain).filter(d => d);\n\nif (domains.length === 0) {\n  return [{\n    json: {\n      enrichedResponder: enrichedResponder,\n      lookalikeCompanies: lookalikeCompanies,\n      lookalikeLeads: [],\n      lookalikeLeadCount: 0,\n      searchDomains: []\n    }\n  }];\n}\n\n// Pass data for API call\nreturn [{\n  json: {\n    enrichedResponder: enrichedResponder,\n    lookalikeCompanies: lookalikeCompanies,\n    searchDomains: domains.slice(0, 10) // Limit to 10 domains per search\n  }\n}];"
      },
      "id": "g-014-prepare-lookalike-search",
      "name": "Prepare Lookalike People Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 400],
      "notes": "Prepares domain list for searching decision-makers at lookalike companies"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"q_organization_domains\": $json.searchDomains.join('\\n'),\n  \"person_titles\": [\"CEO\", \"CTO\", \"CFO\", \"CMO\", \"VP Sales\", \"VP Marketing\", \"Director of Sales\", \"Director of Marketing\", \"Head of Growth\", \"Chief Revenue Officer\"],\n  \"person_seniorities\": [\"c_suite\", \"vp\", \"director\"],\n  \"page\": 1,\n  \"per_page\": 50\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "g-015-search-lookalike-people",
      "name": "Apollo - Search Lookalike People",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wbA0fGwi1OmONMmx",
          "name": "Header Auth account"
        }
      },
      "notes": "Searches for decision-makers at the lookalike companies identified"
    },
    {
      "parameters": {
        "jsCode": "// Format lookalike leads\nconst inputData = $('Prepare Lookalike People Search').item.json;\nconst enrichedResponder = inputData.enrichedResponder;\nconst lookalikeCompanies = inputData.lookalikeCompanies;\nconst peopleResponse = $input.item.json;\nconst people = peopleResponse.people || [];\n\n// Create a map of companies for quick lookup\nconst companyMap = {};\nlookalikeCompanies.forEach(c => {\n  companyMap[c.domain?.toLowerCase()] = c;\n});\n\n// Format lookalike leads\nconst lookalikeLeads = people.map(person => {\n  const personDomain = person.organization?.primary_domain?.toLowerCase() || '';\n  const companyInfo = companyMap[personDomain] || {};\n  \n  return {\n    // Lead identification\n    leadType: 'lookalike_company',\n    sourceType: 'reply_enrichment',\n    \n    // Person data\n    email: person.email || '',\n    firstName: person.first_name || '',\n    lastName: person.last_name || '',\n    fullName: person.name || '',\n    title: person.title || '',\n    seniority: person.seniority || '',\n    department: person.departments?.[0] || '',\n    linkedinUrl: person.linkedin_url || '',\n    phoneNumber: person.phone_number || '',\n    \n    // Company data\n    company: person.organization?.name || companyInfo.companyName || '',\n    domain: personDomain || companyInfo.domain || '',\n    industry: person.organization?.industry || companyInfo.industry || '',\n    employeeCount: person.organization?.estimated_num_employees || companyInfo.employeeCount || 0,\n    \n    // Source tracking\n    sourceResponderEmail: enrichedResponder.email,\n    sourceResponderName: enrichedResponder.enrichedPerson.fullName,\n    sourceResponderCompany: enrichedResponder.enrichedCompany.name,\n    sourceCampaignId: enrichedResponder.campaignId,\n    sourceCampaignName: enrichedResponder.campaignName,\n    clientId: enrichedResponder.clientId,\n    \n    // Metadata\n    warmLeadReason: `Similar company to ${enrichedResponder.enrichedCompany.name} (${companyInfo.similarityReason || 'industry match'})`,\n    apolloPersonId: person.id || null,\n    discoveredAt: new Date().toISOString(),\n    status: 'pending_compliance'\n  };\n}).filter(lead => lead.email); // Only keep leads with emails\n\nreturn [{\n  json: {\n    enrichedResponder: enrichedResponder,\n    lookalikeLeads: lookalikeLeads,\n    lookalikeLeadCount: lookalikeLeads.length\n  }\n}];"
      },
      "id": "g-016-format-lookalike-leads",
      "name": "Format Lookalike Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 400],
      "notes": "Formats decision-makers from lookalike companies as leads"
    },
    {
      "parameters": {
        "jsCode": "// Combine all warm leads from both sources\nconst colleagueData = $('Process Colleague Leads').item.json;\nconst lookalikeData = $('Format Lookalike Leads').item.json;\n\nconst enrichedResponder = colleagueData.enrichedResponder;\nconst colleagueLeads = colleagueData.colleagueLeads || [];\nconst lookalikeLeads = lookalikeData.lookalikeLeads || [];\n\n// Combine all leads\nconst allWarmLeads = [...colleagueLeads, ...lookalikeLeads];\n\n// Deduplicate by email\nconst seenEmails = new Set();\nconst uniqueLeads = allWarmLeads.filter(lead => {\n  const email = lead.email?.toLowerCase();\n  if (!email || seenEmails.has(email)) {\n    return false;\n  }\n  seenEmails.add(email);\n  return true;\n});\n\n// Summary stats\nconst summary = {\n  totalWarmLeads: uniqueLeads.length,\n  colleagueLeads: colleagueLeads.length,\n  lookalikeLeads: lookalikeLeads.length,\n  duplicatesRemoved: allWarmLeads.length - uniqueLeads.length,\n  sourceResponder: enrichedResponder.email,\n  sourceCompany: enrichedResponder.enrichedCompany.name,\n  sourceCampaign: enrichedResponder.campaignName,\n  processedAt: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    enrichedResponder: enrichedResponder,\n    warmLeads: uniqueLeads,\n    summary: summary\n  }\n}];"
      },
      "id": "g-017-combine-all-leads",
      "name": "Combine All Warm Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 280],
      "notes": "Merges colleague and lookalike leads, removes duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-warm-leads",
              "leftValue": "={{ $json.warmLeads.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g-018-has-leads",
      "name": "Has Warm Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3060, 280],
      "notes": "Checks if any warm leads were discovered"
    },
    {
      "parameters": {
        "jsCode": "// Split warm leads into individual items for batch processing\nconst data = $input.item.json;\nconst warmLeads = data.warmLeads || [];\nconst enrichedResponder = data.enrichedResponder;\nconst summary = data.summary;\n\n// Return each lead as a separate item\nreturn warmLeads.map(lead => ({\n  json: {\n    lead: lead,\n    enrichedResponder: enrichedResponder,\n    batchSummary: summary\n  }\n}));"
      },
      "id": "g-019-split-leads",
      "name": "Split Leads for Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 160],
      "notes": "Splits leads into individual items for compliance checking"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": true
        }
      },
      "id": "g-020-batch-leads",
      "name": "Batch Process Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [3500, 160],
      "notes": "Processes leads in batches of 10 for compliance checking"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://marcosmatthews.app.n8n.cloud/webhook/check-dnc",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"email\": $json.lead.email,\n  \"domain\": $json.lead.domain,\n  \"companyName\": $json.lead.company,\n  \"firstName\": $json.lead.firstName,\n  \"lastName\": $json.lead.lastName,\n  \"clientId\": $json.lead.clientId\n} }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "g-021-compliance-check",
      "name": "Guardian - Compliance Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3720, 160],
      "notes": "Calls Guardian Engine to check DNC list and domain health"
    },
    {
      "parameters": {
        "jsCode": "// Evaluate compliance result\nconst lead = $('Batch Process Leads').item.json.lead;\nconst complianceResult = $input.item.json;\n\n// Check if approved\nconst isApproved = complianceResult.eligible === true && complianceResult.blocked !== true;\n\nreturn [{\n  json: {\n    lead: lead,\n    complianceResult: complianceResult,\n    isApproved: isApproved,\n    rejectionReason: isApproved ? null : (complianceResult.reason || complianceResult.recommendation || 'Failed compliance')\n  }\n}];"
      },
      "id": "g-022-evaluate-compliance",
      "name": "Evaluate Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3940, 160],
      "notes": "Determines if lead passed compliance checks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-approved",
              "leftValue": "={{ $json.isApproved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g-023-compliance-approved",
      "name": "Compliance Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4160, 160],
      "notes": "Routes approved leads to queue, rejected leads to log"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Warm-Lead-Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Lead Type": "={{ $json.lead.leadType }}",
            "Email": "={{ $json.lead.email }}",
            "First Name": "={{ $json.lead.firstName }}",
            "Last Name": "={{ $json.lead.lastName }}",
            "Title": "={{ $json.lead.title }}",
            "Seniority": "={{ $json.lead.seniority }}",
            "Company": "={{ $json.lead.company }}",
            "Domain": "={{ $json.lead.domain }}",
            "Industry": "={{ $json.lead.industry }}",
            "Employee Count": "={{ $json.lead.employeeCount }}",
            "LinkedIn URL": "={{ $json.lead.linkedinUrl }}",
            "Source Responder": "={{ $json.lead.sourceResponderEmail }}",
            "Source Campaign": "={{ $json.lead.sourceCampaignName }}",
            "Warm Lead Reason": "={{ $json.lead.warmLeadReason }}",
            "Client ID": "={{ $json.lead.clientId }}",
            "Status": "queued",
            "Discovered At": "={{ $json.lead.discoveredAt }}",
            "Compliance Checked At": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "g-024-queue-approved-lead",
      "name": "Queue Approved Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [4380, 40],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Adds approved warm lead to queue for Architect Engine processing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rejected-Leads-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Lead Type": "={{ $json.lead.leadType }}",
            "Email": "={{ $json.lead.email }}",
            "First Name": "={{ $json.lead.firstName }}",
            "Last Name": "={{ $json.lead.lastName }}",
            "Company": "={{ $json.lead.company }}",
            "Domain": "={{ $json.lead.domain }}",
            "Source Responder": "={{ $json.lead.sourceResponderEmail }}",
            "Rejection Reason": "={{ $json.rejectionReason }}",
            "Client ID": "={{ $json.lead.clientId }}",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "g-025-log-rejected-lead",
      "name": "Log Rejected Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [4380, 280],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Logs leads that failed compliance for audit trail"
    },
    {
      "parameters": {},
      "id": "g-026-continue-batch",
      "name": "Continue Batch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [4600, 160],
      "notes": "Continues to next batch of leads"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate final results\nconst allItems = $input.all();\n\nlet queuedCount = 0;\nlet rejectedCount = 0;\n\n// Count results (simplified - actual count from sheet operations)\nqueuedCount = allItems.filter(i => i.json.isApproved === true).length;\nrejectedCount = allItems.filter(i => i.json.isApproved === false).length;\n\n// Get summary from first item\nconst firstItem = allItems[0]?.json || {};\nconst batchSummary = firstItem.batchSummary || {};\n\nreturn [{\n  json: {\n    status: 'complete',\n    summary: {\n      ...batchSummary,\n      queuedForOutreach: queuedCount,\n      rejectedByCompliance: rejectedCount,\n      completedAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "g-027-aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4820, 160],
      "notes": "Compiles final statistics for reporting"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Engine-G-Run-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Source Responder": "={{ $json.summary.sourceResponder }}",
            "Source Company": "={{ $json.summary.sourceCompany }}",
            "Source Campaign": "={{ $json.summary.sourceCampaign }}",
            "Colleague Leads Found": "={{ $json.summary.colleagueLeads }}",
            "Lookalike Leads Found": "={{ $json.summary.lookalikeLeads }}",
            "Total Warm Leads": "={{ $json.summary.totalWarmLeads }}",
            "Queued for Outreach": "={{ $json.summary.queuedForOutreach }}",
            "Rejected by Compliance": "={{ $json.summary.rejectedByCompliance }}",
            "Status": "complete",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "g-028-log-engine-run",
      "name": "Log Engine G Run",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [5040, 160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Logs each Engine G execution for analytics and debugging"
    },
    {
      "parameters": {
        "sendTo": "marcosmvm1515@gmail.com",
        "subject": "=Engine G - Reply Enrichment Complete | {{ $json.summary.sourceCompany }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #0A1628 0%, #1A2D4A 100%); padding: 20px; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: #00D4FF; margin: 0; font-size: 24px;\">Engine G - The Hunter</h1>\n    <p style=\"color: #E8EDF5; margin: 5px 0 0 0;\">Reply Enrichment Complete</p>\n  </div>\n  \n  <div style=\"background: #1A2D4A; padding: 20px; border-left: 3px solid #00D4FF;\">\n    <h3 style=\"color: #00D4FF; margin: 0 0 15px 0;\">Source Details</h3>\n    <table style=\"color: #E8EDF5; font-size: 14px;\">\n      <tr><td style=\"padding: 5px 15px 5px 0; color: #94A3B8;\">Responder:</td><td>{{ $json.summary.sourceResponder }}</td></tr>\n      <tr><td style=\"padding: 5px 15px 5px 0; color: #94A3B8;\">Company:</td><td>{{ $json.summary.sourceCompany }}</td></tr>\n      <tr><td style=\"padding: 5px 15px 5px 0; color: #94A3B8;\">Campaign:</td><td>{{ $json.summary.sourceCampaign }}</td></tr>\n    </table>\n  </div>\n  \n  <div style=\"background: #111827; padding: 20px;\">\n    <h3 style=\"color: #00FFB2; margin: 0 0 15px 0;\">Warm Leads Found</h3>\n    <table style=\"color: #E8EDF5; font-size: 14px; width: 100%;\">\n      <tr><td style=\"padding: 8px; background: #1A2D4A; border-radius: 4px;\">Colleagues</td><td style=\"padding: 8px; background: #1A2D4A; border-radius: 4px; text-align: right; font-weight: bold; color: #00D4FF;\">{{ $json.summary.colleagueLeads }}</td></tr>\n      <tr><td colspan=\"2\" style=\"height: 5px;\"></td></tr>\n      <tr><td style=\"padding: 8px; background: #1A2D4A; border-radius: 4px;\">Lookalikes</td><td style=\"padding: 8px; background: #1A2D4A; border-radius: 4px; text-align: right; font-weight: bold; color: #00D4FF;\">{{ $json.summary.lookalikeLeads }}</td></tr>\n      <tr><td colspan=\"2\" style=\"height: 5px;\"></td></tr>\n      <tr><td style=\"padding: 8px; background: #00D4FF; color: #0A1628; border-radius: 4px; font-weight: bold;\">TOTAL</td><td style=\"padding: 8px; background: #00D4FF; color: #0A1628; border-radius: 4px; text-align: right; font-weight: bold;\">{{ $json.summary.totalWarmLeads }}</td></tr>\n    </table>\n  </div>\n  \n  <div style=\"background: #1A2D4A; padding: 20px;\">\n    <h3 style=\"color: #7B61FF; margin: 0 0 15px 0;\">Pipeline Status</h3>\n    <table style=\"color: #E8EDF5; font-size: 14px;\">\n      <tr><td style=\"padding: 5px 15px 5px 0;\">Queued for Outreach:</td><td style=\"color: #00FFB2; font-weight: bold;\">{{ $json.summary.queuedForOutreach }}</td></tr>\n      <tr><td style=\"padding: 5px 15px 5px 0;\">Rejected by Compliance:</td><td style=\"color: #FF6B35;\">{{ $json.summary.rejectedByCompliance }}</td></tr>\n    </table>\n  </div>\n  \n  <div style=\"background: #0A1628; padding: 15px; border-radius: 0 0 8px 8px; text-align: center;\">\n    <p style=\"color: #94A3B8; margin: 0; font-size: 12px;\">Quantum Insights | {{ $now.format('yyyy-MM-dd HH:mm:ss') }}</p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "g-029-gmail-alert",
      "name": "Gmail - Success Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [5260, 160],
      "credentials": {
        "gmailOAuth2": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Sends professional email notification with summary stats"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"summary\": $json.summary,\n  \"message\": \"Reply enrichment complete\"\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "g-030-response-success",
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [5480, 160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Engine-G-Run-Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Source Responder": "={{ $json.enrichedResponder.email }}",
            "Source Company": "={{ $json.enrichedResponder.enrichedCompany.name }}",
            "Source Campaign": "={{ $json.enrichedResponder.campaignName }}",
            "Colleague Leads Found": "0",
            "Lookalike Leads Found": "0",
            "Total Warm Leads": "0",
            "Queued for Outreach": "0",
            "Rejected by Compliance": "0",
            "Status": "no_leads_found",
            "Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "g-031-log-no-leads",
      "name": "Log No Leads Found",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [3280, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Logs when no warm leads could be discovered"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"complete\",\n  \"warmLeadsFound\": 0,\n  \"message\": \"No warm leads discovered from this responder\",\n  \"processedAt\": $now.toISO()\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "g-032-response-no-leads",
      "name": "Response - No Leads",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3500, 400]
    }
  ],
  "connections": {
    "Instantly Reply Webhook": {
      "main": [
        [
          {
            "node": "Parse Reply Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reply Data": {
      "main": [
        [
          {
            "node": "Classify Reply Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Reply Sentiment": {
      "main": [
        [
          {
            "node": "Positive/Referral Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positive/Referral Reply?": {
      "main": [
        [
          {
            "node": "Apollo - Enrich Person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped Reply": {
      "main": [
        [
          {
            "node": "Response - Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo - Enrich Person": {
      "main": [
        [
          {
            "node": "Apollo - Enrich Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo - Enrich Company": {
      "main": [
        [
          {
            "node": "Combine Enrichment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Enrichment Data": {
      "main": [
        [
          {
            "node": "Apollo - Find Company Colleagues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apollo - Find Similar Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo - Find Company Colleagues": {
      "main": [
        [
          {
            "node": "Process Colleague Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo - Find Similar Companies": {
      "main": [
        [
          {
            "node": "Process Similar Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Similar Companies": {
      "main": [
        [
          {
            "node": "Prepare Lookalike People Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lookalike People Search": {
      "main": [
        [
          {
            "node": "Apollo - Search Lookalike People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo - Search Lookalike People": {
      "main": [
        [
          {
            "node": "Format Lookalike Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Colleague Leads": {
      "main": [
        [
          {
            "node": "Combine All Warm Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lookalike Leads": {
      "main": [
        [
          {
            "node": "Combine All Warm Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Warm Leads": {
      "main": [
        [
          {
            "node": "Has Warm Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Warm Leads?": {
      "main": [
        [
          {
            "node": "Split Leads for Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Leads Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log No Leads Found": {
      "main": [
        [
          {
            "node": "Response - No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads for Processing": {
      "main": [
        [
          {
            "node": "Batch Process Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Process Leads": {
      "main": [
        [
          {
            "node": "Guardian - Compliance Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardian - Compliance Check": {
      "main": [
        [
          {
            "node": "Evaluate Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Compliance": {
      "main": [
        [
          {
            "node": "Compliance Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Approved?": {
      "main": [
        [
          {
            "node": "Queue Approved Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Rejected Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Approved Lead": {
      "main": [
        [
          {
            "node": "Continue Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Rejected Lead": {
      "main": [
        [
          {
            "node": "Continue Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Batch": {
      "main": [
        [
          {
            "node": "Batch Process Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Log Engine G Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Engine G Run": {
      "main": [
        [
          {
            "node": "Gmail - Success Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Success Alert": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "engine-g-v1-hunter",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "quantum-insights-engine-g"
  },
  "id": "engine-g-hunter",
  "tags": [
    {
      "name": "lead-enrichment"
    },
    {
      "name": "reply-based"
    },
    {
      "name": "warm-leads"
    },
    {
      "name": "apollo"
    },
    {
      "name": "engine-g"
    }
  ]
}
