engines/engine-d-domain-health-scores.json
{
  "name": "engine-d-domain-health-scores",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "list",
          "cachedResultName": "Cold Email Compliance System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1320117929,
          "mode": "list",
          "cachedResultName": "Domain-Health-Scores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit#gid=1320117929"
        },
        "options": {}
      },
      "id": "c5362b05-04b5-451e-adb9-550357c886e6",
      "name": "Check Cache",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if domain is in cache and still valid\nconst input = $('Prepare Input2').item.json;\nconst cache = $input.all().map(i => i.json);\nconst domain = input.domain;\nconst forceRefresh = input.forceRefresh;\n\nconst cachedEntry = cache.find(row => \n  row.Domain && row.Domain.toLowerCase() === domain\n);\n\nlet useCache = false;\nlet cacheData = null;\n\nif (cachedEntry && !forceRefresh) {\n  const cacheValidUntil = new Date(cachedEntry['Cache Valid Until']);\n  const now = new Date();\n  \n  if (cacheValidUntil > now) {\n    useCache = true;\n    cacheData = cachedEntry;\n  }\n}\n\nreturn [{\n  json: {\n    domain: domain,\n    useCache: useCache,\n    cacheData: cacheData,\n    forceRefresh: forceRefresh\n  }\n}];"
      },
      "id": "d5f86361-c050-4e49-944a-4f6b87161b11",
      "name": "Evaluate Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "use-cache",
              "leftValue": "={{ $json.useCache }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ec5ad2a-7c69-4682-83a3-6c12d08b3cda",
      "name": "Use Cache?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"domain\": $json.domain,\n  \"eligible\": $json.cacheData['Eligibility Status'] === 'APPROVED',\n  \"score\": $json.cacheData['Domain Health Score'],\n  \"domainAge\": $json.cacheData['Domain Age (days)'],\n  \"hasMX\": $json.cacheData['MX Records Exist'] === 'Yes',\n  \"hasSPF\": $json.cacheData['SPF Record Exists'] === 'Yes',\n  \"hasDKIM\": $json.cacheData['DKIM Configured'] === 'Yes',\n  \"onBlacklist\": $json.cacheData['On Blacklist'] === 'Yes',\n  \"recommendation\": $json.cacheData.Recommendation,\n  \"status\": $json.cacheData['Eligibility Status'],\n  \"cached\": true,\n  \"lastChecked\": $json.cacheData['Last Checked']\n} }}",
        "options": {}
      },
      "id": "03d9ca10-6158-4435-9b3a-7af58df44cfd",
      "name": "Response - Cached",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1312,
        -112
      ]
    },
    {
      "parameters": {
        "url": "=https://www.whoisxmlapi.com/whoisserver/WhoisService",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domainName",
              "value": "={{ $json.domain }}"
            },
            {
              "name": "outputFormat",
              "value": "JSON"
            }
          ]
        },
        "options": {}
      },
      "id": "0c7496f5-385b-4722-8d34-2175c1797793",
      "name": "WHOIS Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        96
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "WHOIS_API_CREDENTIAL_ID",
          "name": "WHOIS XML API"
        }
      },
      "notes": "IMPORTANT: Create a 'Query Auth' credential in n8n with name 'apiKey' and your WHOIS XML API key value. The exposed key 'at_MVl4lu4hTRVg7nzWZYRHfx0LAN5R9' should be moved there."
    },
    {
      "parameters": {
        "url": "=https://dns.google/resolve?name={{ $('Evaluate Cache').item.json.domain }}&type=MX",
        "options": {}
      },
      "id": "9344a13b-2732-49ca-afbd-74b841f8a245",
      "name": "MX Records Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        96
      ]
    },
    {
      "parameters": {
        "url": "=https://dns.google/resolve?name={{ $('Evaluate Cache').item.json.domain }}&type=TXT",
        "options": {}
      },
      "id": "c3d36d11-9b08-4df7-bba4-143fae22399c",
      "name": "SPF/DKIM Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        96
      ]
    },
    {
      "parameters": {
        "url": "=http://multirbl.valli.org/lookup/{{ $('Evaluate Cache').item.json.domain }}.html",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "e1cbe7a2-c2b1-4d18-96fc-7d71ecf85504",
      "name": "Blacklist Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        96
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-dns-results-001",
      "name": "Merge DNS Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2000,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate domain health score\nconst domain = $('Evaluate Cache').item.json.domain;\nconst whois = $('WHOIS Lookup').item.json;\nconst mxData = $('MX Records Lookup').item.json;\nconst txtData = $('SPF/DKIM Lookup').item.json;\nconst blacklistData = $('Blacklist Check').item.json;\n\nlet score = 100;\nconst issues = [];\nlet domainAge = 0;\nlet domainCreatedDate = '';\n\n// Parse WHOIS data for domain age\ntry {\n  const whoisRecord = whois.WhoisRecord || {};\n  const createdDate = whoisRecord.createdDate || whoisRecord.registryData?.createdDate;\n  \n  if (createdDate) {\n    domainCreatedDate = createdDate;\n    const created = new Date(createdDate);\n    const now = new Date();\n    domainAge = Math.floor((now - created) / (1000 * 60 * 60 * 24));\n    \n    if (domainAge < 60) {\n      score -= 30;\n      issues.push(`Domain too new: ${domainAge} days old (minimum 60 days)`);\n    } else if (domainAge < 180) {\n      score -= 10;\n      issues.push(`Domain relatively new: ${domainAge} days old`);\n    }\n  } else {\n    score -= 20;\n    issues.push('Unable to determine domain age');\n  }\n} catch (e) {\n  score -= 20;\n  issues.push('WHOIS lookup failed');\n}\n\n// Check MX records\nconst hasMX = mxData.Answer && mxData.Answer.length > 0;\nconst mxRecords = hasMX ? mxData.Answer.map(a => a.data).join(', ') : '';\n\nif (!hasMX) {\n  score -= 25;\n  issues.push('No MX records found - not a valid email domain');\n}\n\n// Check SPF record\nconst txtRecords = txtData.Answer || [];\nconst spfRecord = txtRecords.find(r => r.data && r.data.startsWith('v=spf1'));\nconst hasSPF = !!spfRecord;\nconst spfValue = hasSPF ? spfRecord.data : '';\n\nif (!hasSPF) {\n  score -= 15;\n  issues.push('No SPF record - lower deliverability');\n}\n\n// Check DKIM (look for DKIM selector records)\nconst dkimRecord = txtRecords.find(r => r.data && r.data.includes('DKIM'));\nconst hasDKIM = !!dkimRecord;\n\nif (!hasDKIM) {\n  score -= 10;\n  issues.push('No DKIM configured - reduced email authentication');\n}\n\n// Check blacklists (simple check - look for \"LISTED\" in response)\nconst blacklistHtml = blacklistData.toString();\nconst onBlacklist = blacklistHtml.includes('LISTED') || blacklistHtml.includes('blacklisted');\nconst blacklistDetails = onBlacklist ? 'Found on one or more blacklists' : '';\n\nif (onBlacklist) {\n  score -= 40;\n  issues.push('Domain is on spam blacklist(s)');\n}\n\n// Determine eligibility\nlet eligibilityStatus;\nlet recommendation;\n\nif (score >= 80) {\n  eligibilityStatus = 'APPROVED';\n  recommendation = 'Safe to send - domain passes all health checks';\n} else if (score >= 50) {\n  eligibilityStatus = 'CAUTION';\n  recommendation = 'Use with caution - some issues detected';\n} else {\n  eligibilityStatus = 'BLOCKED';\n  recommendation = 'Do not send - multiple issues detected';\n}\n\n// Cache expiration (30 days from now)\nconst now = new Date();\nconst cacheValidUntil = new Date(now.getTime() + (30 * 24 * 60 * 60 * 1000));\n\nreturn [{\n  json: {\n    Domain: domain,\n    Score: score,\n    'Domain Age (Days)': domainAge,\n    'Has MX': hasMX ? 'Yes' : 'No',\n    'Has SPF': hasSPF ? 'Yes' : 'No',\n    'Has DKIM': hasDKIM ? 'Yes' : 'No',\n    'On Blacklist': onBlacklist ? 'Yes' : 'No',\n    Recommendation: recommendation,\n    'Checked Date': now.toISOString().split('T')[0],\n    Expires: cacheValidUntil.toISOString().split('T')[0],\n    'Check Count': 1,\n    domain: domain,\n    eligible: eligibilityStatus === 'APPROVED',\n    score: score,\n    domainAge: domainAge,\n    domainCreatedDate: domainCreatedDate,\n    hasMX: hasMX,\n    mxRecords: mxRecords,\n    hasSPF: hasSPF,\n    spfRecord: spfValue,\n    hasDKIM: hasDKIM,\n    onBlacklist: onBlacklist,\n    blacklistDetails: blacklistDetails,\n    eligibilityStatus: eligibilityStatus,\n    recommendation: recommendation,\n    issues: issues,\n    cached: false,\n    checkedAt: now.toISOString(),\n    cacheValidUntil: cacheValidUntil.toISOString()\n  }\n}];"
      },
      "id": "203ebf6c-5e36-49f9-a8a2-6570101bde18",
      "name": "Calculate Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        96
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0",
          "mode": "list",
          "cachedResultName": "Cold Email Compliance System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1320117929,
          "mode": "list",
          "cachedResultName": "Domain-Health-Scores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WfmE3oRpwTpYQVUVMBGAYfg0xjIUnaEv_iGdcLo5Vl0/edit#gid=1320117929"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Domain"
          ],
          "schema": [
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Domain Age (Days)",
              "displayName": "Domain Age (Days)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Has MX",
              "displayName": "Has MX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Has SPF",
              "displayName": "Has SPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Has DKIM",
              "displayName": "Has DKIM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "On Blacklist",
              "displayName": "On Blacklist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Checked Date",
              "displayName": "Checked Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expires",
              "displayName": "Expires",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check Count",
              "displayName": "Check Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "33f5f58c-3cbd-4a5f-8c6b-67aad96a24fe",
      "name": "Save to Cache",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2416,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VlftvRfmH8YfwovI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "4bb87457-fbec-4622-b10e-7f71f7b6e4a7",
      "name": "Response - Fresh Check",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2640,
        96
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-domain-health",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1f8dca89-675f-4aee-98ce-048e94d6b00c",
      "name": "Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "webhookId": "check-domain-health-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate domain\nconst body = $input.item.json.body;\nconst domain = (body.domain || '').toLowerCase().trim();\n\nif (!domain) {\n  throw new Error('Domain is required');\n}\n\n// Basic domain validation\nconst domainRegex = /^([a-z0-9]+(-[a-z0-9]+)*\\.)+[a-z]{2,}$/;\nif (!domainRegex.test(domain)) {\n  throw new Error('Invalid domain format');\n}\n\nreturn [{\n  json: {\n    domain: domain,\n    clientId: body.clientId || 'GLOBAL',\n    forceRefresh: body.forceRefresh || false\n  }\n}];"
      },
      "id": "c4f0f47b-51dd-4377-bf09-08d95f042ff3",
      "name": "Prepare Input2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "content": "Engine D\nDomain Health Scores\n000",
        "height": 368,
        "width": 2736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -128
      ],
      "typeVersion": 1,
      "id": "66c4865c-8ead-4214-973c-661b260a8f51",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "1 -2 days\nJan 29",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -112
      ],
      "id": "408d3349-d04c-4798-9bdb-87a2f665c816",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Cache": {
      "main": [
        [
          {
            "node": "Evaluate Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Cache": {
      "main": [
        [
          {
            "node": "Use Cache?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cache?": {
      "main": [
        [
          {
            "node": "Response - Cached",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WHOIS Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "MX Records Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "SPF/DKIM Lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blacklist Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WHOIS Lookup": {
      "main": [
        [
          {
            "node": "Merge DNS Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MX Records Lookup": {
      "main": [
        [
          {
            "node": "Merge DNS Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SPF/DKIM Lookup": {
      "main": [
        [
          {
            "node": "Merge DNS Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Blacklist Check": {
      "main": [
        [
          {
            "node": "Merge DNS Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge DNS Results": {
      "main": [
        [
          {
            "node": "Calculate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Score": {
      "main": [
        [
          {
            "node": "Save to Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Cache": {
      "main": [
        [
          {
            "node": "Response - Fresh Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger1": {
      "main": [
        [
          {
            "node": "Prepare Input2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input2": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d939121-f580-41de-88dd-3fce546b4527",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "WgqmlNDE0vml4Qi9",
  "tags": [
    {
      "name": "QI",
      "id": "5DedrhmIxfC3cWQG",
      "updatedAt": "2026-01-19T23:20:45.608Z",
      "createdAt": "2026-01-19T23:20:45.608Z"
    }
  ]
}