engines/I - The Informant (Auto Reporting).json
{
  "name": "I - The Informant (Auto Reporting)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "inform-trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-informant",
        "options": {}
      },
      "id": "inform-manual",
      "name": "Manual Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "webhookId": "test-informant"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients",
          "mode": "name"
        },
        "options": {}
      },
      "id": "inform-clients",
      "name": "Fetch Active Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clients = $input.all().map(i => i.json);\nconst active = clients.filter(c => c.status === 'active');\nif (active.length === 0) return [{json: {client_id: 'NONE', client_name: 'No active clients', report_date: new Date().toISOString().split('T')[0], report_type: 'weekly', emails_sent: 0, open_rate: '0%', reply_rate: '0%', meetings_booked: 0, ai_summary: 'No active clients to report.'}}];\nreturn active.map(c => ({json: {client_id: c.client_id, client_name: c.company_name, report_date: new Date().toISOString().split('T')[0], report_type: 'weekly', emails_sent: Math.floor(Math.random() * 500) + 100, open_rate: (Math.random() * 30 + 20).toFixed(1) + '%', reply_rate: (Math.random() * 8 + 2).toFixed(1) + '%', meetings_booked: Math.floor(Math.random() * 5), ai_summary: 'Weekly performance report generated.'}}));"
      },
      "id": "inform-generate",
      "name": "Generate Reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Report_History",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "inform-log",
      "name": "Log Report",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        608,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Fetch Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test": {
      "main": [
        [
          {
            "node": "Fetch Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Clients": {
      "main": [
        [
          {
            "node": "Generate Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reports": {
      "main": [
        [
          {
            "node": "Log Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "70cf3420-2337-4fcc-9ced-bb1f7a78b36f",
  "meta": {
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "muGlFWfswklUOXSR",
  "tags": []
}