engines/K - The Keeper (AI Knowledge Brain).json
{
  "name": "K - The Keeper (AI Knowledge Brain)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keeper-query",
        "options": {}
      },
      "id": "keeper-webhook",
      "name": "Query Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "keeper-query"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\nreturn [{json: {query: input.query || 'No query', timestamp: new Date().toISOString()}}];"
      },
      "id": "keeper-parse",
      "name": "Parse Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Knowledge_Base",
          "mode": "name"
        },
        "options": {}
      },
      "id": "keeper-kb",
      "name": "Fetch Knowledge",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Query_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "keeper-log",
      "name": "Log Query",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        608,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Query Webhook": {
      "main": [
        [
          {
            "node": "Parse Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query": {
      "main": [
        [
          {
            "node": "Fetch Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Knowledge": {
      "main": [
        [
          {
            "node": "Log Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "925a6699-877c-48c0-91db-e869ebeca8f1",
  "meta": {
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "tDINRDlZPiXDg4ET",
  "tags": []
}