engines/L - The Launcher (Automated Onboarding).json
{
  "name": "L - The Launcher (Automated Onboarding)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-client",
        "options": {}
      },
      "id": "launch-wh",
      "name": "New Client Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "new-client"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body || $input.first().json;\nconst cid = 'C-' + Date.now().toString(36).toUpperCase();\nreturn [{json: {client_id: cid, company_name: d.company_name || 'Unknown', primary_contact: d.primary_contact || '', primary_email: d.primary_email || '', plan_type: d.plan_type || 'standard', status: 'onboarding', created_at: new Date().toISOString(), onboarding_progress: '0'}}];"
      },
      "id": "launch-parse",
      "name": "Parse Client Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "launch-client",
      "name": "Create Client Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{json: {client_id: d.client_id, company_name: d.company_name, phase_welcome: 'pending', phase_assets: 'pending', phase_domains: 'pending', overall_progress: '0', current_phase: 'welcome', created_at: d.created_at}}];"
      },
      "id": "launch-prep-tracker",
      "name": "Prep Tracker Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Onboarding_Tracker",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "launch-tracker",
      "name": "Create Onboarding Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Client Webhook": {
      "main": [
        [
          {
            "node": "Parse Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Client Data": {
      "main": [
        [
          {
            "node": "Create Client Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client Record": {
      "main": [
        [
          {
            "node": "Prep Tracker Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Tracker Data": {
      "main": [
        [
          {
            "node": "Create Onboarding Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "17b664ac-faf6-41af-9879-a4901cea5e86",
  "meta": {
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "jepGe8BtQTp8KC2z",
  "tags": []
}