engines/M - The Monitor (Churn Risk Detector).json
{
  "name": "M - The Monitor (Churn Risk Detector)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "mon-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-monitor",
        "options": {}
      },
      "id": "mon-manual",
      "name": "Manual Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "webhookId": "test-monitor"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Clients",
          "mode": "name"
        },
        "options": {}
      },
      "id": "mon-clients",
      "name": "Fetch Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clients = $input.all().map(i => i.json);\nconst active = clients.filter(c => c.status === 'active');\nif (active.length === 0) {\n  return [{json: {client_id: 'NONE', company_name: 'No active clients', health_score: 0, risk_level: 'none', primary_risk_factor: 'No active clients', assessed_at: new Date().toISOString()}}];\n}\nreturn active.map(client => {\n  let score = 100;\n  let risks = [];\n  const replyRate = parseFloat(client.last_week_reply_rate) || 0;\n  if (replyRate < 3) { score -= 30; risks.push('Low reply rate'); }\n  let riskLevel = 'healthy';\n  if (score < 50) riskLevel = 'critical';\n  else if (score < 70) riskLevel = 'at_risk';\n  return {json: {client_id: client.client_id, company_name: client.company_name, health_score: score, risk_level: riskLevel, primary_risk_factor: risks[0] || 'None', assessed_at: new Date().toISOString()}};\n});"
      },
      "id": "mon-assess",
      "name": "Assess Health Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Health_Score_History",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "mon-log",
      "name": "Log Health Score",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        608,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Test": {
      "main": [
        [
          {
            "node": "Fetch Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Clients": {
      "main": [
        [
          {
            "node": "Assess Health Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Health Score": {
      "main": [
        [
          {
            "node": "Log Health Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "28f50fde-7c76-48ee-910b-276dbf9cd845",
  "meta": {
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "WG8nELl5zHzEbCtN",
  "tags": []
}