engines/N - The Navigator (Self-Serve Portal).json
{
  "name": "N - The Navigator (Self-Serve Portal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-portal",
        "options": {}
      },
      "id": "nav-wh",
      "name": "Portal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "client-portal"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body || $input.first().json;\nconst rid = 'REQ-' + Date.now().toString(36).toUpperCase();\nreturn [{json: {request_id: rid, client_id: d.client_id || 'unknown', request_type: d.request_type || 'general', data: JSON.stringify(d.data || {}), submitted_at: new Date().toISOString(), status: 'pending'}}];"
      },
      "id": "nav-parse",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IJ0sgtbDf9PaQMKAILrZgKWW2YQzjiSzpBU_ssLdBow",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Portal_Requests",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "nav-log",
      "name": "Log Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MrfhPZAnuz7pyxxv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Portal Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Log Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "be160216-52f9-460d-9f3e-2fdaa1d6e97b",
  "meta": {
    "instanceId": "0dad0f5d864c38613af5bf36ddb3c1e1dc2f0a0d1e8894a81c6349893ff9e335"
  },
  "id": "CqDFxxBRdH15Ww4o",
  "tags": []
}