engines/the-launcher-optimized.json
{
  "name": "L - The Launcher (Automated Onboarding)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-client",
        "options": {
          "responseMode": "lastNode"
        },
        "authentication": "headerAuth"
      },
      "id": "webhook-new-client",
      "name": "New Client Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "new-client-onboarding"
    },
    {
      "parameters": {
        "jsCode": "// Initialize client onboarding record\nconst input = $input.first().json.body || $input.first().json;\n\n// Generate unique client ID\nconst clientId = `XG-${Date.now().toString(36).toUpperCase()}`;\n\nconst onboardingRecord = {\n  client_id: clientId,\n  company_name: input.company_name || 'Unknown Company',\n  primary_contact: input.primary_contact || '',\n  primary_email: input.primary_email || '',\n  plan_type: input.plan_type || 'pilot',\n  contract_value: input.contract_value || 0,\n  \n  // Onboarding phases\n  phases: {\n    welcome: { status: 'pending', completed_at: null },\n    asset_collection: { status: 'pending', completed_at: null },\n    domain_setup: { status: 'pending', completed_at: null },\n    crm_integration: { status: 'pending', completed_at: null },\n    campaign_design: { status: 'pending', completed_at: null },\n    review_approval: { status: 'pending', completed_at: null },\n    launch: { status: 'pending', completed_at: null }\n  },\n  \n  // Tracking\n  created_at: new Date().toISOString(),\n  estimated_launch: new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toISOString(),\n  overall_progress: 0,\n  current_phase: 'welcome',\n  \n  // Asset collection status\n  assets: {\n    icp_document: { received: false, validated: false },\n    target_list: { received: false, validated: false },\n    company_info: { received: false, validated: false },\n    calendar_link: { received: false, validated: false },\n    logo: { received: false, validated: false }\n  },\n  \n  // Reminders tracking\n  reminders_sent: 0,\n  last_reminder: null\n};\n\nreturn [{ json: onboardingRecord }];"
      },
      "id": "initialize-client",
      "name": "Initialize Client Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "company_name": "={{ $json.company_name }}",
            "primary_contact": "={{ $json.primary_contact }}",
            "primary_email": "={{ $json.primary_email }}",
            "plan_type": "={{ $json.plan_type }}",
            "contract_value": "={{ $json.contract_value }}",
            "status": "onboarding",
            "created_at": "={{ $json.created_at }}",
            "estimated_launch": "={{ $json.estimated_launch }}",
            "onboarding_progress": "0"
          }
        }
      },
      "id": "create-client-record",
      "name": "Create Client in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Onboarding_Tracker"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "company_name": "={{ $json.company_name }}",
            "phase_welcome": "pending",
            "phase_assets": "pending",
            "phase_domains": "pending",
            "phase_crm": "pending",
            "phase_campaign": "pending",
            "phase_review": "pending",
            "phase_launch": "pending",
            "overall_progress": "0",
            "current_phase": "welcome",
            "created_at": "={{ $json.created_at }}",
            "reminders_sent": "0"
          }
        }
      },
      "id": "create-onboarding-tracker",
      "name": "Create Onboarding Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 110]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Initialize Client Record').first().json.company_name }} - {{ $('Initialize Client Record').first().json.client_id }}\",\n  \"mimeType\": \"application/vnd.google-apps.folder\",\n  \"parents\": [\"{{ $env.XGROWTHOS_CLIENTS_FOLDER_ID }}\"]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "create-drive-folder",
      "name": "Create Client Drive Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "onboarding@xgrowthos.com",
        "toEmail": "={{ $('Initialize Client Record').first().json.primary_email }}",
        "subject": "=🚀 Welcome to XGrowthOS | Let's Get Started, {{ $('Initialize Client Record').first().json.company_name }}!",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Figtree', 'Segoe UI', Arial, sans-serif; background: #F8FAFC; color: #0F172A; padding: 40px; }\n    .container { max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 16px; padding: 40px; border: 1px solid #E2E8F0; box-shadow: 0 4px 6px rgba(0,0,0,0.05); }\n    .header { text-align: center; margin-bottom: 30px; }\n    .logo { font-size: 28px; font-weight: bold; color: #059669; }\n    .welcome-badge { display: inline-block; background: linear-gradient(90deg, #059669, #10B981); color: white; padding: 8px 20px; border-radius: 20px; font-size: 14px; margin: 16px 0; }\n    .checklist { background: #F0FDF4; padding: 24px; border-radius: 12px; margin: 24px 0; border: 1px solid #BBF7D0; }\n    .checklist-item { display: flex; align-items: flex-start; margin: 12px 0; }\n    .checkbox { width: 24px; height: 24px; border: 2px solid #059669; border-radius: 6px; margin-right: 12px; flex-shrink: 0; }\n    .cta-button { display: inline-block; background: linear-gradient(90deg, #059669, #10B981); color: white; padding: 16px 32px; border-radius: 8px; text-decoration: none; font-weight: 600; margin: 24px 0; }\n    .timeline { background: #F8FAFC; padding: 20px; border-radius: 12px; margin: 24px 0; border: 1px solid #E2E8F0; }\n    .timeline-item { display: flex; margin: 12px 0; }\n    .timeline-dot { width: 12px; height: 12px; background: #059669; border-radius: 50%; margin-right: 16px; margin-top: 4px; }\n    .footer { text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #E2E8F0; color: #64748B; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"logo\">XGROWTHOS</div>\n      <div class=\"welcome-badge\">WELCOME TO AUTONOMOUS OUTBOUND</div>\n    </div>\n    \n    <h2 style=\"margin: 0 0 16px 0;\">Hey {{ $('Initialize Client Record').first().json.primary_contact.split(' ')[0] }},</h2>\n    \n    <p>We're thrilled to have {{ $('Initialize Client Record').first().json.company_name }} join XGrowthOS. Let's get your AI-powered outbound system up and running.</p>\n    \n    <p><strong>Your Client ID:</strong> {{ $('Initialize Client Record').first().json.client_id }}</p>\n    \n    <div class=\"timeline\">\n      <h3 style=\"margin: 0 0 16px 0; color: #059669;\">Your Onboarding Timeline</h3>\n      <div class=\"timeline-item\">\n        <div class=\"timeline-dot\"></div>\n        <div><strong>Days 1-2:</strong> Complete onboarding checklist</div>\n      </div>\n      <div class=\"timeline-item\">\n        <div class=\"timeline-dot\" style=\"background: #10B981;\"></div>\n        <div><strong>Days 3-5:</strong> Domain warmup begins + campaign design</div>\n      </div>\n      <div class=\"timeline-item\">\n        <div class=\"timeline-dot\" style=\"background: #22C55E;\"></div>\n        <div><strong>Days 6-10:</strong> Review & refinement</div>\n      </div>\n      <div class=\"timeline-item\">\n        <div class=\"timeline-dot\" style=\"background: #4ADE80;\"></div>\n        <div><strong>Days 11-14:</strong> Launch! 🚀</div>\n      </div>\n    </div>\n    \n    <div class=\"checklist\">\n      <h3 style=\"margin: 0 0 16px 0; color: #059669;\">Your Onboarding Checklist</h3>\n      <p style=\"color: #64748B; margin-bottom: 16px;\">Complete these items to ensure the fastest launch:</p>\n      \n      <div class=\"checklist-item\">\n        <div class=\"checkbox\"></div>\n        <div><strong>ICP Document</strong> - Your ideal customer profile details</div>\n      </div>\n      <div class=\"checklist-item\">\n        <div class=\"checkbox\"></div>\n        <div><strong>Target Company List</strong> - Companies you want to reach</div>\n      </div>\n      <div class=\"checklist-item\">\n        <div class=\"checkbox\"></div>\n        <div><strong>Company Information</strong> - About your company, value props, case studies</div>\n      </div>\n      <div class=\"checklist-item\">\n        <div class=\"checkbox\"></div>\n        <div><strong>Calendar Link</strong> - For meeting bookings</div>\n      </div>\n      <div class=\"checklist-item\">\n        <div class=\"checkbox\"></div>\n        <div><strong>Logo</strong> - High-res for email signatures</div>\n      </div>\n    </div>\n    \n    <div style=\"text-align: center;\">\n      <a href=\"{{ $env.XGROWTHOS_PORTAL_URL }}/onboarding/{{ $('Initialize Client Record').first().json.client_id }}\" class=\"cta-button\">Complete Your Onboarding →</a>\n    </div>\n    \n    <p style=\"color: #64748B; font-size: 14px; text-align: center;\">Estimated launch date: {{ new Date($('Initialize Client Record').first().json.estimated_launch).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}</p>\n    \n    <div class=\"footer\">\n      <p>Questions? Reply to this email or contact your success manager.</p>\n      <p>Powered by XGrowthOS | xgrowthos.com</p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 0]
    },
    {
      "parameters": {
        "channel": "#new-clients",
        "text": "=🎉 *New Client Onboarding Started*\n\n*Company:* {{ $('Initialize Client Record').first().json.company_name }}\n*Client ID:* {{ $('Initialize Client Record').first().json.client_id }}\n*Plan:* {{ $('Initialize Client Record').first().json.plan_type }}\n*Contact:* {{ $('Initialize Client Record').first().json.primary_contact }}\n\n*Estimated Launch:* {{ new Date($('Initialize Client Record').first().json.estimated_launch).toLocaleDateString() }}\n\n_Welcome email sent. Awaiting asset submission._",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "notify-team-slack",
      "name": "Notify Team on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Onboarding_Tracker"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $('Initialize Client Record').first().json.client_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phase_welcome": "completed",
            "welcome_completed_at": "={{ $now.toISO() }}",
            "current_phase": "asset_collection",
            "overall_progress": "14"
          }
        }
      },
      "id": "update-welcome-complete",
      "name": "Mark Welcome Complete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 110]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"client_id\": \"{{ $('Initialize Client Record').first().json.client_id }}\",\n  \"company_name\": \"{{ $('Initialize Client Record').first().json.company_name }}\",\n  \"message\": \"Client onboarding initiated successfully\",\n  \"estimated_launch\": \"{{ $('Initialize Client Record').first().json.estimated_launch }}\"\n}",
        "options": {}
      },
      "id": "return-success",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "reminder-trigger",
      "name": "Check Pending Onboardings (6hr)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Onboarding_Tracker"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "current_phase",
              "lookupValue": "!completed"
            }
          ]
        }
      },
      "id": "get-pending-onboardings",
      "name": "Get Pending Onboardings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 400]
    },
    {
      "parameters": {
        "jsCode": "// Check which clients need reminders (with idempotency)\nconst onboardings = $input.all();\nconst now = new Date();\nconst reminderThresholds = {\n  first: 24 * 60 * 60 * 1000,  // 24 hours\n  second: 48 * 60 * 60 * 1000, // 48 hours\n  final: 72 * 60 * 60 * 1000   // 72 hours\n};\n\nconst needsReminder = [];\n\nfor (const item of onboardings) {\n  const onboarding = item.json;\n  \n  // Skip if current_phase is completed\n  if (onboarding.current_phase === 'completed') continue;\n  \n  // Skip if assets are complete\n  if (onboarding.phase_assets === 'completed') continue;\n  \n  const createdAt = new Date(onboarding.created_at);\n  const timeSinceCreation = now - createdAt;\n  const reminders = parseInt(onboarding.reminders_sent) || 0;\n  \n  // Check last reminder time to prevent duplicate sends\n  const lastReminder = onboarding.last_reminder ? new Date(onboarding.last_reminder) : null;\n  const timeSinceLastReminder = lastReminder ? (now - lastReminder) : Infinity;\n  \n  // Only send reminder if at least 6 hours since last one\n  if (timeSinceLastReminder < 6 * 60 * 60 * 1000) continue;\n  \n  // Determine if reminder is needed\n  let needsReminderNow = false;\n  let reminderType = '';\n  \n  if (reminders === 0 && timeSinceCreation >= reminderThresholds.first) {\n    needsReminderNow = true;\n    reminderType = 'friendly';\n  } else if (reminders === 1 && timeSinceCreation >= reminderThresholds.second) {\n    needsReminderNow = true;\n    reminderType = 'urgent';\n  } else if (reminders === 2 && timeSinceCreation >= reminderThresholds.final) {\n    needsReminderNow = true;\n    reminderType = 'final';\n  }\n  \n  if (needsReminderNow) {\n    needsReminder.push({\n      ...onboarding,\n      reminder_type: reminderType,\n      reminders_to_send: reminders + 1,\n      days_since_start: Math.floor(timeSinceCreation / (24 * 60 * 60 * 1000))\n    });\n  }\n}\n\nreturn needsReminder.map(r => ({ json: r }));"
      },
      "id": "check-reminders-needed",
      "name": "Check Reminders Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-needs-reminder",
      "name": "Any Reminders Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $json.client_id }}"
            }
          ]
        }
      },
      "id": "get-client-details",
      "name": "Get Client Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 400]
    },
    {
      "parameters": {
        "fromEmail": "onboarding@xgrowthos.com",
        "toEmail": "={{ $json.primary_email }}",
        "subject": "={{ $('Check Reminders Needed').first().json.reminder_type === 'friendly' ? '👋 Quick reminder: Complete your onboarding checklist' : $('Check Reminders Needed').first().json.reminder_type === 'urgent' ? '⏰ Your onboarding is waiting - Let\\'s get moving!' : '🚨 Final reminder: Action needed to proceed' }} | XGrowthOS",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Figtree', 'Segoe UI', Arial, sans-serif; background: #F8FAFC; color: #0F172A; padding: 40px; }\n    .container { max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 16px; padding: 40px; border: 1px solid #E2E8F0; }\n    .urgency-badge { display: inline-block; padding: 8px 16px; border-radius: 20px; font-size: 14px; font-weight: 600; margin-bottom: 20px; }\n    .friendly { background: #059669; color: white; }\n    .urgent { background: #F59E0B; color: white; }\n    .final { background: #EF4444; color: white; }\n    .cta-button { display: inline-block; background: linear-gradient(90deg, #059669, #10B981); color: white; padding: 16px 32px; border-radius: 8px; text-decoration: none; font-weight: 600; }\n    .progress-bar { height: 8px; background: #E2E8F0; border-radius: 4px; margin: 16px 0; }\n    .progress-fill { height: 100%; background: linear-gradient(90deg, #059669, #10B981); border-radius: 4px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <span class=\"urgency-badge {{ $('Check Reminders Needed').first().json.reminder_type }}\">{{ $('Check Reminders Needed').first().json.reminder_type === 'friendly' ? 'FRIENDLY REMINDER' : $('Check Reminders Needed').first().json.reminder_type === 'urgent' ? 'ACTION NEEDED' : 'FINAL NOTICE' }}</span>\n    \n    <h2>Hey {{ $json.primary_contact.split(' ')[0] }},</h2>\n    \n    {{ $('Check Reminders Needed').first().json.reminder_type === 'friendly' ? '<p>Just checking in! We\\'re excited to get your outbound system running, but we\\'re still waiting on a few items from your onboarding checklist.</p>' : $('Check Reminders Needed').first().json.reminder_type === 'urgent' ? '<p>Your onboarding has been pending for ' + $('Check Reminders Needed').first().json.days_since_start + ' days. We want to make sure you hit your launch date!</p>' : '<p>This is our final reminder. Without the required assets, we won\\'t be able to proceed with your campaign launch. Please complete your checklist today.</p>' }}\n    \n    <div style=\"background: #F8FAFC; padding: 20px; border-radius: 12px; margin: 24px 0; border: 1px solid #E2E8F0;\">\n      <p style=\"margin: 0 0 8px 0; color: #64748B;\">Your Progress</p>\n      <div class=\"progress-bar\">\n        <div class=\"progress-fill\" style=\"width: {{ $('Check Reminders Needed').first().json.overall_progress || 14 }}%;\"></div>\n      </div>\n      <p style=\"margin: 8px 0 0 0; font-size: 14px;\">{{ $('Check Reminders Needed').first().json.overall_progress || 14 }}% complete</p>\n    </div>\n    \n    <div style=\"text-align: center;\">\n      <a href=\"{{ $env.XGROWTHOS_PORTAL_URL }}/onboarding/{{ $json.client_id }}\" class=\"cta-button\">Complete Onboarding →</a>\n    </div>\n    \n    <p style=\"color: #64748B; font-size: 14px; margin-top: 24px;\">Need help? Reply to this email and we'll assist you right away.</p>\n  </div>\n</body>\n</html>"
      },
      "id": "send-reminder-email",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Onboarding_Tracker"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $json.client_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reminders_sent": "={{ $('Check Reminders Needed').first().json.reminders_to_send }}",
            "last_reminder": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "update-reminder-count",
      "name": "Update Reminder Count",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asset-submission",
        "options": {
          "responseMode": "lastNode"
        },
        "authentication": "headerAuth"
      },
      "id": "asset-submission-webhook",
      "name": "Asset Submission Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 700],
      "webhookId": "asset-submission"
    },
    {
      "parameters": {
        "jsCode": "// Validate submitted assets with proper checks\nconst submission = $input.first().json.body || $input.first().json;\n\nconst validationResults = {\n  client_id: submission.client_id,\n  submitted_at: new Date().toISOString(),\n  assets: {},\n  all_valid: true,\n  errors: []\n};\n\n// Validate ICP document\nif (submission.icp_document) {\n  const icpValid = typeof submission.icp_document === 'string' && submission.icp_document.length > 100;\n  validationResults.assets.icp_document = {\n    received: true,\n    validated: icpValid,\n    error: icpValid ? null : 'ICP document too short (minimum 100 characters)'\n  };\n  if (!icpValid) {\n    validationResults.all_valid = false;\n    validationResults.errors.push('ICP document validation failed');\n  }\n}\n\n// Validate target list\nif (submission.target_list) {\n  let listValid = false;\n  let count = 0;\n  \n  if (Array.isArray(submission.target_list)) {\n    count = submission.target_list.length;\n    listValid = count >= 10;\n  }\n  \n  validationResults.assets.target_list = {\n    received: true,\n    validated: listValid,\n    count: count,\n    error: listValid ? null : 'Target list needs at least 10 companies'\n  };\n  if (!listValid) {\n    validationResults.all_valid = false;\n    validationResults.errors.push('Target list validation failed');\n  }\n}\n\n// Validate company info\nif (submission.company_info) {\n  const infoValid = submission.company_info.value_prop && \n                    submission.company_info.description &&\n                    submission.company_info.value_prop.length > 20;\n  validationResults.assets.company_info = {\n    received: true,\n    validated: infoValid,\n    error: infoValid ? null : 'Missing value proposition or description'\n  };\n  if (!infoValid) {\n    validationResults.all_valid = false;\n    validationResults.errors.push('Company info incomplete');\n  }\n}\n\n// Validate calendar link\nif (submission.calendar_link) {\n  const calendarValid = submission.calendar_link.includes('calendly.com') || \n                        submission.calendar_link.includes('cal.com') ||\n                        submission.calendar_link.includes('hubspot.com') ||\n                        submission.calendar_link.includes('chili') ||\n                        submission.calendar_link.startsWith('https://');\n  validationResults.assets.calendar_link = {\n    received: true,\n    validated: calendarValid,\n    error: calendarValid ? null : 'Invalid calendar link format'\n  };\n  if (!calendarValid) {\n    validationResults.all_valid = false;\n    validationResults.errors.push('Calendar link validation failed');\n  }\n}\n\n// Check if all required assets are present and valid\nconst requiredAssets = ['icp_document', 'target_list', 'company_info', 'calendar_link'];\nconst allReceived = requiredAssets.every(a => validationResults.assets[a]?.received);\nconst allValid = requiredAssets.every(a => validationResults.assets[a]?.validated);\n\nvalidationResults.all_received = allReceived;\nvalidationResults.all_valid = allValid;\nvalidationResults.ready_for_next_phase = allReceived && allValid;\n\nreturn [{ json: validationResults }];"
      },
      "id": "validate-assets",
      "name": "Validate Submitted Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "all-valid",
              "leftValue": "={{ $json.ready_for_next_phase }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "All Assets Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 700]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Onboarding_Tracker"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $json.client_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phase_assets": "completed",
            "assets_completed_at": "={{ $now.toISO() }}",
            "current_phase": "domain_setup",
            "overall_progress": "28"
          }
        }
      },
      "id": "update-assets-complete",
      "name": "Mark Assets Complete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 600]
    },
    {
      "parameters": {
        "channel": "#onboarding",
        "text": "=✅ *Assets Validated*\n\n*Client ID:* {{ $('Validate Submitted Assets').first().json.client_id }}\n*Status:* All assets received and validated\n\n📧 Domain provisioning triggered automatically.\n\n_Next: Campaign design will begin once domains are warming._",
        "otherOptions": {}
      },
      "id": "notify-assets-complete",
      "name": "Notify Assets Complete",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [880, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"client_id\": \"{{ $('Validate Submitted Assets').first().json.client_id }}\",\n  \"message\": \"Assets validated successfully. Domain provisioning initiated.\",\n  \"next_phase\": \"domain_setup\"\n}",
        "options": {}
      },
      "id": "return-validation-success",
      "name": "Return Validation Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Asset validation failed\",\n  \"errors\": {{ JSON.stringify($json.errors) }},\n  \"details\": {{ JSON.stringify($json.assets) }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-validation-errors",
      "name": "Return Validation Errors",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 800]
    }
  ],
  "connections": {
    "New Client Webhook": {
      "main": [
        [
          { "node": "Initialize Client Record", "type": "main", "index": 0 }
        ]
      ]
    },
    "Initialize Client Record": {
      "main": [
        [
          { "node": "Create Client in Sheets", "type": "main", "index": 0 },
          { "node": "Create Onboarding Tracker", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Client in Sheets": {
      "main": [
        [
          { "node": "Create Client Drive Folder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Onboarding Tracker": {
      "main": [
        [
          { "node": "Create Client Drive Folder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Client Drive Folder": {
      "main": [
        [
          { "node": "Send Welcome Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          { "node": "Notify Team on Slack", "type": "main", "index": 0 },
          { "node": "Mark Welcome Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Team on Slack": {
      "main": [
        [
          { "node": "Return Success Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Pending Onboardings (6hr)": {
      "main": [
        [
          { "node": "Get Pending Onboardings", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Pending Onboardings": {
      "main": [
        [
          { "node": "Check Reminders Needed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Reminders Needed": {
      "main": [
        [
          { "node": "Any Reminders Needed?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Any Reminders Needed?": {
      "main": [
        [
          { "node": "Get Client Details", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Client Details": {
      "main": [
        [
          { "node": "Send Reminder Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          { "node": "Update Reminder Count", "type": "main", "index": 0 }
        ]
      ]
    },
    "Asset Submission Webhook": {
      "main": [
        [
          { "node": "Validate Submitted Assets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validate Submitted Assets": {
      "main": [
        [
          { "node": "All Assets Valid?", "type": "main", "index": 0 }
        ]
      ]
    },
    "All Assets Valid?": {
      "main": [
        [
          { "node": "Mark Assets Complete", "type": "main", "index": 0 }
        ],
        [
          { "node": "Return Validation Errors", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mark Assets Complete": {
      "main": [
        [
          { "node": "Notify Assets Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Assets Complete": {
      "main": [
        [
          { "node": "Return Validation Success", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "XGrowthOS" },
    { "name": "Onboarding" },
    { "name": "Client Success" },
    { "name": "CSM Suite" }
  ],
  "triggerCount": 3,
  "pinData": {}
}
