engines/the-navigator-optimized.json
{
  "name": "N - The Navigator (Self-Serve Portal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-portal",
        "options": {
          "responseMode": "lastNode"
        },
        "authentication": "headerAuth"
      },
      "id": "portal-webhook",
      "name": "Client Portal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "client-portal"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming request\nconst input = $input.first().json.body || $input.first().json;\n\nconst requestTypes = {\n  'update_icp': { category: 'instant', requires_review: false },\n  'upload_leads': { category: 'review', requires_review: true },\n  'add_domain': { category: 'complex', requires_review: true },\n  'update_calendar': { category: 'instant', requires_review: false },\n  'pause_campaign': { category: 'instant', requires_review: false },\n  'resume_campaign': { category: 'instant', requires_review: false },\n  'request_copy_change': { category: 'review', requires_review: true },\n  'download_report': { category: 'instant', requires_review: false },\n  'update_meeting_link': { category: 'instant', requires_review: false },\n  'request_call': { category: 'review', requires_review: true }\n};\n\nconst requestType = input.request_type;\nconst typeConfig = requestTypes[requestType];\n\nif (!typeConfig) {\n  return [{\n    json: {\n      success: false,\n      error: 'Invalid request type',\n      valid_types: Object.keys(requestTypes),\n      _shouldRespond: true,\n      _responseCode: 400\n    }\n  }];\n}\n\nconst request = {\n  request_id: `REQ-${Date.now().toString(36).toUpperCase()}`,\n  client_id: input.client_id,\n  request_type: requestType,\n  category: typeConfig.category,\n  requires_review: typeConfig.requires_review,\n  data: input.data || {},\n  submitted_by: input.submitted_by || 'portal_user',\n  submitted_at: new Date().toISOString(),\n  status: typeConfig.requires_review ? 'pending_review' : 'processing',\n  priority: input.priority || 'normal'\n};\n\nreturn [{ json: request }];"
      },
      "id": "parse-request",
      "name": "Parse & Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $json.client_id }}"
            }
          ]
        }
      },
      "id": "verify-client",
      "name": "Verify Client Access",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "client-exists",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-client-valid",
      "name": "Client Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Client not found or access denied\",\n  \"client_id\": \"{{ $('Parse & Validate Request').first().json.client_id }}\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "return-unauthorized",
      "name": "Return Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 110]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Portal_Requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ $('Parse & Validate Request').first().json.request_id }}",
            "client_id": "={{ $('Parse & Validate Request').first().json.client_id }}",
            "request_type": "={{ $('Parse & Validate Request').first().json.request_type }}",
            "category": "={{ $('Parse & Validate Request').first().json.category }}",
            "data": "={{ JSON.stringify($('Parse & Validate Request').first().json.data) }}",
            "submitted_by": "={{ $('Parse & Validate Request').first().json.submitted_by }}",
            "submitted_at": "={{ $('Parse & Validate Request').first().json.submitted_at }}",
            "status": "={{ $('Parse & Validate Request').first().json.status }}",
            "priority": "={{ $('Parse & Validate Request').first().json.priority }}"
          }
        }
      },
      "id": "log-request",
      "name": "Log Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, -110]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-instant",
              "leftValue": "={{ $('Parse & Validate Request').first().json.category }}",
              "rightValue": "instant",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-category",
      "name": "Route by Category",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -110]
    },
    {
      "parameters": {
        "jsCode": "// Route instant actions by type\nconst request = $('Parse & Validate Request').first().json;\nconst requestType = request.request_type;\n\n// Return with routing indicator\nreturn [{\n  json: {\n    ...request,\n    action_route: requestType\n  }\n}];"
      },
      "id": "prepare-instant-action",
      "name": "Prepare Instant Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-campaign-action",
              "leftValue": "={{ $json.action_route }}",
              "rightValue": "pause_campaign",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "is-resume-action",
              "leftValue": "={{ $json.action_route }}",
              "rightValue": "resume_campaign",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-campaign-action",
      "name": "Is Campaign Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, -220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.instantly.ai/api/v1/campaign/{{ $json.data.campaign_id }}/{{ $json.action_route === 'pause_campaign' ? 'pause' : 'activate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "execute-campaign-action",
      "name": "Execute Campaign Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -330],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $('Parse & Validate Request').first().json.client_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "calendar_link": "={{ $('Parse & Validate Request').first().json.data.calendar_link }}"
          }
        }
      },
      "id": "update-calendar-link",
      "name": "Update Calendar Link",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, -110]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Client_ICP"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $('Parse & Validate Request').first().json.client_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "icp_data": "={{ JSON.stringify($('Parse & Validate Request').first().json.data.icp) }}",
            "updated_at": "={{ $now.toISO() }}"
          }
        }
      },
      "id": "update-icp",
      "name": "Update ICP",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "jsCode": "// Generate report download link\nconst request = $('Parse & Validate Request').first().json;\n\n// Generate a signed URL or token for secure download\nconst reportToken = Buffer.from(`${request.client_id}:${Date.now()}`).toString('base64');\nconst portalUrl = process.env.XGROWTHOS_PORTAL_URL || 'https://app.xgrowthos.com';\nconst reportUrl = `${portalUrl}/api/reports/${request.client_id}/${request.data.report_type || 'latest'}?token=${reportToken}`;\n\nreturn [{\n  json: {\n    success: true,\n    request_id: request.request_id,\n    action: 'download_report',\n    download_url: reportUrl,\n    expires_in: '24 hours'\n  }\n}];"
      },
      "id": "generate-report-download",
      "name": "Generate Report Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 110]
    },
    {
      "parameters": {
        "jsCode": "// Mark instant action as completed\nconst request = $('Parse & Validate Request').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    request_id: request.request_id,\n    client_id: request.client_id,\n    request_type: request.request_type,\n    status: 'completed',\n    completed_at: new Date().toISOString(),\n    message: `Your ${request.request_type.replace(/_/g, ' ')} request has been processed successfully.`\n  }\n}];"
      },
      "id": "mark-instant-complete",
      "name": "Mark Instant Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -110]
    },
    {
      "parameters": {
        "channel": "#client-requests",
        "text": "=📋 *Review Required: {{ $('Parse & Validate Request').first().json.request_type.replace(/_/g, ' ').toUpperCase() }}*\n\n*Request ID:* {{ $('Parse & Validate Request').first().json.request_id }}\n*Client:* {{ $('Verify Client Access').first().json.company_name }}\n*Type:* {{ $('Parse & Validate Request').first().json.request_type }}\n*Priority:* {{ $('Parse & Validate Request').first().json.priority }}\n\n*Details:*\n```{{ JSON.stringify($('Parse & Validate Request').first().json.data, null, 2) }}```\n\n_Submitted by: {{ $('Parse & Validate Request').first().json.submitted_by }}_",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "notify-review-needed",
      "name": "Notify Review Needed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1320, 110]
    },
    {
      "parameters": {
        "jsCode": "// Generate pending response for review items\nconst request = $('Parse & Validate Request').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    request_id: request.request_id,\n    client_id: request.client_id,\n    request_type: request.request_type,\n    status: 'pending_review',\n    message: `Your ${request.request_type.replace(/_/g, ' ')} request has been submitted and is pending review. You'll receive confirmation within 24 hours.`,\n    estimated_completion: new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString()\n  }\n}];"
      },
      "id": "generate-pending-response",
      "name": "Generate Pending Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 110]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Portal_Requests"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "request_id",
              "lookupValue": "={{ $json.request_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "completed_at": "={{ $json.completed_at || '' }}"
          }
        }
      },
      "id": "update-request-status",
      "name": "Update Request Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "return-response",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-request",
        "options": {
          "responseMode": "lastNode"
        },
        "authentication": "headerAuth"
      },
      "id": "approval-webhook",
      "name": "Request Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "approve-request"
    },
    {
      "parameters": {
        "jsCode": "// Process approval/rejection\nconst input = $input.first().json.body || $input.first().json;\n\nconst decision = {\n  request_id: input.request_id,\n  action: input.action, // 'approve' or 'reject'\n  reviewer: input.reviewer || 'admin',\n  notes: input.notes || '',\n  decided_at: new Date().toISOString()\n};\n\nreturn [{ json: decision }];"
      },
      "id": "parse-approval",
      "name": "Parse Approval Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Portal_Requests"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "request_id",
              "lookupValue": "={{ $json.request_id }}"
            }
          ]
        }
      },
      "id": "get-request-details",
      "name": "Get Request Details",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-approved",
              "leftValue": "={{ $('Parse Approval Decision').first().json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approval-status",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "jsCode": "// Execute approved request\nconst request = $('Get Request Details').first().json;\nconst decision = $('Parse Approval Decision').first().json;\n\n// Parse the stored data\nlet requestData;\ntry {\n  requestData = typeof request.data === 'string' ? JSON.parse(request.data) : request.data;\n} catch (e) {\n  requestData = {};\n}\n\nreturn [{\n  json: {\n    ...request,\n    data: requestData,\n    approval: decision,\n    status: 'approved',\n    execution_status: 'pending'\n  }\n}];"
      },
      "id": "prepare-execution",
      "name": "Prepare Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 290]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-lead-upload",
              "leftValue": "={{ $json.request_type }}",
              "rightValue": "upload_leads",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lead-upload",
      "name": "Is Lead Upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 290]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign_id\": \"{{ $json.data.campaign_id }}\",\n  \"leads\": {{ JSON.stringify($json.data.leads || []) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "execute-lead-upload",
      "name": "Upload Leads to Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 180],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process other approved request types (domain, copy change, etc.)\nconst request = $input.first().json;\n\nlet result = {\n  success: true,\n  message: 'Request processed'\n};\n\nswitch (request.request_type) {\n  case 'add_domain':\n    result.message = 'Domain addition queued for provisioning';\n    result.domain = request.data.domain;\n    result.estimated_warmup_complete = new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toISOString();\n    break;\n  case 'request_copy_change':\n    result.message = 'Copy change request approved and queued for campaign manager';\n    result.campaign_id = request.data.campaign_id;\n    result.changes_requested = request.data.changes;\n    break;\n  case 'request_call':\n    result.message = 'Call request logged. CSM will reach out within 24 hours.';\n    result.preferred_time = request.data.preferred_time;\n    break;\n  default:\n    result.message = `Request type '${request.request_type}' processed`;\n}\n\nreturn [{ json: { ...request, result } }];"
      },
      "id": "process-other-requests",
      "name": "Process Other Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Portal_Requests"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "request_id",
              "lookupValue": "={{ $('Parse Approval Decision').first().json.request_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "completed_at": "={{ $now.toISO() }}",
            "reviewed_by": "={{ $('Parse Approval Decision').first().json.reviewer }}",
            "review_notes": "={{ $('Parse Approval Decision').first().json.notes }}"
          }
        }
      },
      "id": "update-approved-status",
      "name": "Update Approved Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 290]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $('Get Request Details').first().json.client_id }}"
            }
          ]
        }
      },
      "id": "get-client-for-notification",
      "name": "Get Client for Notification",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 290]
    },
    {
      "parameters": {
        "fromEmail": "portal@xgrowthos.com",
        "toEmail": "={{ $json.primary_email }}",
        "subject": "=✅ Request Approved: {{ $('Get Request Details').first().json.request_type.replace(/_/g, ' ') }} | XGrowthOS",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Figtree', 'Segoe UI', Arial, sans-serif; background: #F8FAFC; color: #0F172A; padding: 40px; }\n    .container { max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 16px; padding: 40px; border: 1px solid #E2E8F0; }\n    .status-badge { display: inline-block; background: #059669; color: white; padding: 8px 16px; border-radius: 20px; font-size: 14px; font-weight: 600; }\n    .details { background: #F0FDF4; padding: 20px; border-radius: 12px; margin: 20px 0; border-left: 4px solid #059669; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div style=\"text-align: center; margin-bottom: 24px;\">\n      <span class=\"status-badge\">✅ APPROVED</span>\n    </div>\n    \n    <h2 style=\"color: #0F172A;\">Your request has been approved!</h2>\n    \n    <div class=\"details\">\n      <p style=\"margin: 0 0 8px 0;\"><strong>Request ID:</strong> {{ $('Get Request Details').first().json.request_id }}</p>\n      <p style=\"margin: 0 0 8px 0;\"><strong>Type:</strong> {{ $('Get Request Details').first().json.request_type.replace(/_/g, ' ') }}</p>\n      <p style=\"margin: 0;\"><strong>Status:</strong> Completed</p>\n      {{ $('Parse Approval Decision').first().json.notes ? '<p style=\"margin: 8px 0 0 0;\"><strong>Notes:</strong> ' + $('Parse Approval Decision').first().json.notes + '</p>' : '' }}\n    </div>\n    \n    <p style=\"color: #334155;\">The changes have been applied to your account. If you have any questions, please don't hesitate to reach out.</p>\n    \n    <p style=\"color: #64748B; font-size: 12px; margin-top: 30px; text-align: center;\">Powered by XGrowthOS | xgrowthos.com</p>\n  </div>\n</body>\n</html>"
      },
      "id": "send-approval-notification",
      "name": "Send Approval Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1980, 290]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Portal_Requests"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "request_id",
              "lookupValue": "={{ $('Parse Approval Decision').first().json.request_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "rejected",
            "completed_at": "={{ $now.toISO() }}",
            "reviewed_by": "={{ $('Parse Approval Decision').first().json.reviewer }}",
            "review_notes": "={{ $('Parse Approval Decision').first().json.notes }}"
          }
        }
      },
      "id": "update-rejected-status",
      "name": "Update Rejected Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 510]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $('Get Request Details').first().json.client_id }}"
            }
          ]
        }
      },
      "id": "get-client-for-rejection",
      "name": "Get Client for Rejection",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 510]
    },
    {
      "parameters": {
        "fromEmail": "portal@xgrowthos.com",
        "toEmail": "={{ $json.primary_email }}",
        "subject": "=Request Update: {{ $('Get Request Details').first().json.request_type.replace(/_/g, ' ') }} | XGrowthOS",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Figtree', 'Segoe UI', Arial, sans-serif; background: #F8FAFC; color: #0F172A; padding: 40px; }\n    .container { max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 16px; padding: 40px; border: 1px solid #E2E8F0; }\n    .status-badge { display: inline-block; background: #F59E0B; color: white; padding: 8px 16px; border-radius: 20px; font-size: 14px; font-weight: 600; }\n    .details { background: #FEF3C7; padding: 20px; border-radius: 12px; margin: 20px 0; border-left: 4px solid #F59E0B; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div style=\"text-align: center; margin-bottom: 24px;\">\n      <span class=\"status-badge\">⚠️ NEEDS REVISION</span>\n    </div>\n    \n    <h2 style=\"color: #0F172A;\">Your request needs some changes</h2>\n    \n    <div class=\"details\">\n      <p style=\"margin: 0 0 8px 0;\"><strong>Request ID:</strong> {{ $('Get Request Details').first().json.request_id }}</p>\n      <p style=\"margin: 0 0 8px 0;\"><strong>Type:</strong> {{ $('Get Request Details').first().json.request_type.replace(/_/g, ' ') }}</p>\n      <p style=\"margin: 0;\"><strong>Feedback:</strong> {{ $('Parse Approval Decision').first().json.notes || 'Please contact your success manager for details.' }}</p>\n    </div>\n    \n    <p style=\"color: #334155;\">Please review the feedback and resubmit your request through the client portal. If you have questions, reply to this email or contact your success manager.</p>\n    \n    <p style=\"color: #64748B; font-size: 12px; margin-top: 30px; text-align: center;\">Powered by XGrowthOS | xgrowthos.com</p>\n  </div>\n</body>\n</html>"
      },
      "id": "send-rejection-notification",
      "name": "Send Rejection Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1320, 510]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"request_id\": \"{{ $('Parse Approval Decision').first().json.request_id }}\",\n  \"action\": \"{{ $('Parse Approval Decision').first().json.action }}\",\n  \"message\": \"Request {{ $('Parse Approval Decision').first().json.action }}d successfully\"\n}",
        "options": {}
      },
      "id": "return-approval-response",
      "name": "Return Approval Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 400]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "request-status",
        "options": {
          "responseMode": "lastNode"
        },
        "authentication": "headerAuth"
      },
      "id": "status-webhook",
      "name": "Request Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 700],
      "webhookId": "request-status"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Portal_Requests"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "request_id",
              "lookupValue": "={{ $json.query.request_id || $json.body.request_id }}"
            }
          ]
        }
      },
      "id": "lookup-request-status",
      "name": "Lookup Request Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"request\": {\n    \"request_id\": \"{{ $json.request_id }}\",\n    \"type\": \"{{ $json.request_type }}\",\n    \"status\": \"{{ $json.status }}\",\n    \"submitted_at\": \"{{ $json.submitted_at }}\",\n    \"completed_at\": {{ $json.completed_at ? '\"' + $json.completed_at + '\"' : 'null' }},\n    \"review_notes\": {{ $json.review_notes ? '\"' + $json.review_notes + '\"' : 'null' }}\n  }\n}",
        "options": {}
      },
      "id": "return-status",
      "name": "Return Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 700]
    }
  ],
  "connections": {
    "Client Portal Webhook": {
      "main": [
        [
          { "node": "Parse & Validate Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse & Validate Request": {
      "main": [
        [
          { "node": "Verify Client Access", "type": "main", "index": 0 }
        ]
      ]
    },
    "Verify Client Access": {
      "main": [
        [
          { "node": "Client Valid?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Client Valid?": {
      "main": [
        [
          { "node": "Log Request", "type": "main", "index": 0 }
        ],
        [
          { "node": "Return Unauthorized", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Request": {
      "main": [
        [
          { "node": "Route by Category", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          { "node": "Prepare Instant Action", "type": "main", "index": 0 }
        ],
        [
          { "node": "Notify Review Needed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Instant Action": {
      "main": [
        [
          { "node": "Is Campaign Action?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Campaign Action?": {
      "main": [
        [
          { "node": "Execute Campaign Action", "type": "main", "index": 0 }
        ],
        [
          { "node": "Update Calendar Link", "type": "main", "index": 0 },
          { "node": "Update ICP", "type": "main", "index": 0 },
          { "node": "Generate Report Download", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute Campaign Action": {
      "main": [
        [
          { "node": "Mark Instant Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Calendar Link": {
      "main": [
        [
          { "node": "Mark Instant Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update ICP": {
      "main": [
        [
          { "node": "Mark Instant Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Report Download": {
      "main": [
        [
          { "node": "Update Request Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mark Instant Complete": {
      "main": [
        [
          { "node": "Update Request Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Notify Review Needed": {
      "main": [
        [
          { "node": "Generate Pending Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Pending Response": {
      "main": [
        [
          { "node": "Update Request Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Request Status": {
      "main": [
        [
          { "node": "Return Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Request Approval Webhook": {
      "main": [
        [
          { "node": "Parse Approval Decision", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Approval Decision": {
      "main": [
        [
          { "node": "Get Request Details", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Request Details": {
      "main": [
        [
          { "node": "Approved?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          { "node": "Prepare Execution", "type": "main", "index": 0 }
        ],
        [
          { "node": "Update Rejected Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Execution": {
      "main": [
        [
          { "node": "Is Lead Upload?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Lead Upload?": {
      "main": [
        [
          { "node": "Upload Leads to Campaign", "type": "main", "index": 0 }
        ],
        [
          { "node": "Process Other Requests", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upload Leads to Campaign": {
      "main": [
        [
          { "node": "Update Approved Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Process Other Requests": {
      "main": [
        [
          { "node": "Update Approved Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Approved Status": {
      "main": [
        [
          { "node": "Get Client for Notification", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Client for Notification": {
      "main": [
        [
          { "node": "Send Approval Notification", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Approval Notification": {
      "main": [
        [
          { "node": "Return Approval Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Rejected Status": {
      "main": [
        [
          { "node": "Get Client for Rejection", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Client for Rejection": {
      "main": [
        [
          { "node": "Send Rejection Notification", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Rejection Notification": {
      "main": [
        [
          { "node": "Return Approval Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Request Status Webhook": {
      "main": [
        [
          { "node": "Lookup Request Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Lookup Request Status": {
      "main": [
        [
          { "node": "Return Status", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "XGrowthOS" },
    { "name": "Client Portal" },
    { "name": "Self-Service" },
    { "name": "CSM Suite" }
  ],
  "triggerCount": 3,
  "pinData": {}
}
