engines/the-keeper-optimized.json
{
  "name": "K - The Keeper (AI Knowledge Brain)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "keeper-query",
        "options": {
          "responseMode": "lastNode"
        },
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger",
      "name": "Knowledge Query Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "keeper-query"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.channel_id }}"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "slack-command",
      "name": "Slack App Mention",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [0, 220]
    },
    {
      "parameters": {
        "jsCode": "// Parse and structure the incoming query\nconst input = $input.first().json;\n\n// Handle both webhook and Slack inputs\nlet query, userId, channelId, source;\n\nif (input.body) {\n  // Webhook input\n  query = input.body.query || input.body.text;\n  userId = input.body.user_id;\n  channelId = input.body.channel_id;\n  source = 'webhook';\n} else if (input.text) {\n  // Slack input\n  query = input.text.replace(/<@[A-Z0-9]+>/g, '').trim(); // Remove mentions\n  userId = input.user;\n  channelId = input.channel;\n  source = 'slack';\n} else {\n  query = input.query || 'No query provided';\n  userId = input.user_id || 'unknown';\n  channelId = input.channel_id || 'unknown';\n  source = 'direct';\n}\n\n// Detect query type for routing\nlet queryType = 'general';\nconst queryLower = (query || '').toLowerCase();\n\nif (queryLower.includes('client') || queryLower.includes('account')) {\n  queryType = 'client_specific';\n} else if (queryLower.includes('how do i') || queryLower.includes('how to')) {\n  queryType = 'process';\n} else if (queryLower.includes('troubleshoot') || queryLower.includes('fix') || queryLower.includes('error')) {\n  queryType = 'troubleshooting';\n} else if (queryLower.includes('metric') || queryLower.includes('benchmark') || queryLower.includes('rate')) {\n  queryType = 'metrics';\n}\n\nreturn [{\n  json: {\n    query,\n    query_type: queryType,\n    user_id: userId,\n    channel_id: channelId,\n    source,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-query",
      "name": "Parse Query Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 110]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Knowledge_Base"
        }
      },
      "id": "fetch-knowledge-base",
      "name": "Fetch Knowledge Base",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, -60]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "SOPs"
        }
      },
      "id": "fetch-sops",
      "name": "Fetch SOPs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 60]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "FAQ"
        }
      },
      "id": "fetch-faq",
      "name": "Fetch FAQ Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 180]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Troubleshooting_Guide"
        }
      },
      "id": "fetch-troubleshooting",
      "name": "Fetch Troubleshooting Guide",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "merge-knowledge",
      "name": "Merge Knowledge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 110]
    },
    {
      "parameters": {
        "jsCode": "// Perform semantic search across all knowledge sources\nconst queryData = $('Parse Query Input').first().json;\nconst query = queryData.query;\nconst queryType = queryData.query_type;\n\n// Gather all knowledge sources\nconst knowledgeBase = $('Fetch Knowledge Base').all().map(i => i.json);\nconst sops = $('Fetch SOPs').all().map(i => i.json);\nconst faq = $('Fetch FAQ Database').all().map(i => i.json);\nconst troubleshooting = $('Fetch Troubleshooting Guide').all().map(i => i.json);\n\n// Improved keyword-based relevance scoring\nfunction calculateRelevance(text, searchQuery) {\n  if (!text || !searchQuery) return 0;\n  const textLower = text.toLowerCase();\n  const queryWords = searchQuery.toLowerCase().split(/\\s+/).filter(w => w.length > 2);\n  \n  let score = 0;\n  for (const word of queryWords) {\n    if (textLower.includes(word)) {\n      score += 1;\n      // Bonus for word appearing multiple times\n      const matches = (textLower.match(new RegExp(word, 'g')) || []).length;\n      if (matches > 1) score += 0.5;\n    }\n  }\n  \n  // Bonus for exact phrase match\n  if (textLower.includes(searchQuery.toLowerCase())) {\n    score += 3;\n  }\n  \n  return score;\n}\n\nconst results = [];\n\n// Search knowledge base\nfor (const item of knowledgeBase) {\n  const relevance = calculateRelevance(\n    `${item.title || ''} ${item.content || ''} ${item.keywords || ''}`,\n    query\n  );\n  if (relevance > 0) {\n    results.push({\n      source: 'knowledge_base',\n      title: item.title || 'Untitled',\n      content: item.content || '',\n      category: item.category || 'General',\n      relevance\n    });\n  }\n}\n\n// Search SOPs\nfor (const item of sops) {\n  const relevance = calculateRelevance(\n    `${item.title || ''} ${item.description || ''} ${item.steps || ''}`,\n    query\n  );\n  if (relevance > 0) {\n    results.push({\n      source: 'sop',\n      title: item.title || 'Untitled SOP',\n      content: item.steps || item.description || '',\n      category: item.category || 'Process',\n      relevance\n    });\n  }\n}\n\n// Search FAQ\nfor (const item of faq) {\n  const relevance = calculateRelevance(\n    `${item.question || ''} ${item.answer || ''}`,\n    query\n  );\n  if (relevance > 0) {\n    results.push({\n      source: 'faq',\n      title: item.question || 'FAQ',\n      content: item.answer || '',\n      category: item.category || 'FAQ',\n      relevance\n    });\n  }\n}\n\n// Search troubleshooting\nfor (const item of troubleshooting) {\n  const relevance = calculateRelevance(\n    `${item.issue || ''} ${item.symptoms || ''} ${item.solution || ''}`,\n    query\n  );\n  if (relevance > 0) {\n    results.push({\n      source: 'troubleshooting',\n      title: item.issue || 'Issue',\n      content: `Symptoms: ${item.symptoms || 'N/A'}\\n\\nSolution: ${item.solution || 'N/A'}`,\n      category: item.category || 'Troubleshooting',\n      relevance\n    });\n  }\n}\n\n// Sort by relevance and take top 5\nconst topResults = results\n  .sort((a, b) => b.relevance - a.relevance)\n  .slice(0, 5);\n\nreturn [{\n  json: {\n    query,\n    query_type: queryType,\n    results: topResults,\n    total_found: results.length,\n    confidence: topResults.length > 0 ? (topResults[0].relevance > 3 ? 'high' : 'medium') : 'low',\n    user_id: queryData.user_id,\n    channel_id: queryData.channel_id,\n    source: queryData.source\n  }\n}];"
      },
      "id": "semantic-search",
      "name": "Semantic Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 110]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.total_found }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-results",
      "name": "Results Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 110]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are The Keeper, an AI knowledge assistant for XGrowthOS, an autonomous B2B lead generation platform. Your role is to help the internal team (CSMs, account managers) quickly find answers about processes, client handling, technical troubleshooting, and best practices.\n\nRules:\n1. Be concise and actionable\n2. If you reference a process, include the specific steps\n3. If troubleshooting, give the most likely solution first\n4. Always cite which source (SOP, FAQ, Knowledge Base, Troubleshooting) your answer came from\n5. If the answer isn't in the provided context, say so clearly\n6. Format responses for easy scanning (bullets, numbered steps when appropriate)\n7. End with a confidence indicator: [High/Medium/Low Confidence]"
            },
            {
              "role": "user",
              "content": "=Question: {{ $json.query }}\n\nQuery Type: {{ $json.query_type }}\n\nRelevant Knowledge Found:\n{{ $json.results.map((r, i) => `\n---\nSource ${i+1}: ${r.source.toUpperCase()}\nTitle: ${r.title}\nContent: ${r.content}\n---`).join('\\n') }}\n\nPlease answer the question based on this knowledge. If the knowledge doesn't fully answer the question, indicate what's missing."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 800
        }
      },
      "id": "generate-answer",
      "name": "Generate AI Answer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "// No results found - generate helpful response\nconst queryData = $('Semantic Search').first().json;\n\nreturn [{\n  json: {\n    answer: `I couldn't find specific information about: \"${queryData.query}\"\\n\\nThis might be:\\n• A topic not yet documented\\n• Phrased differently in our knowledge base\\n• Something that needs to be added to our SOPs\\n\\n**Suggestions:**\\n1. Try rephrasing your question\\n2. Ask a colleague who might know\\n3. Flag this for documentation if it's a common question\\n\\n[Low Confidence - No matching documentation found]`,\n    confidence: 'low',\n    sources_checked: ['Knowledge Base', 'SOPs', 'FAQ', 'Troubleshooting Guide'],\n    suggestion: 'Consider adding documentation for this topic',\n    query: queryData.query,\n    user_id: queryData.user_id,\n    channel_id: queryData.channel_id,\n    source: queryData.source\n  }\n}];"
      },
      "id": "no-results-response",
      "name": "Generate No Results Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 220]
    },
    {
      "parameters": {
        "jsCode": "// Structure the final response\nconst searchResults = $('Semantic Search').first().json;\nconst aiResponse = $('Generate AI Answer').first().json;\n\nconst answer = aiResponse.message?.content || aiResponse.text || 'Unable to generate response';\n\n// Extract sources used\nconst sourcesUsed = [...new Set(searchResults.results.map(r => r.source))];\n\nreturn [{\n  json: {\n    query: searchResults.query,\n    answer,\n    confidence: searchResults.confidence,\n    sources_used: sourcesUsed,\n    top_result_title: searchResults.results[0]?.title || 'N/A',\n    results_count: searchResults.total_found,\n    user_id: searchResults.user_id,\n    channel_id: searchResults.channel_id,\n    source: searchResults.source,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "structure-response",
      "name": "Structure Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-slack",
              "leftValue": "={{ $json.source }}",
              "rightValue": "slack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-source",
      "name": "Is Slack Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 110]
    },
    {
      "parameters": {
        "channel": "={{ $json.channel_id }}",
        "text": "=🧠 *The Keeper*\n\n*Query:* {{ $json.query }}\n\n{{ $json.answer }}\n\n---\n_Sources: {{ $json.sources_used.join(', ') }} | Confidence: {{ $json.confidence }}_",
        "otherOptions": {
          "unfurlLinks": false,
          "unfurlMedia": false
        }
      },
      "id": "send-slack-response",
      "name": "Send Slack Response",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"query\": {{ JSON.stringify($json.query) }},\n  \"answer\": {{ JSON.stringify($json.answer) }},\n  \"confidence\": \"{{ $json.confidence }}\",\n  \"sources_used\": {{ JSON.stringify($json.sources_used) }},\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "send-webhook-response",
      "name": "Send Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1980, 220]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Query_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "query": "={{ $json.query }}",
            "confidence": "={{ $json.confidence }}",
            "sources_used": "={{ $json.sources_used.join(', ') }}",
            "results_count": "={{ $json.results_count }}",
            "user_id": "={{ $json.user_id }}",
            "source": "={{ $json.source }}"
          }
        }
      },
      "id": "log-query",
      "name": "Log Query to History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 110]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-low-confidence",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-confidence",
      "name": "Low Confidence?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 110]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Knowledge_Gaps"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "query": "={{ $json.query }}",
            "user_id": "={{ $json.user_id }}",
            "status": "needs_documentation"
          }
        }
      },
      "id": "log-knowledge-gap",
      "name": "Log Knowledge Gap",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2640, 0]
    },
    {
      "parameters": {
        "channel": "#knowledge-gaps",
        "text": "=📚 *Knowledge Gap Detected*\n\n*Query:* {{ $json.query }}\n*User:* <@{{ $json.user_id }}>\n\nThis question couldn't be answered confidently. Consider adding documentation for this topic.",
        "otherOptions": {}
      },
      "id": "notify-knowledge-gap",
      "name": "Notify Knowledge Gap",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2640, 110]
    }
  ],
  "connections": {
    "Knowledge Query Webhook": {
      "main": [
        [
          { "node": "Parse Query Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Slack App Mention": {
      "main": [
        [
          { "node": "Parse Query Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Query Input": {
      "main": [
        [
          { "node": "Fetch Knowledge Base", "type": "main", "index": 0 },
          { "node": "Fetch SOPs", "type": "main", "index": 0 },
          { "node": "Fetch FAQ Database", "type": "main", "index": 0 },
          { "node": "Fetch Troubleshooting Guide", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Knowledge Base": {
      "main": [
        [
          { "node": "Merge Knowledge Sources", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch SOPs": {
      "main": [
        [
          { "node": "Merge Knowledge Sources", "type": "main", "index": 1 }
        ]
      ]
    },
    "Fetch FAQ Database": {
      "main": [
        [
          { "node": "Merge Knowledge Sources", "type": "main", "index": 2 }
        ]
      ]
    },
    "Fetch Troubleshooting Guide": {
      "main": [
        [
          { "node": "Merge Knowledge Sources", "type": "main", "index": 3 }
        ]
      ]
    },
    "Merge Knowledge Sources": {
      "main": [
        [
          { "node": "Semantic Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "Semantic Search": {
      "main": [
        [
          { "node": "Results Found?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Results Found?": {
      "main": [
        [
          { "node": "Generate AI Answer", "type": "main", "index": 0 }
        ],
        [
          { "node": "Generate No Results Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate AI Answer": {
      "main": [
        [
          { "node": "Structure Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate No Results Response": {
      "main": [
        [
          { "node": "Is Slack Request?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Structure Response": {
      "main": [
        [
          { "node": "Is Slack Request?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Slack Request?": {
      "main": [
        [
          { "node": "Send Slack Response", "type": "main", "index": 0 }
        ],
        [
          { "node": "Send Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Slack Response": {
      "main": [
        [
          { "node": "Log Query to History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Webhook Response": {
      "main": [
        [
          { "node": "Log Query to History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Query to History": {
      "main": [
        [
          { "node": "Low Confidence?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Low Confidence?": {
      "main": [
        [
          { "node": "Log Knowledge Gap", "type": "main", "index": 0 },
          { "node": "Notify Knowledge Gap", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "XGrowthOS" },
    { "name": "AI Assistant" },
    { "name": "Knowledge Management" },
    { "name": "CSM Suite" }
  ],
  "triggerCount": 2,
  "pinData": {}
}
