engines/the-judge-optimized.json
{
  "name": "J - The Judge (Issue Detection)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Health Check Trigger (4hr)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.instantly.ai/api/v1/account/list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-inboxes",
      "name": "Fetch All Inboxes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -110],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.instantly.ai/api/v1/campaign/list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-campaigns",
      "name": "Fetch All Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 110],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Domain_Health"
        }
      },
      "id": "get-domain-records",
      "name": "Get Domain Health Records",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 330]
    },
    {
      "parameters": {
        "jsCode": "// Analyze inbox health and detect issues\nconst inboxes = $('Fetch All Inboxes').first().json?.accounts || [];\nconst thresholds = {\n  deliverability_min: 95,\n  warmup_required_days: 14,\n  daily_send_limit_warning: 45\n};\n\nconst issues = [];\nconst healthy = [];\n\nfor (const inbox of inboxes) {\n  const inboxIssues = [];\n  \n  // Check deliverability score\n  if (inbox.deliverability_score && inbox.deliverability_score < thresholds.deliverability_min) {\n    inboxIssues.push({\n      type: 'LOW_DELIVERABILITY',\n      severity: 'P2',\n      message: `Deliverability at ${inbox.deliverability_score}% (threshold: ${thresholds.deliverability_min}%)`,\n      auto_action: 'ROTATE_INBOX'\n    });\n  }\n  \n  // Check warmup status\n  if (inbox.warmup_status === 'paused' || inbox.warmup_status === 'error') {\n    inboxIssues.push({\n      type: 'WARMUP_ISSUE',\n      severity: 'P2',\n      message: `Warmup status: ${inbox.warmup_status}`,\n      auto_action: 'RESTART_WARMUP'\n    });\n  }\n  \n  // Check if inbox is flagged/blacklisted\n  if (inbox.status === 'flagged' || inbox.status === 'blacklisted') {\n    inboxIssues.push({\n      type: 'INBOX_FLAGGED',\n      severity: 'P1',\n      message: `Inbox flagged: ${inbox.status}`,\n      auto_action: 'DISABLE_AND_REPLACE'\n    });\n  }\n  \n  // Check daily send limits\n  if (inbox.daily_sent >= inbox.daily_limit * (thresholds.daily_send_limit_warning / 50)) {\n    inboxIssues.push({\n      type: 'SEND_LIMIT_WARNING',\n      severity: 'P3',\n      message: `Daily send at ${inbox.daily_sent}/${inbox.daily_limit}`,\n      auto_action: 'MONITOR'\n    });\n  }\n  \n  if (inboxIssues.length > 0) {\n    issues.push({\n      email: inbox.email,\n      client_id: inbox.client_id,\n      domain: inbox.email?.split('@')[1] || 'unknown',\n      issues: inboxIssues,\n      worst_severity: inboxIssues.sort((a, b) => a.severity.localeCompare(b.severity))[0].severity\n    });\n  } else {\n    healthy.push({\n      email: inbox.email,\n      client_id: inbox.client_id,\n      status: 'healthy'\n    });\n  }\n}\n\nreturn [\n  { json: { type: 'inbox_issues', data: issues, count: issues.length } },\n  { json: { type: 'healthy_inboxes', data: healthy, count: healthy.length } }\n];"
      },
      "id": "analyze-inboxes",
      "name": "Analyze Inbox Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, -110]
    },
    {
      "parameters": {
        "jsCode": "// Analyze campaign metrics for issues\nconst campaigns = $('Fetch All Campaigns').first().json?.campaigns || [];\nconst thresholds = {\n  bounce_rate_max: 3,\n  reply_rate_drop_pct: 25,\n  min_sends_for_analysis: 100\n};\n\nconst issues = [];\n\nfor (const campaign of campaigns) {\n  if (campaign.status !== 'active') continue;\n  if ((campaign.sent || 0) < thresholds.min_sends_for_analysis) continue;\n  \n  const campaignIssues = [];\n  \n  // Calculate bounce rate\n  const bounceRate = campaign.sent > 0 ? (campaign.bounces / campaign.sent) * 100 : 0;\n  if (bounceRate > thresholds.bounce_rate_max) {\n    campaignIssues.push({\n      type: 'HIGH_BOUNCE_RATE',\n      severity: 'P1',\n      message: `Bounce rate at ${bounceRate.toFixed(1)}% (max: ${thresholds.bounce_rate_max}%)`,\n      auto_action: 'PAUSE_CAMPAIGN'\n    });\n  }\n  \n  // Check reply rate\n  const replyRate = campaign.sent > 0 ? (campaign.replies / campaign.sent) * 100 : 0;\n  if (replyRate < 0.5 && campaign.sent > 500) {\n    campaignIssues.push({\n      type: 'LOW_REPLY_RATE',\n      severity: 'P2',\n      message: `Reply rate critically low at ${replyRate.toFixed(2)}%`,\n      auto_action: 'FLAG_FOR_REVIEW'\n    });\n  }\n  \n  // Check for send failures\n  if (campaign.failed_sends && campaign.failed_sends > 10) {\n    campaignIssues.push({\n      type: 'SEND_FAILURES',\n      severity: 'P2',\n      message: `${campaign.failed_sends} failed sends detected`,\n      auto_action: 'CHECK_INTEGRATION'\n    });\n  }\n  \n  if (campaignIssues.length > 0) {\n    issues.push({\n      campaign_id: campaign.id,\n      campaign_name: campaign.name,\n      client_id: campaign.client_id,\n      issues: campaignIssues,\n      worst_severity: campaignIssues.sort((a, b) => a.severity.localeCompare(b.severity))[0].severity,\n      metrics: {\n        sent: campaign.sent,\n        bounces: campaign.bounces,\n        bounce_rate: bounceRate.toFixed(1),\n        replies: campaign.replies,\n        reply_rate: replyRate.toFixed(2)\n      }\n    });\n  }\n}\n\nreturn [{ json: { type: 'campaign_issues', data: issues, count: issues.length } }];"
      },
      "id": "analyze-campaigns",
      "name": "Analyze Campaign Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 110]
    },
    {
      "parameters": {
        "jsCode": "// Check domain blacklist status\nconst domainRecords = $('Get Domain Health Records').all();\nconst issues = [];\n\nfor (const record of domainRecords) {\n  const domain = record.json;\n  const domainIssues = [];\n  \n  // Check SPF\n  if (domain.spf_status !== 'pass') {\n    domainIssues.push({\n      type: 'SPF_FAILURE',\n      severity: 'P1',\n      message: `SPF check failed: ${domain.spf_status}`,\n      auto_action: 'ALERT_AND_GUIDE'\n    });\n  }\n  \n  // Check DKIM\n  if (domain.dkim_status !== 'pass') {\n    domainIssues.push({\n      type: 'DKIM_FAILURE',\n      severity: 'P1',\n      message: `DKIM check failed: ${domain.dkim_status}`,\n      auto_action: 'ALERT_AND_GUIDE'\n    });\n  }\n  \n  // Check DMARC\n  if (domain.dmarc_status !== 'pass') {\n    domainIssues.push({\n      type: 'DMARC_FAILURE',\n      severity: 'P2',\n      message: `DMARC check failed: ${domain.dmarc_status}`,\n      auto_action: 'ALERT_AND_GUIDE'\n    });\n  }\n  \n  // Check blacklist status\n  if (domain.blacklist_status === 'listed') {\n    domainIssues.push({\n      type: 'DOMAIN_BLACKLISTED',\n      severity: 'P1',\n      message: `Domain blacklisted on: ${domain.blacklist_sources || 'unknown'}`,\n      auto_action: 'IMMEDIATE_DOMAIN_SWAP'\n    });\n  }\n  \n  if (domainIssues.length > 0) {\n    issues.push({\n      domain: domain.domain,\n      client_id: domain.client_id,\n      issues: domainIssues,\n      worst_severity: domainIssues.sort((a, b) => a.severity.localeCompare(b.severity))[0].severity\n    });\n  }\n}\n\nreturn [{ json: { type: 'domain_issues', data: issues, count: issues.length } }];"
      },
      "id": "analyze-domains",
      "name": "Analyze Domain Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 330]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "merge-all-issues",
      "name": "Merge All Analysis",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 110]
    },
    {
      "parameters": {
        "jsCode": "// Merge all issues and prioritize\nconst allInputs = $input.all();\n\nlet inboxIssues = { data: [] };\nlet campaignIssues = { data: [] };\nlet domainIssues = { data: [] };\n\nfor (const input of allInputs) {\n  if (input.json.type === 'inbox_issues') inboxIssues = input.json;\n  if (input.json.type === 'campaign_issues') campaignIssues = input.json;\n  if (input.json.type === 'domain_issues') domainIssues = input.json;\n}\n\nconst allIssues = [\n  ...inboxIssues.data.map(i => ({ ...i, source: 'inbox' })),\n  ...campaignIssues.data.map(i => ({ ...i, source: 'campaign' })),\n  ...domainIssues.data.map(i => ({ ...i, source: 'domain' }))\n];\n\n// Sort by severity (P1 first)\nconst sortedIssues = allIssues.sort((a, b) => {\n  const severityOrder = { P1: 1, P2: 2, P3: 3, P4: 4 };\n  return severityOrder[a.worst_severity] - severityOrder[b.worst_severity];\n});\n\n// Group by severity\nconst grouped = {\n  critical: sortedIssues.filter(i => i.worst_severity === 'P1'),\n  high: sortedIssues.filter(i => i.worst_severity === 'P2'),\n  medium: sortedIssues.filter(i => i.worst_severity === 'P3'),\n  low: sortedIssues.filter(i => i.worst_severity === 'P4')\n};\n\nconst summary = {\n  total_issues: allIssues.length,\n  critical_count: grouped.critical.length,\n  high_count: grouped.high.length,\n  medium_count: grouped.medium.length,\n  low_count: grouped.low.length,\n  requires_immediate_action: grouped.critical.length > 0,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { summary, grouped, all_issues: sortedIssues } }];"
      },
      "id": "merge-prioritize",
      "name": "Merge & Prioritize Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 110]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-issues",
              "leftValue": "={{ $json.summary.total_issues }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-issues-exist",
      "name": "Any Issues Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 110]
    },
    {
      "parameters": {
        "jsCode": "// No issues - log healthy status\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    status: 'all_healthy',\n    message: 'All systems operational. No issues detected.',\n    timestamp,\n    next_check: new Date(Date.now() + 4 * 60 * 60 * 1000).toISOString()\n  }\n}];"
      },
      "id": "log-healthy",
      "name": "Log Healthy Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 220]
    },
    {
      "parameters": {
        "jsCode": "// Execute auto-fix actions for issues\nconst issueData = $input.first().json;\nconst autoFixResults = [];\n\nfor (const issue of issueData.all_issues) {\n  for (const subIssue of issue.issues) {\n    const action = {\n      issue_id: `${issue.source}-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n      source: issue.source,\n      type: subIssue.type,\n      severity: subIssue.severity,\n      auto_action: subIssue.auto_action,\n      status: 'pending',\n      details: {},\n      client_id: issue.client_id\n    };\n    \n    // Determine fix action based on type\n    switch (subIssue.auto_action) {\n      case 'ROTATE_INBOX':\n        action.status = 'queued';\n        action.details = {\n          action: 'rotate_inbox',\n          inbox: issue.email,\n          reason: subIssue.message\n        };\n        break;\n        \n      case 'PAUSE_CAMPAIGN':\n        action.status = 'queued';\n        action.details = {\n          action: 'pause_campaign',\n          campaign_id: issue.campaign_id,\n          reason: subIssue.message\n        };\n        break;\n        \n      case 'DISABLE_AND_REPLACE':\n        action.status = 'queued';\n        action.details = {\n          action: 'disable_inbox',\n          inbox: issue.email,\n          replacement_needed: true,\n          reason: subIssue.message\n        };\n        break;\n        \n      case 'IMMEDIATE_DOMAIN_SWAP':\n        action.status = 'escalated';\n        action.details = {\n          action: 'domain_swap',\n          domain: issue.domain,\n          reason: subIssue.message,\n          requires_human: true\n        };\n        break;\n        \n      case 'FLAG_FOR_REVIEW':\n        action.status = 'flagged';\n        action.details = {\n          action: 'manual_review',\n          reason: subIssue.message\n        };\n        break;\n        \n      default:\n        action.status = 'logged';\n        action.details = {\n          action: 'monitor',\n          reason: subIssue.message\n        };\n    }\n    \n    autoFixResults.push(action);\n  }\n}\n\nreturn autoFixResults.map(r => ({ json: r }));"
      },
      "id": "execute-auto-fix",
      "name": "Execute Auto-Fix Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-api-action",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-queued",
      "name": "Filter Queued Actions",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-inbox-action",
              "leftValue": "={{ $json.details.action }}",
              "rightValue": "rotate_inbox",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "is-disable-action",
              "leftValue": "={{ $json.details.action }}",
              "rightValue": "disable_inbox",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "route-action-type",
      "name": "Route by Action Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -110]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.instantly.ai/api/v1/account/{{ $json.details.inbox }}/pause",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "execute-inbox-action",
      "name": "Execute Inbox Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, -220],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.instantly.ai/api/v1/campaign/{{ $json.details.campaign_id }}/pause",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "execute-campaign-pause",
      "name": "Execute Campaign Pause",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Incident_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "incident_id": "={{ $json.issue_id }}",
            "timestamp": "={{ $now.toISO() }}",
            "source": "={{ $json.source }}",
            "type": "={{ $json.type }}",
            "severity": "={{ $json.severity }}",
            "auto_action": "={{ $json.auto_action }}",
            "status": "={{ $json.status }}",
            "details": "={{ JSON.stringify($json.details) }}",
            "client_id": "={{ $json.client_id }}"
          }
        }
      },
      "id": "log-incident",
      "name": "Log Incident to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-critical",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "P1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-critical",
      "name": "Is Critical Severity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 220]
    },
    {
      "parameters": {
        "channel": "#alerts-critical",
        "text": "=🚨 *CRITICAL ISSUE DETECTED*\n\n*Type:* {{ $json.type }}\n*Severity:* {{ $json.severity }}\n*Source:* {{ $json.source }}\n*Client ID:* {{ $json.client_id }}\n\n*Details:*\n{{ $json.details.reason }}\n\n*Auto Action:* {{ $json.auto_action }}\n*Status:* {{ $json.status }}\n\n<!channel> — CSM please review immediately",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "id": "slack-critical-alert",
      "name": "Slack Critical Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1980, 110]
    },
    {
      "parameters": {
        "channel": "#alerts-general",
        "text": "=⚠️ *Issue Detected & Auto-Handled*\n\n*Type:* {{ $json.type }}\n*Severity:* {{ $json.severity }}\n*Action Taken:* {{ $json.auto_action }}\n\n_Status: {{ $json.status }}_",
        "otherOptions": {}
      },
      "id": "slack-general-alert",
      "name": "Slack General Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1980, 330]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "filters": {
          "conditions": [
            {
              "lookupColumn": "client_id",
              "lookupValue": "={{ $json.client_id }}"
            }
          ]
        }
      },
      "id": "get-client-email",
      "name": "Get Client Contact",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 110]
    },
    {
      "parameters": {
        "fromEmail": "alerts@xgrowthos.com",
        "toEmail": "={{ $json.primary_email }}",
        "subject": "=✅ Proactive Update: Issue Detected & Resolved | XGrowthOS",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Figtree', 'Segoe UI', Arial, sans-serif; background: #F8FAFC; color: #0F172A; padding: 40px; }\n    .container { max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 16px; padding: 40px; border: 1px solid #E2E8F0; }\n    .status-badge { display: inline-block; background: #059669; color: white; padding: 8px 16px; border-radius: 20px; font-size: 14px; font-weight: 600; }\n    .details { background: #F0FDF4; padding: 20px; border-radius: 12px; margin: 20px 0; border-left: 4px solid #059669; }\n    .footer { text-align: center; margin-top: 30px; color: #64748B; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div style=\"text-align: center; margin-bottom: 24px;\">\n      <span class=\"status-badge\">✅ RESOLVED</span>\n    </div>\n    \n    <h2 style=\"margin: 0 0 16px 0; color: #0F172A;\">We detected and handled an issue proactively</h2>\n    \n    <p style=\"color: #334155;\">Our monitoring systems detected a potential issue with your outbound campaigns, and we've already taken action to resolve it.</p>\n    \n    <div class=\"details\">\n      <p style=\"margin: 0 0 8px 0;\"><strong>What we found:</strong> {{ $('Execute Auto-Fix Actions').first().json.details.reason }}</p>\n      <p style=\"margin: 0 0 8px 0;\"><strong>What we did:</strong> {{ $('Execute Auto-Fix Actions').first().json.auto_action }}</p>\n      <p style=\"margin: 0;\"><strong>Status:</strong> Resolved automatically</p>\n    </div>\n    \n    <p style=\"color: #334155;\">No action is required on your end. Our team is monitoring to ensure everything continues running smoothly.</p>\n    \n    <p style=\"color: #334155;\">Questions? Simply reply to this email.</p>\n    \n    <div class=\"footer\">\n      <p>Powered by XGrowthOS | Proactive Campaign Protection</p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "send-client-notification",
      "name": "Send Client Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2420, 110]
    },
    {
      "parameters": {
        "jsCode": "// Generate health check summary for logging\nconst input = $('Merge & Prioritize Issues').first().json;\n\nreturn [{\n  json: {\n    check_timestamp: new Date().toISOString(),\n    status: 'completed',\n    issues_found: input.summary?.total_issues || 0,\n    critical_issues: input.summary?.critical_count || 0,\n    actions_taken: input.all_issues?.length || 0\n  }\n}];"
      },
      "id": "generate-summary",
      "name": "Generate Check Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 330]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Health_Check_Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.check_timestamp }}",
            "status": "={{ $json.status }}",
            "issues_found": "={{ $json.issues_found }}",
            "critical_issues": "={{ $json.critical_issues }}",
            "actions_taken": "={{ $json.actions_taken }}"
          }
        }
      },
      "id": "log-check-summary",
      "name": "Log Check to History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2640, 330]
    }
  ],
  "connections": {
    "Health Check Trigger (4hr)": {
      "main": [
        [
          { "node": "Fetch All Inboxes", "type": "main", "index": 0 },
          { "node": "Fetch All Campaigns", "type": "main", "index": 0 },
          { "node": "Get Domain Health Records", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch All Inboxes": {
      "main": [
        [
          { "node": "Analyze Inbox Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch All Campaigns": {
      "main": [
        [
          { "node": "Analyze Campaign Metrics", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Domain Health Records": {
      "main": [
        [
          { "node": "Analyze Domain Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Analyze Inbox Health": {
      "main": [
        [
          { "node": "Merge All Analysis", "type": "main", "index": 0 }
        ]
      ]
    },
    "Analyze Campaign Metrics": {
      "main": [
        [
          { "node": "Merge All Analysis", "type": "main", "index": 1 }
        ]
      ]
    },
    "Analyze Domain Health": {
      "main": [
        [
          { "node": "Merge All Analysis", "type": "main", "index": 2 }
        ]
      ]
    },
    "Merge All Analysis": {
      "main": [
        [
          { "node": "Merge & Prioritize Issues", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge & Prioritize Issues": {
      "main": [
        [
          { "node": "Any Issues Detected?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Any Issues Detected?": {
      "main": [
        [
          { "node": "Execute Auto-Fix Actions", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log Healthy Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Execute Auto-Fix Actions": {
      "main": [
        [
          { "node": "Filter Queued Actions", "type": "main", "index": 0 },
          { "node": "Log Incident to Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Queued Actions": {
      "main": [
        [
          { "node": "Route by Action Type", "type": "main", "index": 0 }
        ],
        [
          { "node": "Check Critical Severity?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route by Action Type": {
      "main": [
        [
          { "node": "Execute Inbox Action", "type": "main", "index": 0 }
        ],
        [
          { "node": "Execute Campaign Pause", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Incident to Sheets": {
      "main": [
        [
          { "node": "Check Critical Severity?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Critical Severity?": {
      "main": [
        [
          { "node": "Slack Critical Alert", "type": "main", "index": 0 }
        ],
        [
          { "node": "Slack General Alert", "type": "main", "index": 0 }
        ]
      ]
    },
    "Slack Critical Alert": {
      "main": [
        [
          { "node": "Get Client Contact", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Client Contact": {
      "main": [
        [
          { "node": "Send Client Notification", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Client Notification": {
      "main": [
        [
          { "node": "Generate Check Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Slack General Alert": {
      "main": [
        [
          { "node": "Generate Check Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Log Healthy Status": {
      "main": [
        [
          { "node": "Log Check to History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Check Summary": {
      "main": [
        [
          { "node": "Log Check to History", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "XGrowthOS" },
    { "name": "Monitoring" },
    { "name": "Auto-Healing" },
    { "name": "CSM Suite" }
  ],
  "triggerCount": 1,
  "pinData": {}
}
