engines/the-informant-optimized.json
{
  "name": "I - The Informant (Auto Reporting)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": 0,
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Report Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.instantly.ai/api/v1/analytics/campaign/summary",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $now.minus(7, 'days').toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "end_date",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "instantly-metrics",
      "name": "Fetch Instantly Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Clients"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "autoGenerate"
            }
          }
        }
      },
      "id": "get-clients",
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.calendly.com/scheduled_events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calendlyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $env.CALENDLY_USER_URI }}"
            },
            {
              "name": "min_start_time",
              "value": "={{ $now.minus(7, 'days').toISO() }}"
            },
            {
              "name": "max_start_time",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "calendly-meetings",
      "name": "Fetch Meetings Booked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all metrics per client\nconst instantlyData = $('Fetch Instantly Metrics').first().json;\nconst calendlyData = $('Fetch Meetings Booked').first().json;\nconst clients = $('Get Active Clients').all();\n\nconst reports = [];\n\nfor (const client of clients) {\n  const clientData = client.json;\n  \n  // Skip inactive clients\n  if (clientData.status !== 'active') continue;\n  \n  // Filter metrics for this client's campaigns\n  const clientCampaigns = instantlyData.campaigns?.filter(\n    c => c.client_id === clientData.client_id\n  ) || [];\n  \n  // Calculate aggregated metrics\n  const totalSent = clientCampaigns.reduce((sum, c) => sum + (c.sent || 0), 0);\n  const totalOpens = clientCampaigns.reduce((sum, c) => sum + (c.opens || 0), 0);\n  const totalReplies = clientCampaigns.reduce((sum, c) => sum + (c.replies || 0), 0);\n  const totalBounces = clientCampaigns.reduce((sum, c) => sum + (c.bounces || 0), 0);\n  \n  // Calculate rates with safety checks\n  const openRate = totalSent > 0 ? ((totalOpens / totalSent) * 100).toFixed(1) : 0;\n  const replyRate = totalSent > 0 ? ((totalReplies / totalSent) * 100).toFixed(1) : 0;\n  const bounceRate = totalSent > 0 ? ((totalBounces / totalSent) * 100).toFixed(1) : 0;\n  \n  // Count meetings from Calendly\n  const meetings = calendlyData.collection?.filter(\n    m => m.client_id === clientData.client_id\n  )?.length || 0;\n  \n  // Get previous week's data for WoW comparison\n  const previousReplyRate = parseFloat(clientData.last_week_reply_rate) || parseFloat(replyRate);\n  const wowChange = previousReplyRate > 0 \n    ? (((parseFloat(replyRate) - previousReplyRate) / previousReplyRate) * 100).toFixed(0)\n    : 0;\n  \n  reports.push({\n    client_id: clientData.client_id,\n    client_name: clientData.company_name,\n    client_email: clientData.primary_email,\n    report_period: `${$now.minus(7, 'days').toFormat('MMM d')} - ${$now.toFormat('MMM d, yyyy')}`,\n    metrics: {\n      emails_sent: totalSent,\n      opens: totalOpens,\n      open_rate: openRate,\n      replies: totalReplies,\n      reply_rate: replyRate,\n      bounces: totalBounces,\n      bounce_rate: bounceRate,\n      meetings_booked: meetings\n    },\n    trends: {\n      reply_change_pct: parseInt(wowChange),\n      reply_trend: parseInt(wowChange) >= 0 ? 'up' : 'down'\n    },\n    top_campaign: clientCampaigns.sort((a, b) => (b.replies || 0) - (a.replies || 0))[0]?.name || 'N/A'\n  });\n}\n\nreturn reports.map(r => ({ json: r }));"
      },
      "id": "aggregate-metrics",
      "name": "Aggregate Client Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 110]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.instantly.ai/api/v1/account/warmup/status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instantlyApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "inbox-health",
      "name": "Check Inbox Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -110],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Enrich report with inbox health data\nconst metrics = $('Aggregate Client Metrics').all();\nconst inboxHealth = $('Check Inbox Health').first().json;\n\nreturn metrics.map(item => {\n  const clientInboxes = inboxHealth.accounts?.filter(\n    a => a.client_id === item.json.client_id\n  ) || [];\n  \n  const healthyInboxes = clientInboxes.filter(i => i.warmup_status === 'active').length;\n  const totalInboxes = clientInboxes.length;\n  const flaggedInboxes = clientInboxes.filter(i => i.warmup_status === 'flagged');\n  \n  return {\n    json: {\n      ...item.json,\n      inbox_health: {\n        total: totalInboxes,\n        healthy: healthyInboxes,\n        health_pct: totalInboxes > 0 ? ((healthyInboxes / totalInboxes) * 100).toFixed(0) : 100,\n        flagged: flaggedInboxes.map(i => i.email)\n      }\n    }\n  };\n});"
      },
      "id": "enrich-health",
      "name": "Enrich with Health Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert B2B outbound marketing analyst for XGrowthOS. Generate executive report summaries that are insightful, actionable, and professional. Focus on what matters: meetings booked, reply quality, and deliverability health. Use a confident but not salesy tone."
            },
            {
              "role": "user",
              "content": "=Generate an executive summary for this weekly report:\n\nClient: {{ $json.client_name }}\nPeriod: {{ $json.report_period }}\n\nKey Metrics:\n- Emails Sent: {{ $json.metrics.emails_sent }}\n- Open Rate: {{ $json.metrics.open_rate }}%\n- Reply Rate: {{ $json.metrics.reply_rate }}%\n- Meetings Booked: {{ $json.metrics.meetings_booked }}\n- Bounce Rate: {{ $json.metrics.bounce_rate }}%\n\nTrends:\n- Reply rate {{ $json.trends.reply_trend }} {{ Math.abs($json.trends.reply_change_pct) }}% vs last week\n\nInbox Health:\n- {{ $json.inbox_health.healthy }}/{{ $json.inbox_health.total }} inboxes healthy ({{ $json.inbox_health.health_pct }}%)\n- Flagged inboxes: {{ $json.inbox_health.flagged.join(', ') || 'None' }}\n\nTop Performing Campaign: {{ $json.top_campaign }}\n\nProvide:\n1. A 2-3 sentence executive summary highlighting the most important takeaway\n2. One specific recommendation for next week\n3. A confidence assessment (On Track / Needs Attention / At Risk)"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "generate-summary",
      "name": "Generate AI Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and structure final report\nconst enrichedData = $('Enrich with Health Data').all();\nconst aiSummaries = $('Generate AI Summary').all();\n\nreturn enrichedData.map((item, index) => {\n  const aiResponse = aiSummaries[index]?.json?.message?.content || 'Summary generation failed.';\n  \n  return {\n    json: {\n      ...item.json,\n      ai_summary: aiResponse,\n      generated_at: new Date().toISOString(),\n      report_type: 'weekly'\n    }\n  };\n});"
      },
      "id": "structure-report",
      "name": "Structure Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "// Format text report (replacing deprecated markdown node)\nconst data = $input.first().json;\n\nconst report = `Weekly Performance Report\n========================\n\nClient: ${data.client_name}\nReport Period: ${data.report_period}\nGenerated: ${data.generated_at}\n\n---\n\nEXECUTIVE SUMMARY\n${data.ai_summary}\n\n---\n\nKEY METRICS\n\n📧 Emails Sent: ${data.metrics.emails_sent}\n📬 Open Rate: ${data.metrics.open_rate}%\n💬 Reply Rate: ${data.metrics.reply_rate}%\n📅 Meetings Booked: ${data.metrics.meetings_booked}\n🚫 Bounce Rate: ${data.metrics.bounce_rate}%\n\n---\n\nTRENDS\n\nReply rate is ${data.trends.reply_trend} ${Math.abs(data.trends.reply_change_pct)}% compared to last week.\n\n---\n\nINBOX HEALTH\n\n✅ Healthy Inboxes: ${data.inbox_health.healthy}/${data.inbox_health.total} (${data.inbox_health.health_pct}%)\n⚠️ Flagged Inboxes: ${data.inbox_health.flagged.join(', ') || 'None'}\n\n---\n\nTOP PERFORMING CAMPAIGN\n${data.top_campaign}\n\n---\n\nPowered by XGrowthOS | xgrowthos.com`;\n\nreturn [{ json: { ...data, formatted_report: report } }];"
      },
      "id": "format-text-report",
      "name": "Format Text Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -110]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.XGROWTHOS_MASTER_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Report_History"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $json.client_id }}",
            "client_name": "={{ $json.client_name }}",
            "report_date": "={{ $json.generated_at }}",
            "report_type": "={{ $json.report_type }}",
            "emails_sent": "={{ $json.metrics.emails_sent }}",
            "open_rate": "={{ $json.metrics.open_rate }}",
            "reply_rate": "={{ $json.metrics.reply_rate }}",
            "meetings_booked": "={{ $json.metrics.meetings_booked }}",
            "bounce_rate": "={{ $json.metrics.bounce_rate }}",
            "inbox_health_pct": "={{ $json.inbox_health.health_pct }}",
            "ai_summary": "={{ $json.ai_summary }}"
          }
        }
      },
      "id": "log-to-sheets",
      "name": "Log Report to History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 110]
    },
    {
      "parameters": {
        "fromEmail": "reports@xgrowthos.com",
        "toEmail": "={{ $json.client_email }}",
        "subject": "=📊 Weekly Performance Report | {{ $json.client_name }} | {{ $json.report_period }}",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: 'Figtree', 'Segoe UI', Arial, sans-serif; background: #F8FAFC; color: #0F172A; padding: 40px; }\n    .container { max-width: 600px; margin: 0 auto; background: #FFFFFF; border-radius: 16px; padding: 40px; border: 1px solid #E2E8F0; box-shadow: 0 4px 6px rgba(0,0,0,0.05); }\n    .header { text-align: center; margin-bottom: 30px; }\n    .logo { font-size: 24px; font-weight: bold; color: #059669; }\n    .period { color: #64748B; font-size: 14px; margin-top: 8px; }\n    .summary { background: #F0FDF4; padding: 24px; border-radius: 12px; margin: 24px 0; border-left: 4px solid #059669; }\n    .metrics-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px; margin: 24px 0; }\n    .metric { background: #F8FAFC; padding: 20px; border-radius: 12px; text-align: center; border: 1px solid #E2E8F0; }\n    .metric-value { font-size: 28px; font-weight: bold; color: #059669; }\n    .metric-label { font-size: 12px; color: #64748B; text-transform: uppercase; margin-top: 4px; }\n    .health { padding: 16px; background: #F8FAFC; border-radius: 12px; margin: 24px 0; border: 1px solid #E2E8F0; }\n    .health-bar { height: 8px; background: #E2E8F0; border-radius: 4px; overflow: hidden; margin-top: 8px; }\n    .health-fill { height: 100%; background: linear-gradient(90deg, #059669, #10B981); border-radius: 4px; }\n    .footer { text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #E2E8F0; color: #64748B; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"logo\">XGROWTHOS</div>\n      <div class=\"period\">{{ $json.report_period }}</div>\n    </div>\n    \n    <div class=\"summary\">\n      <h3 style=\"margin: 0 0 12px 0; color: #059669;\">Executive Summary</h3>\n      <p style=\"margin: 0; line-height: 1.6; color: #334155;\">{{ $json.ai_summary }}</p>\n    </div>\n    \n    <div class=\"metrics-grid\">\n      <div class=\"metric\">\n        <div class=\"metric-value\">{{ $json.metrics.emails_sent }}</div>\n        <div class=\"metric-label\">Emails Sent</div>\n      </div>\n      <div class=\"metric\">\n        <div class=\"metric-value\">{{ $json.metrics.meetings_booked }}</div>\n        <div class=\"metric-label\">Meetings Booked</div>\n      </div>\n      <div class=\"metric\">\n        <div class=\"metric-value\">{{ $json.metrics.open_rate }}%</div>\n        <div class=\"metric-label\">Open Rate</div>\n      </div>\n      <div class=\"metric\">\n        <div class=\"metric-value\">{{ $json.metrics.reply_rate }}%</div>\n        <div class=\"metric-label\">Reply Rate</div>\n      </div>\n    </div>\n    \n    <div class=\"health\">\n      <div style=\"display: flex; justify-content: space-between; align-items: center;\">\n        <span style=\"color: #334155;\">Inbox Health</span>\n        <span style=\"color: #059669; font-weight: 600;\">{{ $json.inbox_health.health_pct }}%</span>\n      </div>\n      <div class=\"health-bar\">\n        <div class=\"health-fill\" style=\"width: {{ $json.inbox_health.health_pct }}%;\"></div>\n      </div>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Powered by XGrowthOS</p>\n      <p>Questions? Reply to this email or contact your success manager.</p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "send-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "channel": "#client-reports",
        "text": "=📊 *Weekly Report Sent*\n\n*Client:* {{ $json.client_name }}\n*Meetings Booked:* {{ $json.metrics.meetings_booked }}\n*Reply Rate:* {{ $json.metrics.reply_rate }}%\n*Inbox Health:* {{ $json.inbox_health.health_pct }}%\n\n_Report delivered to {{ $json.client_email }}_",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "Notify Team on Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "monthly-check",
              "leftValue": "={{ $now.day }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "monthly-check",
      "name": "Is First of Month?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 220]
    },
    {
      "parameters": {
        "jsCode": "// Generate monthly report with trend analysis\nconst currentReport = $input.first().json;\n\nconst monthlyReport = {\n  ...currentReport,\n  report_type: 'monthly',\n  monthly_summary: {\n    total_meetings: currentReport.metrics.meetings_booked * 4,\n    avg_reply_rate: currentReport.metrics.reply_rate,\n    total_sent: currentReport.metrics.emails_sent * 4,\n    month: $now.toFormat('MMMM yyyy')\n  }\n};\n\nreturn [{ json: monthlyReport }];"
      },
      "id": "generate-monthly",
      "name": "Generate Monthly Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 220]
    }
  ],
  "connections": {
    "Weekly Report Trigger": {
      "main": [
        [
          { "node": "Fetch Instantly Metrics", "type": "main", "index": 0 },
          { "node": "Get Active Clients", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Instantly Metrics": {
      "main": [
        [
          { "node": "Fetch Meetings Booked", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          { "node": "Aggregate Client Metrics", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Meetings Booked": {
      "main": [
        [
          { "node": "Aggregate Client Metrics", "type": "main", "index": 0 },
          { "node": "Check Inbox Health", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Inbox Health": {
      "main": [
        [
          { "node": "Enrich with Health Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aggregate Client Metrics": {
      "main": [
        [
          { "node": "Enrich with Health Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Enrich with Health Data": {
      "main": [
        [
          { "node": "Generate AI Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate AI Summary": {
      "main": [
        [
          { "node": "Structure Final Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Structure Final Report": {
      "main": [
        [
          { "node": "Format Text Report", "type": "main", "index": 0 },
          { "node": "Log Report to History", "type": "main", "index": 0 },
          { "node": "Send Report Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          { "node": "Notify Team on Slack", "type": "main", "index": 0 },
          { "node": "Is First of Month?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is First of Month?": {
      "main": [
        [
          { "node": "Generate Monthly Report", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "XGrowthOS" },
    { "name": "Client Success" },
    { "name": "Reporting" },
    { "name": "CSM Suite" }
  ],
  "triggerCount": 1,
  "pinData": {}
}
